<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.opple.fa.assetcard.dao.MachineryEquipmentDAO">

    <!-- oracle 分页头 -->
    <sql id="pagination_Head" >
        <![CDATA[select * from ( select row_.*, rownum rownum_ from ( ]]>
    </sql>
    <!-- oracle 分页尾 -->
    <sql id="pagination_Tail">
        <![CDATA[) row_ where rownum <= #{pager.pageSize}* #{pager.offset} ) where rownum_ >= #{pager.firstResult} + 1]]>
    </sql>
    <!-- count * from -->
	<sql id="count_Start_Head">
		<![CDATA[select count(*) from ( ]]>
	</sql>
	<sql id="count_Start_Tail">
		<![CDATA[) countObj ]]>
	</sql>
	<resultMap id="engineryMap" type="com.opple.fa.assetcard.entity.MachineryEquipment">
        <result property="id" column="ID"/>
  		<result property="createBy" column="CREATE_BY"/>
  		<result property="createDate" column="CREATE_DATE"/>
  		<result property="updateBy" column="UPDATE_BY"/>
  		<result property="updateDate" column="UPDATE_DATE"/>
  		<result property="deletedFlag" column="DELETED_FLAG"/>
  		<result property="shopType" column="SHOP_TYPE"/>
  		<result property="machineCode" column="MACHINE_CODE"/>
  		<result property="purchaseId" column="PURCHASE_ID"/>
  		<result property="checkAcceptId" column="CHECK_ACCEPT_ID"/>
		<result property="currentYearNoDepreciation" column="CURRENT_YEAR_NO_DEPRECIATION"/>
  		<result property="monthCountingDepreciation" column="MONTH_COUNTING_DEPRECIATION"/>
  		<result property="currentYearDepreciation" column="CURRENT_YEAR_DEPRECIATION"/>
  		<result property="currentYearMonths" column="CURRENT_YEAR_MONTHS"/>
		<result property="putUnderManageCode" column="PUT_UNDER_MANAGE_CODE"/>
	
	</resultMap>
	
	<sql id="tb_fa_machinery_equipment">
		SELECT tb_fa_machinery_equipment_.ID,
			tb_fa_machinery_equipment_.CREATE_BY,
			tb_fa_machinery_equipment_.CREATE_DATE,
			tb_fa_machinery_equipment_.UPDATE_BY,
			tb_fa_machinery_equipment_.UPDATE_DATE,
			tb_fa_machinery_equipment_.DELETED_FLAG,
			tb_fa_machinery_equipment_.SHOP_TYPE,
			tb_fa_machinery_equipment_.MACHINE_CODE,
			tb_fa_machinery_equipment_.PURCHASE_ID,
			tb_fa_machinery_equipment_.CHECK_ACCEPT_ID,
			tb_fa_machinery_equipment_.CURRENT_YEAR_NO_DEPRECIATION,
			tb_fa_machinery_equipment_.MONTH_COUNTING_DEPRECIATION,
			tb_fa_machinery_equipment_.CURRENT_YEAR_DEPRECIATION,
			tb_fa_machinery_equipment_.CURRENT_YEAR_MONTHS,
			tb_fa_machinery_equipment_.PUT_UNDER_MANAGE_CODE
			FROM TB_FA_MACHINERY_EQUIPMENT tb_fa_machinery_equipment_
	</sql>
	
	<select id="searchMachineryEquipment" resultMap="engineryMap">
		<include refid="tb_fa_machinery_equipment"></include>
		<if test="machineryEquipment.id !=null and machineryEquipment.id !=''">
			WHERE tb_fa_machinery_equipment_.ID = #{machineryEquipment.id}
			AND tb_fa_machinery_equipment_.DELETED_FLAG = 0
		</if>
	
	</select>
	<insert id="insertMachineryEquipment" keyProperty="id" useGeneratedKeys="true" parameterType="com.opple.fa.assetcard.entity.MachineryEquipment">
	<selectKey keyProperty="id"  order="BEFORE" resultType="long">
		select seq_machinery_equipment.nextval as id from dual
	</selectKey>
		insert into TB_FA_MACHINERY_EQUIPMENT
		(ID,
		CREATE_BY,
		CREATE_DATE,
		UPDATE_BY,
		UPDATE_DATE,
		DELETED_FLAG,
		SHOP_TYPE,
		MACHINE_CODE,
		PURCHASE_ID,
		CHECK_ACCEPT_ID,
		DEMAND_ORDER_ID,
		APPLY_ORDER_ID,
		CURRENT_YEAR_NO_DEPRECIATION,
		MONTH_COUNTING_DEPRECIATION,
		CURRENT_YEAR_DEPRECIATION,
		CURRENT_YEAR_MONTHS,
		PUT_UNDER_MANAGE_CODE
		)
		values(
		#{id},
		#{createBy},
		#{createDate},
		#{updateBy},
		#{updateDate},
		'0',
		#{shopType},
		#{machineCode},
		#{purchaseId},
		#{checkAcceptId},
		#{demandId},
		#{applyId},
		#{currentYearNoDepreciation},
		#{monthCountingDepreciation},
		#{currentYearDepreciation},
		#{currentYearMonths},
		#{putUnderManageCode}
		)
	</insert>

	<update id="updateMachineryEquipmentCard" parameterType="com.opple.fa.assetcard.entity.MachineryEquipment">
		update TB_FA_MACHINERY_EQUIPMENT
        <trim prefix="SET" suffixOverrides=",">
		
            SHOP_TYPE=#{shopType},
      
        <if test="null != machineCode and '' != machineCode">
            MACHINE_CODE = #{machineCode},
        </if>
        <if test="null != putUnderManageCode and '' != putUnderManageCode">
            PUT_UNDER_MANAGE_CODE = #{putUnderManageCode},
        </if>
        </trim>

		where ID=#{id}
	</update>
	<update id="updateMachineryEquipmentCard1" parameterType="com.opple.fa.assetcard.entity.MachineryEquipment">
		update TB_FA_MACHINERY_EQUIPMENT
		set
				SHOP_TYPE=#{shopType}
			<if test="null != machineCode and '' != machineCode">
				,MACHINE_CODE = #{machineCode}
			</if>
			<if test="null != putUnderManageCode and '' != putUnderManageCode">
				,PUT_UNDER_MANAGE_CODE = #{putUnderManageCode}
			</if>

		where ID=#{id}
	</update>
	<update id="updateMachineryEquipmentCard2" parameterType="com.opple.fa.assetcard.entity.MachineryEquipment">
		update TB_FA_MACHINERY_EQUIPMENT
		set
				SHOP_TYPE=#{shopType},
				MACHINE_CODE = #{machineCode},
				PUT_UNDER_MANAGE_CODE = #{putUnderManageCode}

		where ID=#{id}
	</update>
	<update id="deleteMachineryEquipment">
		update TB_FA_MACHINERY_EQUIPMENT
		 set deleted_flag='1'
		 where id=#{id}
	</update>
	<update id="updateLeadingMachinery" parameterType="com.opple.fa.assetcard.entity.MachineryEquipment">
	update TB_FA_MACHINERY_EQUIPMENT
	set
	MACHINE_CODE = #{machineCode},
	PUT_UNDER_MANAGE_CODE = #{putUnderManageCode},
	SHOP_TYPE=#{shopType}
	where ID=#{id}
	</update>
</mapper>

