BODY {
	PADDING-RIGHT: 8px; PADDING-LEFT: 8px; FONT-SIZE: 70%; BACKGROUND: #ffffff; PADDING-BOTTOM: 8px; MARGIN: 0px; COLOR: #333333; LINE-HEIGHT: 130%; PADDING-TOP: 8px; FONT-STYLE: normal; FONT-FAMILY: Verdana,"Segoe UI Bold",sans-serif
}
SELECT {
	FONT-SIZE: 100%; VERTICAL-ALIGN: middle; COLOR: #333333; FONT-FAMILY: Verdana,"Segoe UI Bold",sans-serif
}
TABLE {
	FONT-SIZE: 100%; MARGIN: 0px; COLOR: #333333; FONT-FAMILY: Verdana,"Segoe UI Bold",sans-serif
}
TR {
	FONT-SIZE: 100%; MARGIN: 0px; COLOR: #333333; FONT-FAMILY: Verdana,"Segoe UI Bold",sans-serif
}
TD {
	FONT-SIZE: 100%; MARGIN: 0px; COLOR: #333333; FONT-FAMILY: Verdana,"Segoe UI Bold",sans-serif
}
TH {
	FONT-SIZE: 100%; MARGIN: 0px; COLOR: #333333; FONT-FAMILY: Verdana,"Segoe UI Bold",sans-serif
}
TBODY {
	FONT-SIZE: 100%; MARGIN: 0px; COLOR: #333333; FONT-FAMILY: Verdana,"Segoe UI Bold",sans-serif
}
FORM {
	VERTICAL-ALIGN: middle
}
P {
	MARGIN: 0px 0px 1.2em
}
H4 {
	FONT-WEIGHT: bold; MARGIN: 0px; COLOR: #777777; LINE-HEIGHT: 145%
}
H5 {
	FONT-WEIGHT: bold; MARGIN: 0px; COLOR: #777777; LINE-HEIGHT: 145%
}
.LINKHEAD {
	FONT-WEIGHT: bold; MARGIN: 0px; COLOR: #777777; LINE-HEIGHT: 145%
}
H4 {
	FONT-SIZE: 110%; MARGIN: 4px 0px
}
H5 {
	FONT-SIZE: 100%; MARGIN: 4px 0px
}
A {
	COLOR: #0088e4; TEXT-DECORATION: none
}
A:visited {
	COLOR: #0088e4; TEXT-DECORATION: none
}
A:hover {
	COLOR: #0088e4; TEXT-DECORATION: underline
}
OL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 1em; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 20px 1em; PADDING-TOP: 0px
}
UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 1em; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 20px 1em; PADDING-TOP: 0px; LIST-STYLE-TYPE: disc
}
LI {
	MARGIN: 0px 0px 3px
}
IMG {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; BORDER-LEFT: 0px; BORDER-BOTTOM: 0px
}
BUTTON {
	BORDER-RIGHT: #00156e 0.1em solid; BORDER-TOP: #00156e 0.1em solid; FONT-SIZE: 95%; BACKGROUND: url(HigButton_Rest.gif) #f1f1f1 repeat-x center 50%; MARGIN-LEFT: 5px; VERTICAL-ALIGN: middle; BORDER-LEFT: #00156e 0.1em solid; WIDTH: 7em; COLOR: #00156e; BORDER-BOTTOM: #00156e 0.1em solid; FONT-FAMILY: Verdana; HEIGHT: 2em
}
BUTTON.rest {
	
}
BUTTON.pressed {
	BACKGROUND-IMAGE: url(HigButton_Pressed.gif); BACKGROUND-COLOR: #b7d8ed
}
BUTTON.default {
	BACKGROUND-IMAGE: url(HigButton_Default.gif)
}
BUTTON.hover {
	BACKGROUND-IMAGE: url(HigButton_Hot.gif)
}
BUTTON.focus {
	BACKGROUND-IMAGE: url(HigButton_Hot.gif); BACKGROUND-COLOR: #00156e
}
.toollabel {
	COLOR: #00156e
}
P.progress {
	FONT-WEIGHT: bold
}
TD#colleft {
	BORDER-RIGHT: #549fe3 1px solid; PADDING-RIGHT: 8px; BORDER-TOP: #549fe3 1px solid; PADDING-LEFT: 8px; PADDING-BOTTOM: 0px; BORDER-LEFT: #549fe3 1px solid; PADDING-TOP: 8px; BORDER-BOTTOM: #549fe3 1px solid
}
TD#colright {
	BORDER-RIGHT: #549fe3 1px solid; PADDING-RIGHT: 8px; BORDER-TOP: #549fe3 1px solid; PADDING-LEFT: 8px; PADDING-BOTTOM: 0px; BORDER-LEFT: #549fe3 1px solid; PADDING-TOP: 8px; BORDER-BOTTOM: #549fe3 1px solid
}
TD#colmid {
	CURSOR: e-resize
}
DIV#projects {
	MARGIN-BOTTOM: 8px
}
SELECT#projsel {
	WIDTH: 100%
}
DIV#search {
	PADDING-BOTTOM: 8px; BORDER-BOTTOM: #e9e9e9 1px solid
}
TD#querycell {
	BORDER-RIGHT: #888888 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #888888 1px solid; BORDER-LEFT: #888888 1px solid; BORDER-BOTTOM: #888888 1px solid
}
INPUT#helpquery {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 3px; FONT-SIZE: 100%; PADDING-BOTTOM: 0px; BORDER-LEFT: 0px; WIDTH: 100%; COLOR: #777777; PADDING-TOP: 3px; BORDER-BOTTOM: 0px; FONT-FAMILY: Verdana,"Segoe UI Bold",sans-serif; HEIGHT: 16px
}
IMG#searchsubmit {
	MARGIN-LEFT: 2px
}
#tlhelphead {
	PADDING-BOTTOM: 9px
}
#tlcommhead {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 9px; PADDING-TOP: 9px
}
#tlhelplinks {
	PADDING-RIGHT: 2px
}
#tlcommlinks {
	PADDING-RIGHT: 2px
}
#tocnav {
	PADDING-RIGHT: 0px; BORDER-TOP: #e9e9e9 1px solid; PADDING-LEFT: 0px; FONT-WEIGHT: bold; PADDING-BOTTOM: 12px; PADDING-TOP: 12px
}
#faqnav {
	PADDING-RIGHT: 0px; BORDER-TOP: #e9e9e9 1px solid; PADDING-LEFT: 0px; FONT-WEIGHT: bold; PADDING-BOTTOM: 12px; PADDING-TOP: 12px
}
DIV#history {
	VERTICAL-ALIGN: middle; WHITE-SPACE: nowrap
}
#histprev {
	MARGIN-RIGHT: 16px
}
#histprev IMG {
	VERTICAL-ALIGN: middle; MARGIN-RIGHT: 4px
}
#histnext IMG {
	MARGIN-LEFT: 4px; VERTICAL-ALIGN: middle
}
IMG#printimg {
	MARGIN-RIGHT: 4px
}
IMG#helpcommimg {
	MARGIN-RIGHT: 4px
}
SPAN#hlpcomm {
	DISPLAY: none; MARGIN-RIGHT: 8px; WHITE-SPACE: nowrap
}
SPAN#print {
	WHITE-SPACE: nowrap
}
TD#tdprint {
	WHITE-SPACE: nowrap
}
#topic {
	PADDING-RIGHT: 8px; PADDING-LEFT: 8px; PADDING-BOTTOM: 8px; WIDTH: 100%; PADDING-TOP: 8px
}
#topiccontents {
	PADDING-RIGHT: 4px; OVERFLOW: auto
}
#topicheader {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; MARGIN-BOTTOM: 4px; PADDING-BOTTOM: 8px; PADDING-TOP: 0px; BORDER-BOTTOM: #e9e9e9 1px solid
}
#topictitle {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; MARGIN-BOTTOM: 4px; PADDING-BOTTOM: 8px; PADDING-TOP: 0px; BORDER-BOTTOM: #e9e9e9 1px solid
}
#topiccontent{
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; MARGIN-BOTTOM: 4px; PADDING-BOTTOM: 8px; PADDING-TOP: 0px; BORDER-BOTTOM: #e9e9e9 1px solid
}
#topicinterfix{
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; MARGIN-BOTTOM: 4px; PADDING-BOTTOM: 8px; PADDING-TOP: 0px; BORDER-BOTTOM: #e9e9e9 1px solid
}

#topicfooter {
	PADDING-RIGHT: 0px; BORDER-TOP: #e9e9e9 1px solid; MARGIN-TOP: 4px; PADDING-LEFT: 0px; PADDING-BOTTOM: 4px; PADDING-TOP: 12px
}
#topicfdbck {
	PADDING-RIGHT: 0px; BORDER-TOP: #e9e9e9 1px solid; MARGIN-TOP: 4px; PADDING-LEFT: 0px; PADDING-BOTTOM: 4px; PADDING-TOP: 12px
}
#topicrating {
	
}
#rateimg {
	WHITE-SPACE: nowrap
}
#topiclist {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 12px; OVERFLOW: auto; PADDING-TOP: 12px
}
#viewmorehelp {
	MARGIN: 0px 4px; TEXT-ALIGN: right
}
#viewmorecomm {
	MARGIN: 0px 4px; TEXT-ALIGN: right
}
#wlprinthead {
	DISPLAY: none
}
TEXTAREA#fdbckarea {
	FONT-SIZE: 100%; WIDTH: 100%; COLOR: #777777; FONT-FAMILY: Verdana,"Segoe UI Bold",sans-serif
}
#dtReturnLinkRule {
	MARGIN: 5px 0px 3px; WIDTH: 100%; COLOR: #e9e9e9; HEIGHT: 1px
}
#dtIFrame {
	BORDER-RIGHT: #ffffff 0px; BORDER-TOP: #ffffff 0px; BORDER-LEFT: #ffffff 0px; WIDTH: 100%; BORDER-BOTTOM: #ffffff 0px; HEIGHT: 100%
}
#dtnavlink {
	FONT-WEIGHT: bold; MARGIN: 12px 0px 3px
}
#dtnavsubtext {
	MARGIN: 0px 0px 5px
}
H4#cmtythreadttl {
	MARGIN-BOTTOM: 16px; WHITE-SPACE: normal! important
}
DIV.cmtymsghead {
	
}
DIV.cmtymsgbody {
	
}
DIV.cmtymsg {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 8px; PADDING-TOP: 8px
}
DIV.cmtymsgba {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 8px; PADDING-TOP: 8px
}
DIV.cmtymsgba {
	BACKGROUND: #ebf2e5
}
HR.cmtymsgrule {
	WIDTH: 33%; COLOR: #e9e9e9
}
DIV.toc {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
P.toc {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px 0px -10px 15px; PADDING-TOP: 0px
}
UL.toc {
	PADDING-RIGHT: 0px; PADDING-LEFT: 1em; PADDING-BOTTOM: 0px; MARGIN: 4px 4px 0px 15px; PADDING-TOP: 0px
}
LI.toc {
	MARGIN: 0px 0px 4px
}
UL P.toc {
	MARGIN: 15px 0px -10px
}
UL LI.toc {
	MARGIN: 15px 0px -10px
}
P.linkp {
	MARGIN: 0px 0px 3px
}
IMG.plusminus {
	PADDING-RIGHT: 4px; MARGIN-LEFT: -15px; VERTICAL-ALIGN: baseline
}
CODE {
	FONT-SIZE: 125%; FONT-FAMILY: "Courier New"
}
TH.gray {
	BACKGROUND: #dddddd
}
TD.gray {
	BACKGROUND: #eeeeee
}
DIV.notes {
	MARGIN-TOP: 1.2em
}
DIV.tips {
	MARGIN-TOP: 1.2em
}
DIV.notes P.otherh {
	COLOR: #000000
}
FONT.keywords {
	DISPLAY: none; FONT-SIZE: xx-small; VISIBILITY: hidden; COLOR: #ffffff
}
.loc_language {
	DISPLAY: none; FONT-SIZE: xx-small; VISIBILITY: hidden; COLOR: #ffffff
}
.DEFINITIONS {
	MARGIN-BOTTOM: 1.1em
}
.FAQ_ENTRY {
	MARGIN-TOP: 4px
}
.FAQ_ANSWER {
	MARGIN: 4px 0px 4px 15px
}
.GLOSSARY_TEXT {
	COLOR: #286428; FONT-STYLE: italic
}
.HEADING {
	FONT-WEIGHT: bold
}
.INSTRUCTIONS {
	MARGIN-BOTTOM: 1.1em
}
.INSTRUCTION_INTRO {
	MARGIN-BOTTOM: 1em
}
.INSTRUCTION_LIST {
	MARGIN: 0em 0em 0em 2em; PADDING-TOP: 8px
}
.INTRO {
	MARGIN-BOTTOM: 1em
}
.ISSUES {
	MARGIN-LEFT: 10pt
}
.LINKHEAD {
	FONT-SIZE: 100%; MARGIN: 8px 0px 4px
}
.MEGA_INSTRUCTION_CONTENT {
	MARGIN: 4px 0px 4px 15px
}
.MORE_INFO {
	MARGIN-BOTTOM: 1.1em
}
.OPTIONAL_INSTRUCTION {
	MARGIN: 6px 0px 4px -25px
}
.OPTIONAL_INSTRUCTION_LEFT_CELL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.OPTIONAL_INSTRUCTION_RIGHT_CELL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.OPTIONAL_INSTRUCTION_ARROW {
	MARGIN: 2px 11px 0px 4px
}
.OPTIONAL_INSTRUCTION_SPAN {
	DISPLAY: block; MARGIN-LEFT: 6px; PADDING-TOP: 2px
}
.STATEMENT {
	FONT-WEIGHT: bold
}
.SUPERTOPIC_CHOICES {
	MARGIN-BOTTOM: 1em
}
.SUBTOPIC_CHOICES {
	MARGIN-BOTTOM: 1em
}
.TAKE_ME_THERE_INSTRUCTIONS {
	MARGIN: 4px 0px
}
.TASKS {
	MARGIN-BOTTOM: 1.1em
}
.TD_SUPERTOPIC_CHOICE_BUTTON {
	PADDING-RIGHT: 0em; PADDING-LEFT: 0em; PADDING-BOTTOM: 0em; VERTICAL-ALIGN: top; PADDING-TOP: 0em
}
.TD_SUPERTOPIC_CHOICE_TEXT {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 4px; VERTICAL-ALIGN: middle; PADDING-TOP: 0px
}
.TD_SUBTOPIC_CHOICE_BUTTON {
	PADDING-RIGHT: 0em; PADDING-LEFT: 0em; PADDING-BOTTOM: 0em; VERTICAL-ALIGN: top; PADDING-TOP: 0em
}
.TD_SUBTOPIC_CHOICE_TEXT {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 4px; VERTICAL-ALIGN: middle; PADDING-TOP: 0px
}
.TD_GRAY {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: #f5f7fc; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.TroubleshootLink {
	MARGIN-BOTTOM: 1.1em
}
A.ONCLICK {
	COLOR: #0088e4; TEXT-DECORATION: none
}
A.TMT_LINK {
	COLOR: #59628b
}
A.ONCLICKhover {
	CURSOR: pointer; TEXT-DECORATION: underline
}
A.TMT_LINKhover {
	CURSOR: pointer; TEXT-DECORATION: underline
}
OBJECT#uictls {
	DISPLAY: none
}
.form {
	BORDER-RIGHT: #7f9db9 1px solid; BORDER-TOP: #7f9db9 1px solid; FONT-SIZE: 11px; BACKGROUND: #eff0f0; BORDER-LEFT: #7f9db9 1px solid; BORDER-BOTTOM: #7f9db9 1px solid; FONT-FAMILY: Verdana
}
.lionrong {
	background-color: #FFFFCC;
	border: 1px solid #549FE3;
	font-size:12px;
	color:#000000;
	line-height: 18px;
	padding-left:10px;
	padding-right:10px;
	padding-top:5px;
	padding-bottom:10px;
}

.Highlight {
color: #549FE3;
font-style: italic; 
font-size: larger; 
} 

.row {
	BACKGROUND: #ffffff; WIDTH: 100%; BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none; empty-cells: show
}
.row TD {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; PADDING-BOTTOM: 4px; PADDING-TOP: 4px; BORDER-BOTTOM: #e1f3fc 1px solid
}
.row1 {
	BACKGROUND: #f5fbff; WIDTH: 100%; BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none; empty-cells: show
}
.row1 TD {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; PADDING-BOTTOM: 4px; PADDING-TOP: 4px; BORDER-BOTTOM: #e1f3fc 1px solid
}