/*初始化*/ 

input, button, textarea, select{font-size:12px arial,Simsun,sans-serif;}

img{border:none; border:0;}
img.b{display:block;}
.right{float:right;}
.left{float:left;}
/*h1,h2,h3,h4,h5,h6{font:12px  arial,Simsun;}*/

/*
 * General Style
 */
body
{
	margin:0;
	padding:0px;
	height:100%;
	width:100%;
	font:12px arial,helvetica,sans-serif;
	color:#666;
}

table
{
    a:expression(this.cellSpacing=0);
    font-family:arial,helvetica,sans-serif;
    font-size:10pt;
    /*b:expression(this.cellPadding=0);*/
}

ul ol li
{
	list-style-type:none;
}

/*masterpage上的div样式*/
.master
{
	padding:0px 280px 20px 220px;
}


/*
 * 超链接样式
 */
A:link 
{
	color: #0070aa;
	text-decoration:none;
}
A:visited 
{
	color: #0070aa; 
	text-decoration:none;
}
A:hover 
{
	color: red; 
	text-decoration:none;
}
A:active 
{
	color: #0070aa; 
	text-decoration:none;
}

.input_text
{
	/*
	border: 0;
	border-bottom:solid 1px #ab273e;
	*/
	width:200px;
	border:1px solid #D4D4D4;
	height:17px;
}

.input_button
{
	width:100px;
	/*border:solid 1px #ab273e;
	*/
	border:none;
	background:url(../Images/btn_bg.jpg) no-repeat;
	color:#000000;
	vertical-align:middle;
	height:22px;
}

UNKNOWN 
{
	margin: 5px 10px 10px; font: 9pt arial, helvetica
}

/*
/*
 * INPUT STYLE
 */
 .input_normal 
{
	border: #7f9db9 1px solid; 
	font-family: arial,Simsun,sans-serif; 
	text-align:left;
	vertical-align:middle;
	background-color: #ffffff;
}

/*Element IDs*/
#mainWrapper
{
	width:800px;
	margin:0 auto 0px auto;
}

#top
{
    background: url(../Images/top_bg.jpg) repeat-x;
}

/*content*/
#content
{
	overflow:visible;
	min-height:480px;
	/*兼容IE6.0*/
	height: auto !important;
	height: 712px !important;
	margin-top: 10px;
}

#footer
{
	width:800px; 
	border-top:1px solid #ccc;  
	/*
	bottom:0px;
	position:absolute;
	*/
	margin-top:15px;
}

#footer ul
{
	list-style-type:none;
	width:100%;
	padding-top:0px;
	padding-left:0px;
	margin:0px;
}
#footer li
{
	margin:2px auto 2px auto;
	display:block;
	float:left; 
	width:440px;
	text-align:center;
}

#footer a
{
	display:block;
	text-decoration:none;
	text-align:left;
	padding-left:10px;
}

.title
{ 
	background:url(../Images/dot3.gif) no-repeat; 
	border-bottom:1px dotted #90b4d4; 
	padding:0px 0px 2px 10px; 
	margin-bottom:10px; 
	height:12px;
}

.titleNoBack
{ 
	border-bottom:1px dotted #90b4d4; 
	padding:0px 0px 2px 10px; 
	margin-bottom:10px; 
}

.spanRightTitle
{
	font:12px arial, helvetica;
	float:right;
}

.spanLeftTitle
{
    float: left; color: #0099CC; font-weight: bold; font-size:12px;
}

.register{ width:720px; margin-left:20px;}
.register td{ height: 26px; vertical-align:middle; color:#868686; }
.register label{ padding-right:13px;}