<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
		PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.opple.fa.myTasks.dao.MyApplyTasksDAO">
	<!-- oracle 分页头 -->
	<sql id="pagination_Head" >
		<![CDATA[select * from ( select row_.*, rownum rownum_ from ( ]]>
	</sql>
	<!-- oracle 分页尾 -->
	<sql id="pagination_Tail">
		<![CDATA[) row_ where rownum <= #{pager.pageSize}* #{pager.offset} ) where rownum_ >= #{pager.firstResult} + 1]]>
	</sql>
	<!-- count * from -->
	<sql id="count_Start_Head">
		<![CDATA[select count(*) from ( ]]>
	</sql>
	<sql id="count_Start_Tail">
		<![CDATA[) countObj ]]>
	</sql>
	<resultMap id="myApplyTasksResultMap" type="com.opple.fa.myTasks.entity.MyApplyTasks">
		<result property="document" column="document"/>
		<result property="typeId" column="TYPEID"/>
		<result property="budgetDepartmentName" column="BUDGET_DEPARTMENT_NAME"/>
		<result property="applyUser" column="APPLY_USER"/>
		<!-- 实体类中为String类型，表中为date类型，需要转化-->
		<result property="applyDate" column="APPLY_DATE"/>
		<result property="assetType" column="ASSET_TYPE"/>
		<!-- 申请金额-->
	
		<!-- 审批金额-->
		<result property="iamoney" column="IAMONEY"/>
		<result property="documentStatus" column="documentStatus"/>
		<result property="documentType" column="documentType"/>
		<result property="userCode" column="userCode"/>
	</resultMap>
	<!-- 我的待办模糊查询 -->
	<!-- 所有单据类型-->
	<sql id="search_my_apply_tasks_fragment">
		<include refid="search_my_demand_order"/>
	 	union all
		<include refid="search_my_apply_order" />
		union all
		<include refid="search_my_receive_goods"/>
		union all
		<include refid="search_my_purchase_order" />
		union all
		<include refid="search_my_purchase_fk" /> 

	</sql>

	<!-- 1采购需求申请待办-->

	<sql id="search_my_demand_order">
	select distinct  o.cdocument document,
      o.apply_user APPLY_USER,
      o.apply_department BUDGET_DEPARTMENT_NAME,
      <!-- o.apply_date APPLY_DATE, -->
      o.dlastadate APPLY_DATE,
      o.asset_type ASSET_TYPE,
      to_char(o.iamoney) IAMONEY,
      '1' as documentType
	  from tb_fa_demand_order o
      LEFT JOIN T_WF_BILL_STEP TS
       ON o.CDOCUMENT = TS.CBILLCODE
	  where  o.capprovalstate='已完成' and o.order_status='未关闭' and o.status='Y' 
        AND (
        o.apply_user_code = #{myApplyTasks.userCode}
        OR o.CNEXTHANDLERCODE = #{myApplyTasks.userCode}
        OR TS.CUSERCODE = #{myApplyTasks.userCode}
        OR TS.CUSERCODE IN (SELECT CAUTHORIZERCODE FROM T_APPROVALEMPOWER
        WHERE CUSERCODE = #{myApplyTasks.userCode}
        AND SYSDATE BETWEEN CBEGINTIME AND CENDTIME AND CSTATUS='Y' AND CAPPROVALEND='Y')
        OR o.CNEXTHANDLERCODE IN (SELECT CAUTHORIZERCODE FROM T_APPROVALEMPOWER
        WHERE CUSERCODE = #{myApplyTasks.userCode}
        AND SYSDATE BETWEEN CBEGINTIME AND CENDTIME AND CSTATUS='Y' AND CAPPROVALEND='Y')
        OR o.apply_user_code IN (SELECT CAUTHORIZERCODE FROM T_APPROVALEMPOWER
        WHERE CUSERCODE = #{myApplyTasks.userCode}
        AND SYSDATE BETWEEN CBEGINTIME AND CENDTIME AND CSTATUS='Y' AND CAPPROVALEND='Y')
      
        )
		<if test="myApplyTasks.userCode !=null and myApplyTasks.userCode != ''">
			and o.ATTACH_DEPART_ADMIN_CODE =#{myApplyTasks.userCode}
		</if>
		 <if test="myApplyTasks.document !=null and myApplyTasks.document != ''">
				and o.cdocument =#{myApplyTasks.document}
		</if>
		<if test="myApplyTasks.applyUser != null and myApplyTasks.applyUser !='' ">
			and o.apply_user like '%' || #{myApplyTasks.applyUser} || '%'
		</if>
		<if test="myApplyTasks.beginDate != null and myApplyTasks.beginDate != '' ">
			and  o.apply_date <![CDATA[>]]>  to_date(#{myApplyTasks.beginDate},'yyyy-MM-dd')
		</if>
		<if test="myApplyTasks.endDate != null and myApplyTasks.endDate != '' ">
			and  o.apply_date <![CDATA[<]]>  to_date(#{myApplyTasks.endDate},'yyyy-MM-dd')
		</if>
		<if test="myApplyTasks.assetType != null and myApplyTasks.assetType !='' ">
			and o.ASSET_TYPE like '%' || #{myApplyTasks.assetType} || '%'
		</if>
		<if test="myApplyTasks.budgetDepartmentName != null and myApplyTasks.budgetDepartmentName !='' ">
			and o.apply_department like '%' || #{myApplyTasks.budgetDepartmentName} || '%'
		</if>
		
	</sql>
	<!-- 2采购申请待办-->
	<sql id="search_my_apply_order">
	select distinct aorder.cdocument document, 
       aorder.apply_user APPLY_USER,
       aorder.apply_department BUDGET_DEPARTMENT_NAME,
       <!-- aorder.apply_date APPLY_DATE, -->
       aorder.dlastadate APPLY_DATE,
       aorder.asset_type ASSET_TYPE,
       to_char(aorder.iamoney)  IAMONEY,
       '2' as documentType
	   from tb_fa_apply_order aorder 
       LEFT JOIN T_WF_BILL_STEP TS
        ON aorder.CDOCUMENT = TS.CBILLCODE
	   where aorder.capprovalstate='已完成' and aorder.order_status='未关闭' 
	      AND (
        aorder.BUYER_CODE = #{myApplyTasks.userCode}
        OR aorder.CNEXTHANDLERCODE = #{myApplyTasks.userCode}
        OR TS.CUSERCODE = #{myApplyTasks.userCode}
        OR TS.CUSERCODE IN (SELECT CAUTHORIZERCODE FROM T_APPROVALEMPOWER
        WHERE CUSERCODE = #{myApplyTasks.userCode}
        AND SYSDATE BETWEEN CBEGINTIME AND CENDTIME AND CSTATUS='Y' AND CAPPROVALEND='Y')
        OR aorder.CNEXTHANDLERCODE IN (SELECT CAUTHORIZERCODE FROM T_APPROVALEMPOWER
        WHERE CUSERCODE = #{myApplyTasks.userCode}
        AND SYSDATE BETWEEN CBEGINTIME AND CENDTIME AND CSTATUS='Y' AND CAPPROVALEND='Y')
        OR aorder.BUYER_CODE IN (SELECT CAUTHORIZERCODE FROM T_APPROVALEMPOWER
        WHERE CUSERCODE = #{myApplyTasks.userCode}
        AND SYSDATE BETWEEN CBEGINTIME AND CENDTIME AND CSTATUS='Y' AND CAPPROVALEND='Y')
      
        )
      
	   	<if test="myApplyTasks.userCode !=null and myApplyTasks.userCode != ''">
			and aorder.BUYER_CODE =#{myApplyTasks.userCode}
		</if>
		 <if test="myApplyTasks.document !=null and myApplyTasks.document != ''">
				and aorder.cdocument =#{myApplyTasks.document}
		</if>
		<if test="myApplyTasks.applyUser != null and myApplyTasks.applyUser !='' ">
			and aorder.apply_user like '%' || #{myApplyTasks.applyUser} || '%'
		</if>
		<if test="myApplyTasks.beginDate != null and myApplyTasks.beginDate != '' ">
			and  aorder.apply_date <![CDATA[>]]>  to_date(#{myApplyTasks.beginDate},'yyyy-MM-dd')
		</if>
		<if test="myApplyTasks.endDate != null and myApplyTasks.endDate != '' ">
			and  aorder.apply_date <![CDATA[<]]>  to_date(#{myApplyTasks.endDate},'yyyy-MM-dd')
		</if>
		<if test="myApplyTasks.assetType != null and myApplyTasks.assetType !='' ">
			and aorder.ASSET_TYPE like '%' || #{myApplyTasks.assetType} || '%'
		</if>
		<if test="myApplyTasks.budgetDepartmentName != null and myApplyTasks.budgetDepartmentName !='' ">
			and  aorder.apply_department like '%' || #{myApplyTasks.budgetDepartmentName} || '%'
		</if>	
	</sql>
	<!-- 3采购订单待办-->
	<sql id="search_my_purchase_order">
 	 select distinct porder.cdocument document, 
       porder.apply_user APPLY_USER,
       porder.budget_department_name BUDGET_DEPARTMENT_NAME,
       <!-- porder.apply_date APPLY_DATE, -->
       porder.dlastadate APPLY_DATE,
       porder.asset_type ASSET_TYPE,
        to_char(porder.iamoney) IAMONEY ,
       '3' as documentType
      from tb_fa_purchase_order porder 
          LEFT JOIN T_WF_BILL_STEP TS
        ON porder.CDOCUMENT = TS.CBILLCODE
      where porder.capprovalstate='已完成' and porder.order_status='未关闭'  
          AND (
        porder.apply_user_code = #{myApplyTasks.userCode}
        OR porder.CNEXTHANDLERCODE = #{myApplyTasks.userCode}
        OR TS.CUSERCODE = #{myApplyTasks.userCode}
        OR TS.CUSERCODE IN (SELECT CAUTHORIZERCODE FROM T_APPROVALEMPOWER
        WHERE CUSERCODE = #{myApplyTasks.userCode}
        AND SYSDATE BETWEEN CBEGINTIME AND CENDTIME AND CSTATUS='Y' AND CAPPROVALEND='Y')
        OR porder.CNEXTHANDLERCODE IN (SELECT CAUTHORIZERCODE FROM T_APPROVALEMPOWER
        WHERE CUSERCODE = #{myApplyTasks.userCode}
        AND SYSDATE BETWEEN CBEGINTIME AND CENDTIME AND CSTATUS='Y' AND CAPPROVALEND='Y')
        OR porder.apply_user_code IN (SELECT CAUTHORIZERCODE FROM T_APPROVALEMPOWER
        WHERE CUSERCODE = #{myApplyTasks.userCode}
        AND SYSDATE BETWEEN CBEGINTIME AND CENDTIME AND CSTATUS='Y' AND CAPPROVALEND='Y')
      
        )
       	<if test="myApplyTasks.userCode !=null and myApplyTasks.userCode != ''">
			and porder.BUYER_CODE =#{myApplyTasks.userCode}
		</if>
		  <if test="myApplyTasks.document !=null and myApplyTasks.document != ''">
				and porder.cdocument =#{myApplyTasks.document}
		</if>
		<if test="myApplyTasks.applyUser != null and myApplyTasks.applyUser !='' ">
			and porder.apply_user like '%' || #{myApplyTasks.applyUser} || '%'
		</if>
		<if test="myApplyTasks.beginDate != null and myApplyTasks.beginDate != '' ">
			and  porder.apply_date <![CDATA[>]]>  to_date(#{myApplyTasks.beginDate},'yyyy-MM-dd')
		</if>
		<if test="myApplyTasks.endDate != null and myApplyTasks.endDate != '' ">
			and  porder.apply_date <![CDATA[<]]>  to_date(#{myApplyTasks.endDate},'yyyy-MM-dd')
		</if>
		<if test="myApplyTasks.assetType != null and myApplyTasks.assetType !='' ">
			and porder.ASSET_TYPE like '%' || #{myApplyTasks.assetType} || '%'
		</if>
		<if test="myApplyTasks.budgetDepartmentName != null and myApplyTasks.budgetDepartmentName !='' ">
			and  porder.budget_department_name like '%' || #{myApplyTasks.budgetDepartmentName} || '%'
		</if>	
	</sql>
	<!-- 4采购收货待办-->
	<sql id="search_my_receive_goods">
  	 select distinct rg.cdocument document, 
       rg.Buyer_Name APPLY_USER,
       rg.APPLY_DEPARTMENT BUDGET_DEPARTMENT_NAME,
       <!-- rg.create_date APPLY_DATE, -->
       rg.create_date APPLY_DATE,
       rg.assets_type ASSET_TYPE,
        to_char(rg.iamoney) IAMONEY,
       '4' as documentType
       from TB_FA_RECEIVE_GOODS rg 
         LEFT JOIN T_WF_BILL_STEP TS
        ON rg.CDOCUMENT = TS.CBILLCODE
       left JOIN  tb_fa_purchase_common pc ON pc.receive_goods_id=rg.cdocument
       where rg.draft='N' and (rg.order_status IS NULL or rg.order_status='0')
          AND (
        rg.buyer_code = #{myApplyTasks.userCode}
        OR rg.CNEXTHANDLERCODE = #{myApplyTasks.userCode}
        OR TS.CUSERCODE = #{myApplyTasks.userCode}
        OR TS.CUSERCODE IN (SELECT CAUTHORIZERCODE FROM T_APPROVALEMPOWER
        WHERE CUSERCODE = #{myApplyTasks.userCode}
        AND SYSDATE BETWEEN CBEGINTIME AND CENDTIME AND CSTATUS='Y' AND CAPPROVALEND='Y')
        OR rg.CNEXTHANDLERCODE IN (SELECT CAUTHORIZERCODE FROM T_APPROVALEMPOWER
        WHERE CUSERCODE = #{myApplyTasks.userCode}
        AND SYSDATE BETWEEN CBEGINTIME AND CENDTIME AND CSTATUS='Y' AND CAPPROVALEND='Y')
        OR rg.buyer_code IN (SELECT CAUTHORIZERCODE FROM T_APPROVALEMPOWER
        WHERE CUSERCODE = #{myApplyTasks.userCode}
        AND SYSDATE BETWEEN CBEGINTIME AND CENDTIME AND CSTATUS='Y' AND CAPPROVALEND='Y')
      
        )
         <if test="myApplyTasks.userCode !=null and myApplyTasks.userCode != ''">
			and pc.CHECK_APPLY_CODE =#{myApplyTasks.userCode}
		</if>
		  <if test="myApplyTasks.document !=null and myApplyTasks.document != ''">
				and rg.cdocument =#{myApplyTasks.document}
		</if>
		<if test="myApplyTasks.applyUser != null and myApplyTasks.applyUser !='' ">
			and rg.Buyer_Name like '%' || #{myApplyTasks.applyUser} || '%'
		</if>	
		<if test="myApplyTasks.beginDate != null and myApplyTasks.beginDate != '' ">
			and  rg.create_date <![CDATA[>]]>  to_date(#{myApplyTasks.beginDate},'yyyy-MM-dd')
		</if>
		<if test="myApplyTasks.endDate != null and myApplyTasks.endDate != '' ">
			and  rg.create_date <![CDATA[<]]>  to_date(#{myApplyTasks.endDate},'yyyy-MM-dd')
		</if> 
		<if test="myApplyTasks.assetType != null and myApplyTasks.assetType !='' ">
			and rg.assets_type like '%' || #{myApplyTasks.assetType} || '%'
		</if>
		<if test="myApplyTasks.budgetDepartmentName != null and myApplyTasks.budgetDepartmentName !='' ">
			and  rg.APPLY_DEPARTMENT like '%' || #{myApplyTasks.budgetDepartmentName} || '%'
		</if>		
	</sql>
	<sql id="search_my_purchase_fk">
		SELECT 
                   VP.CDOCUMENT AS document,
                   VP.BUYER_NAME AS APPLY_USER,
                   '' AS BUDGET_DEPARTMENT_NAME,
                   VP.Dlastadate AS APPLY_DATE,
                   '' AS ASSET_TYPE,
                    to_char(NULL)  AS IAMONEY,
                   '5' as documentType
              FROM V_FA_PAYMENT_COUNT VP
             	LEFT JOIN T_WF_BILL_STEP TS
        		ON VP.CDOCUMENT = TS.CBILLCODE
    		  WHERE VP.APPLY_COUNT <![CDATA[<>]]> NVL(VP.PAY_COUNT, 0)
		        AND (
		       	VP.buyer_code = #{myApplyTasks.userCode}
		        OR VP.CNEXTHANDLERCODE = #{myApplyTasks.userCode}
		        OR TS.CUSERCODE = #{myApplyTasks.userCode}
		        OR TS.CUSERCODE IN (SELECT CAUTHORIZERCODE FROM T_APPROVALEMPOWER
		        WHERE CUSERCODE = #{myApplyTasks.userCode}
		        AND SYSDATE BETWEEN CBEGINTIME AND CENDTIME AND CSTATUS='Y' AND CAPPROVALEND='Y')
		        OR VP.CNEXTHANDLERCODE IN (SELECT CAUTHORIZERCODE FROM T_APPROVALEMPOWER
		        WHERE CUSERCODE = #{myApplyTasks.userCode}
		        AND SYSDATE BETWEEN CBEGINTIME AND CENDTIME AND CSTATUS='Y' AND CAPPROVALEND='Y')
		        OR VP.buyer_code IN (SELECT CAUTHORIZERCODE FROM T_APPROVALEMPOWER
		        WHERE CUSERCODE = #{myApplyTasks.userCode}
		        AND SYSDATE BETWEEN CBEGINTIME AND CENDTIME AND CSTATUS='Y' AND CAPPROVALEND='Y')
		      
		        )
    		  <if test="myApplyTasks.userCode !=null and myApplyTasks.userCode != ''">
				and VP.BUYER_CODE =#{myApplyTasks.userCode}
			</if>	
			  <if test="myApplyTasks.document !=null and myApplyTasks.document != ''">
				and VP.CDOCUMENT =#{myApplyTasks.document}
			</if>
			<if test="myApplyTasks.applyUser != null and myApplyTasks.applyUser !='' ">
				and VP.BUYER_NAME like '%' || #{myApplyTasks.applyUser} || '%'
			</if>	
				 
	</sql>
	
	<select id="searchMyApplyTasksList" resultMap="myApplyTasksResultMap">
		<include refid="pagination_Head"/>
		<include refid="search_my_apply_tasks_fragment"/>
		<include refid="pagination_Tail"/>
	</select>
	<select id="searchMyApplyTasksListExport" resultMap="myApplyTasksResultMap">
		<include refid="search_my_apply_tasks_fragment"/>
	</select>
	<select id="searchMyApplyTasksListCounts" resultType="long">
		<include refid="count_Start_Head"/>
		<include refid="search_my_apply_tasks_fragment"/>
		<include refid="count_Start_Tail"/>
	</select>
	<select id="searchMyDemandOrderList" resultMap="myApplyTasksResultMap">
		<include refid="pagination_Head"/>
		<include refid="search_my_demand_order"/>
		<include refid="pagination_Tail"/>
	</select>
	<select id="searchMyDemandOrderListExport" resultMap="myApplyTasksResultMap">
		<include refid="search_my_demand_order"/>
	</select>
	<select id="searchMyDemandOrderListCounts" resultType="long">
		<include refid="count_Start_Head"/>
		<include refid="search_my_demand_order"/>
		<include refid="count_Start_Tail"/>	
	</select>
	<select id="searchMyApplyOrderList" resultMap="myApplyTasksResultMap">
		<include refid="pagination_Head"/>
		<include refid="search_my_apply_order"/>
		<include refid="pagination_Tail"/>	
	</select>
	<select id="searchMyApplyOrderListExport" resultMap="myApplyTasksResultMap">
		<include refid="search_my_apply_order"/>
	</select>
		<select id="searchMyApplyOrderListCounts">
		<include refid="count_Start_Head"/>
		<include refid="search_my_apply_order"/>
		<include refid="count_Start_Tail"/>	
	</select>
	<select id="searchMyPurchaseOrderList" resultMap="myApplyTasksResultMap">
		<include refid="pagination_Head"/>
		<include refid="search_my_purchase_order"/>
		<include refid="pagination_Tail"/>	
	</select>
		<select id="searchMyPurchaseOrderListExport" resultMap="myApplyTasksResultMap">
		<include refid="search_my_purchase_order"/>
	</select>
	<select id="searchMyPurchaseOrderListCounts" resultType="long">
		<include refid="count_Start_Head"/>
		<include refid="search_my_apply_order"/>
		<include refid="count_Start_Tail"/>	
	</select>
	<select id="searchMyReceiveGoodsList" resultMap="myApplyTasksResultMap">
		<include refid="pagination_Head"/>
		<include refid="search_my_receive_goods"/>
		<include refid="pagination_Tail"/>	
	</select>
	<select id="searchMyReceiveGoodsListExport" resultMap="myApplyTasksResultMap">
		<include refid="search_my_receive_goods"/>
	</select>
	<select id="searchMyReceiveGoodsListCounts" resultType="long">
		<include refid="count_Start_Head"/>
		<include refid="search_my_receive_goods"/>
		<include refid="count_Start_Tail"/>	
	</select>
		<select id="searchMyPurchaseFkList" resultMap="myApplyTasksResultMap">
		<include refid="pagination_Head"/>
		<include refid="search_my_purchase_fk"/>
		<include refid="pagination_Tail"/>	
	</select>
	<select id="searchMyPurchaseFkListExport" resultMap="myApplyTasksResultMap">
		<include refid="search_my_purchase_fk"/>
	</select>
	<select id="searchMyPurchaseFkListCounts" resultType="long">
		<include refid="count_Start_Head"/>
		<include refid="search_my_purchase_fk"/>
		<include refid="count_Start_Tail"/>	
	</select>
</mapper>

