<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
		PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.opple.fa.myTasks.dao.MyTasksDAO">
	<!-- oracle 分页头 -->
	<sql id="pagination_Head" >
		<![CDATA[select * from ( select row_.*, rownum rownum_ from ( ]]>
	</sql>
	<!-- oracle 分页尾 -->
	<sql id="pagination_Tail">
		<![CDATA[) row_ where rownum <= #{pager.pageSize}* #{pager.offset} ) where rownum_ >= #{pager.firstResult} + 1]]>
	</sql>
	<!-- count * from -->
	<sql id="count_Start_Head">
		<![CDATA[select count(*) from ( ]]>
	</sql>
	<sql id="count_Start_Tail">
		<![CDATA[) countObj ]]>
	</sql>
	<resultMap id="myTasksResultMap" type="com.opple.fa.myTasks.entity.MyTasks">
		<result property="documentId" column="CDOCUMENT"/>
		<result property="typeId" column="TYPEID"/>
		<result property="budgetDepartmentName" column="BUDGET_DEPARTMENT_NAME"/>
		<result property="applyUser" column="APPLY_USER"/>
		<!-- 实体类中为String类型，表中为date类型，需要转化-->
		<result property="applyDate" column="APPLY_DATE"/>
		<result property="assetType" column="ASSET_TYPE"/>
		
		<!-- 申请金额-->
		<result property="applyAmount" column="ORDER_MONEY"/>
		<!-- 审批金额-->
		<result property="approvalAmount" column="IAMONEY"/>
		<result property="approvalStatus" column="CAPPROVALSTATE"/>
		
		<result property="documentStatus" column="documentStatus"/>
	</resultMap>
	<!-- 我的待办模糊查询 -->
	<!-- 所有单据类型-->
	<sql id="search_my_tasks_fragment">
		<include refid="search_my_tasks_fragment1" />
		union
		<include refid="search_my_tasks_fragment2" />
		union
		<include refid="search_my_tasks_fragment3" />
		union
		<include refid="search_my_tasks_fragment4" />
		union
		<include refid="search_my_tasks_fragment5" />
		union
		<include refid="search_my_tasks_fragment6"/>
		union
		<include refid="search_my_tasks_fragment8" />
		union
		<include refid="search_my_tasks_fragment9" />
		union
		<include refid="search_my_tasks_fragment10"/>
		union
		<include refid="search_my_tasks_fragment11"/>
	</sql>

	<!-- 1采购需求-->
	<sql id="search_my_tasks1">
		A.CDOCUMENT,
		'77001' TYPEID,
		A.BUDGET_DEPARTMENT_NAME,
		'1'  as documentStatus,
		A.APPLY_USER,
		to_char(A.APPLY_DATE,'yyyy-MM-dd') APPLY_DATE,
		A.ASSET_TYPE,
		to_char(A.IAMONEY) APPLY_BUDGET_MONEY,
		to_char(A.IAMONEY) IAMONEY,
		A.CAPPROVALSTATE
	</sql>
	<sql id="search_my_tasks_fragment1">
	select
	<include refid="search_my_tasks1" />
	from TB_FA_DEMAND_ORDER A
	where 1=1
	and (A.CNEXTHANDLERCODE = #{myTasks.userCode} OR A.CNEXTHANDLERCODE IN (SELECT
	CAUTHORIZERCODE
	FROM T_APPROVALEMPOWER WHERE CUSERCODE =#{myTasks.userCode} AND SYSDATE BETWEEN
	CBEGINTIME AND
	CENDTIME AND CSTATUS = 'Y' AND CAPPROVALEND = 'Y') OR A.CNEXTHANDLERCODE IN
	(SELECT T.CRELEASEUSERCODE
	FROM T_EMPOWER_APPROVAL T WHERE T.CRESEIVEUSERCODE = #{myTasks.userCode} AND
	T.CSYSMEMUCODE IN (SELECT CMENUCODE FROM T_WF_TYPE
	WHERE BFLAG = 'Y'
	AND CFLOWTYPECODE =
	'77001')
	AND T.CDEPCODE =
	A.BUDGET_DEPARTMENT_CODE
	AND SYSDATE BETWEEN
	T.BEGINDATE AND
	T.ENDDATE
	AND A.IAMONEY BETWEEN
	T.BEGINMONEY AND
	T.ENDMONEY
	AND T.CSTATUS = 'Y'
	AND T.CAPPROVALEND = 'Y'))	
		<if test="myTasks.documentId !=null and myTasks.documentId != ''">
			and A.CDOCUMENT LIKE '%' || #{myTasks.documentId} || '%'
		</if>
		<if test="myTasks.applyUser != null and myTasks.applyUser !='' ">
			and A.APPLY_USER like '%' || #{myTasks.applyUser} || '%'
		</if>
		<if test="myTasks.assetType != null and myTasks.assetType !='' ">
			and A.ASSET_TYPE = #{myTasks.assetType}
		</if>
		<if test="myTasks.beginDate != null and myTasks.beginDate != '' ">
			and A.APPLY_DATE <![CDATA[>]]>  to_date(#{myTasks.beginDate},'yyyy-MM-dd')
		</if>
		<if test="myTasks.endDate != null and myTasks.endDate != '' ">
			and A.APPLY_DATE <![CDATA[<]]>  to_date(#{myTasks.endDate},'yyyy-MM-dd')
		</if>
		<if test="myTasks.budgetDepartmentCode != null and myTasks.budgetDepartmentCode != '' ">
			and A.BUDGET_DEPARTMENT_CODE = #{myTasks.budgetDepartmentCode}
		</if>

	</sql>
	<!--2采购申请-->
	<sql id="search_my_tasks2">
		A.CDOCUMENT,
		'77011' TYPEID,
		A.BUDGET_DEPARTMENT_NAME,
		'2' as documentStatus,
		A.APPLY_USER,
		to_char(A.APPLY_DATE,'yyyy-MM-dd') APPLY_DATE,
		A.ASSET_TYPE,
		to_char(A.IAMONEY) ORDER_MONEY,
		to_char(A.IAMONEY) IAMONEY,
		A.CAPPROVALSTATE
	</sql>
	<sql id="search_my_tasks_fragment2">
		select
			<include refid="search_my_tasks2" />
		from tb_fa_apply_order A
		where 1=1
			and (A.CNEXTHANDLERCODE = #{myTasks.userCode} OR A.CNEXTHANDLERCODE IN (SELECT
	CAUTHORIZERCODE
	FROM T_APPROVALEMPOWER WHERE CUSERCODE =#{myTasks.userCode} AND SYSDATE BETWEEN
	CBEGINTIME AND
	CENDTIME AND CSTATUS = 'Y' AND CAPPROVALEND = 'Y') OR A.CNEXTHANDLERCODE IN
	(SELECT T.CRELEASEUSERCODE
	FROM T_EMPOWER_APPROVAL T WHERE T.CRESEIVEUSERCODE = #{myTasks.userCode} AND
	T.CSYSMEMUCODE IN (SELECT CMENUCODE FROM T_WF_TYPE
	WHERE BFLAG = 'Y'
	AND CFLOWTYPECODE =
	'77011')
	AND T.CDEPCODE =
	A.BUDGET_DEPARTMENT_CODE
	AND SYSDATE BETWEEN
	T.BEGINDATE AND
	T.ENDDATE
	AND A.IAMONEY BETWEEN
	T.BEGINMONEY AND
	T.ENDMONEY
	AND T.CSTATUS = 'Y'
	AND T.CAPPROVALEND = 'Y'))
		<if test="myTasks.documentId !=null and myTasks.documentId != ''">
			and A.CDOCUMENT LIKE '%' || #{myTasks.documentId} || '%'
		</if>
		<if test="myTasks.applyUser != null and myTasks.applyUser !='' ">
			and A.APPLY_USER like '%' || #{myTasks.applyUser} || '%'
		</if>
		<if test="myTasks.assetType != null and myTasks.assetType !='' ">
			and A.ASSET_TYPE = #{myTasks.assetType}
		</if>
		<if test="myTasks.beginDate != null and myTasks.beginDate != '' ">
			and A.APPLY_DATE <![CDATA[>]]>  to_date(#{myTasks.beginDate},'yyyy-MM-dd')
		</if>
		<if test="myTasks.endDate != null and myTasks.endDate != '' ">
			and A.APPLY_DATE <![CDATA[<]]>  to_date(#{myTasks.endDate},'yyyy-MM-dd')
		</if>
		<if test="myTasks.budgetDepartmentCode != null and myTasks.budgetDepartmentCode != '' ">
			and A.BUDGET_DEPARTMENT_CODE = #{myTasks.budgetDepartmentCode}
		</if>
	</sql>
	<!-- 3采购订单-->
	<sql id="search_my_tasks3">
		A.CDOCUMENT,
		'77021' TYPEID,
		A.BUDGET_DEPARTMENT_NAME,
		'3'  as documentStatus,
		A.APPLY_USER,
		to_char(A.APPLY_DATE,'yyyy-MM-dd') APPLY_DATE,
		A.ASSET_TYPE,
		to_char(A.IAMONEY) ORDER_MONEY,
		to_char(A.IAMONEY) IAMONEY,
		A.CAPPROVALSTATE
	</sql>
	<sql id="search_my_tasks_fragment3">
		select
		<include refid="search_my_tasks3" />
		from TB_FA_PURCHASE_ORDER A
		where 1=1
		and (A.CNEXTHANDLERCODE = #{myTasks.userCode} OR A.CNEXTHANDLERCODE IN (SELECT
	CAUTHORIZERCODE
	FROM T_APPROVALEMPOWER WHERE CUSERCODE =#{myTasks.userCode} AND SYSDATE BETWEEN
	CBEGINTIME AND
	CENDTIME AND CSTATUS = 'Y' AND CAPPROVALEND = 'Y') OR A.CNEXTHANDLERCODE IN
	(SELECT T.CRELEASEUSERCODE
	FROM T_EMPOWER_APPROVAL T WHERE T.CRESEIVEUSERCODE = #{myTasks.userCode} AND
	T.CSYSMEMUCODE IN (SELECT CMENUCODE FROM T_WF_TYPE
	WHERE BFLAG = 'Y'
	AND CFLOWTYPECODE =
	'77001')
	AND T.CDEPCODE =
	A.BUDGET_DEPARTMENT_CODE
	AND SYSDATE BETWEEN
	T.BEGINDATE AND
	T.ENDDATE
	AND A.IAMONEY BETWEEN
	T.BEGINMONEY AND
	T.ENDMONEY
	AND T.CSTATUS = 'Y'
	AND T.CAPPROVALEND = 'Y'))
		<if test="myTasks.documentId !=null and myTasks.documentId != ''">
			and A.CDOCUMENT LIKE '%' || #{myTasks.documentId} || '%'
		</if>
		<if test="myTasks.applyUser != null and myTasks.applyUser !='' ">
			and A.APPLY_USER like '%' || #{myTasks.applyUser} || '%'
		</if>
		<if test="myTasks.assetType != null and myTasks.assetType !='' ">
			and A.ASSET_TYPE = #{myTasks.assetType}
		</if>
		<if test="myTasks.beginDate != null and myTasks.beginDate != '' ">
			and A.APPLY_DATE <![CDATA[>]]>  to_date(#{myTasks.beginDate},'yyyy-MM-dd')
		</if>
		<if test="myTasks.endDate != null and myTasks.endDate != '' ">
			and A.APPLY_DATE <![CDATA[<]]>  to_date(#{myTasks.endDate},'yyyy-MM-dd')
		</if>
		<if test="myTasks.budgetDepartmentCode != null and myTasks.budgetDepartmentCode != '' ">
			and A.BUDGET_DEPARTMENT_CODE = #{myTasks.budgetDepartmentCode}
		</if>
	</sql>
	<!-- 4采购收货-->
	<sql id="search_my_tasks4">
		PURCHASE_ID CDOCUMENT,
		'77077' TYPEID,
		BUDGET_DEPARTMENT_NAME,
		'4'  as documentStatus,
		CUSERNAME APPLY_USER,
		to_char(CREATE_DATE,'yyyy-MM-dd') APPLY_DATE,
		ASSETS_TYPE ASSET_TYPE,
		to_char(IAMONEY) ORDER_MONEY,
		to_char(IAMONEY) IAMONEY,
		CAPPROVALSTATE
	</sql>
	<sql id="search_my_tasks_fragment4">
		select
		<include refid="search_my_tasks4" />
		from TB_FA_RECEIVE_GOODS
		where 1=1
		and (CNEXTHANDLERCODE = #{myTasks.userCode} OR CNEXTHANDLERCODE IN (SELECT CAUTHORIZERCODE FROM T_APPROVALEMPOWER WHERE CUSERCODE = #{myTasks.userCode}))
		<if test="myTasks.documentId !=null and myTasks.documentId != ''">
			and PURCHASE_ID LIKE '%' || #{myTasks.documentId} || '%'
		</if>
		<if test="myTasks.applyUser != null and myTasks.applyUser !='' ">
			and CUSERNAME like '%' || #{myTasks.applyUser} || '%'
		</if>
		<if test="myTasks.assetType != null and myTasks.assetType !='' ">
			and ASSETS_TYPE = #{myTasks.assetType}
		</if>
		<if test="myTasks.beginDate != null and myTasks.beginDate != '' ">
			and CREATE_DATE <![CDATA[>]]>  to_date(#{myTasks.beginDate},'yyyy-MM-dd')
		</if>
		<if test="myTasks.endDate != null and myTasks.endDate != '' ">
			and CREATE_DATE <![CDATA[<]]>  to_date(#{myTasks.endDate},'yyyy-MM-dd')
		</if>
		<if test="myTasks.budgetDepartmentCode != null and myTasks.budgetDepartmentCode != '' ">
			and BUDGET_DEPARTMENT_CODE = #{myTasks.budgetDepartmentCode}
		</if>
	</sql>
	<!-- 5采购验收 -->
	<sql id="search_my_tasks5">
		A.CDOCUMENT CDOCUMENT,
		'77078' TYPEID,
		A.APPLY_DEPARTMENT as BUDGET_DEPARTMENT_NAME,
		'5'  as documentStatus,
		A.APPLY_CHECK_USER_NAME APPLY_USER,
		to_char(A.CREATE_DATE,'yyyy-MM-dd') APPLY_DATE,
		A.ASSETS_TYPE ASSET_TYPE,
		to_char(A.IAMONEY) ORDER_MONEY,
		to_char(A.IAMONEY) IAMONEY,
		A.CAPPROVALSTATE
	</sql>
	<sql id="search_my_tasks_fragment5">
		select
		<include refid="search_my_tasks5" />
		from TB_FA_CHECK_ACCEPTANCE A
		where 1=1
		and (A.CNEXTHANDLERCODE = #{myTasks.userCode} OR A.CNEXTHANDLERCODE IN (SELECT
	CAUTHORIZERCODE
	FROM T_APPROVALEMPOWER WHERE CUSERCODE =#{myTasks.userCode} AND SYSDATE BETWEEN
	CBEGINTIME AND
	CENDTIME AND CSTATUS = 'Y' AND CAPPROVALEND = 'Y') OR A.CNEXTHANDLERCODE IN
	(SELECT T.CRELEASEUSERCODE
	FROM T_EMPOWER_APPROVAL T WHERE T.CRESEIVEUSERCODE = #{myTasks.userCode} AND
	T.CSYSMEMUCODE IN (SELECT CMENUCODE FROM T_WF_TYPE
	WHERE BFLAG = 'Y'
	AND CFLOWTYPECODE =
	'77078')
	AND T.CDEPCODE in (select  t1.cdepcode  from t_employee t1
		where t1.cemployeecode in (SELECT attach_Depart_Manager_Code
			  FROM TB_FA_ATTACH_CONFIG 
			 WHERE COSTCENTER_CODE = A.COST_CENTER_CODE
			   AND ASSET_TYPE = A.ASSETS_TYPE
			   AND ROWNUM <![CDATA[<=]]> 1
			   AND STATUS = '0')
		 AND ROWNUM <![CDATA[<=]]> 1)
	AND SYSDATE BETWEEN
	T.BEGINDATE AND
	T.ENDDATE
	AND A.IAMONEY BETWEEN
	T.BEGINMONEY AND
	T.ENDMONEY
	AND T.CSTATUS = 'Y'
	AND T.CAPPROVALEND = 'Y'))
		<if test="myTasks.documentId !=null and myTasks.documentId != ''">
			and A.CDOCUMENT LIKE '%' || #{myTasks.documentId} || '%'
		</if>
		<if test="myTasks.applyUser != null and myTasks.applyUser !='' ">
			and A.CREATE_BY like '%' || #{myTasks.applyUser} || '%'
		</if>
		<if test="myTasks.assetType != null and myTasks.assetType !='' ">
			and ASSETS_TYPE = #{myTasks.assetType}
		</if>
		<if test="myTasks.beginDate != null and myTasks.beginDate != '' ">
			and A.CREATE_DATE <![CDATA[>]]>  to_date(#{myTasks.beginDate},'yyyy-MM-dd')
		</if>
		<if test="myTasks.endDate != null and myTasks.endDate != '' ">
			and A.CREATE_DATE <![CDATA[<]]>  to_date(#{myTasks.endDate},'yyyy-MM-dd')
		</if>
		<if test="myTasks.budgetDepartmentCode != null and myTasks.budgetDepartmentCode != '' ">
			and A.BUDGET_DEPARTMENT_CODE = #{myTasks.budgetDepartmentCode}
		</if>
	</sql>
	<!-- 6采购付款 -->
	<sql id="search_my_tasks6">
		A.CDOCUMENT as CDOCUMENT,
         '77071' TYPEID,
         A.APPLY_DEPARTMENT as BUDGET_DEPARTMENT_NAME,
         '6' as documentStatus,
         A.APPLY_USER APPLY_USER,
         to_char(A.APPLY_DATE, 'yyyy-MM-dd') APPLY_DATE,
         tp.ASSET_TYPE ASSET_TYPE,
         to_char(A.ORDER_MONEY) ORDER_MONEY,
         to_char(A.IAMONEY) IAMONEY,
         A.CAPPROVALSTATE
   
	</sql>
	<sql id="search_my_tasks_fragment6">
		SELECT 
  		A.CDOCUMENT as CDOCUMENT,
         '77071' TYPEID,
         A.APPLY_DEPARTMENT as BUDGET_DEPARTMENT_NAME,
         '6' as documentStatus,
         A.APPLY_USER APPLY_USER,
         to_char(A.APPLY_DATE, 'yyyy-MM-dd') APPLY_DATE,
         tp.ASSET_TYPE ASSET_TYPE,
         to_char(A.ORDER_MONEY) ORDER_MONEY,
         to_char(A.IAMONEY) IAMONEY,
         A.CAPPROVALSTATE
		from tb_fa_payment_order A
        left join tb_fa_purchase_order tp
          on tp.cdocument = A.purchase_order_id
       where 1 = 1
         and (A.CNEXTHANDLERCODE = #{myTasks.userCode} OR
             A.CNEXTHANDLERCODE IN
             (SELECT CAUTHORIZERCODE
                 FROM T_APPROVALEMPOWER ar
                WHERE ar.CUSERCODE = #{myTasks.userCode}
                  AND SYSDATE BETWEEN ar.CBEGINTIME AND ar.CENDTIME
                  AND ar.CSTATUS = 'Y'
                  AND ar.CAPPROVALEND = 'Y') OR
             A.CNEXTHANDLERCODE IN
             (SELECT T.CRELEASEUSERCODE
                 FROM T_EMPOWER_APPROVAL T
                WHERE T.CRESEIVEUSERCODE = #{myTasks.userCode}
                  AND T.CSYSMEMUCODE IN
                      (SELECT twf.CMENUCODE
                         FROM T_WF_TYPE twf
                        WHERE twf.BFLAG = 'Y'
                          AND twf.CFLOWTYPECODE = '77071')
                  AND T.CDEPCODE = A.APPLY_DEPARTMENT_CODE
                  AND SYSDATE BETWEEN T.BEGINDATE AND T.ENDDATE
                  AND A.IAMONEY BETWEEN T.BEGINMONEY AND T.ENDMONEY
                  AND T.CSTATUS = 'Y'
                  AND T.CAPPROVALEND = 'Y'))
         AND A.CBARSTATUS IN ('2', '5')
		<if test="myTasks.documentId !=null and myTasks.documentId != ''">
				and A.CDOCUMENT LIKE '%' || #{myTasks.documentId} || '%'
			</if>
			<if test="myTasks.applyUser != null and myTasks.applyUser !='' ">
				and A.APPLY_USER like '%' || #{myTasks.applyUser} || '%'
			</if>
			<if test="myTasks.assetType != null and myTasks.assetType !='' ">
				and tp.ASSET_TYPE = #{myTasks.assetType}
			</if>
			<if test="myTasks.beginDate != null and myTasks.beginDate != '' ">
				and A.APPLY_DATE <![CDATA[>]]>  to_date(#{myTasks.beginDate},'yyyy-MM-dd')
			</if>
			<if test="myTasks.endDate != null and myTasks.endDate != '' ">
				and A.APPLY_DATE <![CDATA[<]]>  to_date(#{myTasks.endDate},'yyyy-MM-dd')
			</if>
			<if test="myTasks.budgetDepartmentCode != null and myTasks.budgetDepartmentCode != '' ">
				and A.BUDGET_DEPARTMENT_CODE = #{myTasks.budgetDepartmentCode}
			</if>  
	</sql>
	<!-- 7盘点单-->
	<!--<sql id="search_my_tasks7">
		PURCHASE_ID CDOCUMENT,
		BUDGET_DEPARTMENT_NAME,
		CREATE_BY APPLY_USER,
		to_char(CREATE_DATE,'yyyy-MM-dd') APPLY_DATE,
		ASSET_TYPE,
		to_char(IAMONEY) ORDER_MONEY,
		to_char(IAMONEY) IAMONEY,
		CAPPROVALSTATE
	</sql>
	<sql id="search_my_tasks_fragment7">
		select
		<include refid="search_my_tasks7" />
		from TB_FA_CHECK_ACCEPTANCE
		where 1=1
		and CNEXTHANDLERCODE = #{myTasks.userCode}
		<if test="myTasks.documentId !=null and myTasks.documentId != ''">
			and PURCHASE_ID LIKE '%' || #{myTasks.documentId} || '%'
		</if>
		<if test="myTasks.applyUser != null and myTasks.applyUser !='' ">
			and CREATE_BY like '%' || #{myTasks.applyUser} || '%'
		</if>
		<if test="myTasks.assetType != null and myTasks.assetType !='' ">
			and ASSET_TYPE = #{myTasks.assetType}
		</if>
		<if test="myTasks.beginDate != null and myTasks.beginDate != '' ">
			and CREATE_DATE <![CDATA[>]]>  to_date(#{myTasks.beginDate},'yyyy-MM-dd')
		</if>
		<if test="myTasks.endDate != null and myTasks.endDate != '' ">
			and CREATE_DATE <![CDATA[<]]>  to_date(#{myTasks.endDate},'yyyy-MM-dd')
		</if>
		<if test="myTasks.budgetDepartmentCode != null and myTasks.budgetDepartmentCode != '' ">
			and BUDGET_DEPARTMENT_CODE = #{myTasks.budgetDepartmentCode}
		</if>
	</sql>-->
	<!-- 8报废/变卖-->
	<sql id="search_my_tasks8">
		A.CDOCUMENT,
		'77031' TYPEID,
		A.DEPARTMENT_NAME BUDGET_DEPARTMENT_NAME,
		'8'  as documentStatus,
		A.CREATE_BY APPLY_USER,
		to_char(A.CREATE_DATE,'yyyy-MM-dd') APPLY_DATE,
		A.ASSET_TYPE,
		to_char(A.IAMONEY) ORDER_MONEY,
		to_char(A.IAMONEY) IAMONEY,
		A.CAPPROVALSTATE
	</sql>
	<sql id="search_my_tasks_fragment8">
		select
		<include refid="search_my_tasks8" />
		from tb_fa_discard_sell A
		where 1=1 
		and STATUS='0'
		and (A.CNEXTHANDLERCODE = #{myTasks.userCode} OR A.CNEXTHANDLERCODE IN (SELECT
	CAUTHORIZERCODE
	FROM T_APPROVALEMPOWER WHERE CUSERCODE =#{myTasks.userCode} AND SYSDATE BETWEEN
	CBEGINTIME AND
	CENDTIME AND CSTATUS = 'Y' AND CAPPROVALEND = 'Y') OR A.CNEXTHANDLERCODE IN
	(SELECT T.CRELEASEUSERCODE
	FROM T_EMPOWER_APPROVAL T WHERE T.CRESEIVEUSERCODE = #{myTasks.userCode} AND
	T.CSYSMEMUCODE IN (SELECT CMENUCODE FROM T_WF_TYPE
	WHERE BFLAG = 'Y'
	AND CFLOWTYPECODE =
	'77031')
	AND T.CDEPCODE =
	A.SUBORDINATE_DEPARTMENT_CODE
	AND SYSDATE BETWEEN
	T.BEGINDATE AND
	T.ENDDATE
	AND A.IAMONEY BETWEEN
	T.BEGINMONEY AND
	T.ENDMONEY
	AND T.CSTATUS = 'Y'
	AND T.CAPPROVALEND = 'Y'))
		<if test="myTasks.documentId !=null and myTasks.documentId != ''">
			and A.CDOCUMENT LIKE '%' || #{myTasks.documentId} || '%'
		</if>
		<if test="myTasks.applyUser != null and myTasks.applyUser !='' ">
			and A.CREATE_BY like '%' || #{myTasks.applyUser} || '%'
		</if>
		<if test="myTasks.assetType != null and myTasks.assetType !='' ">
				<choose>
				<when test='myTasks.assetType=="IT资产"'>
					and A.ASSET_TYPE = '0'
				</when>
				<when test='myTasks.assetType=="行政资产"'>
					and A.ASSET_TYPE = '1'
				</when>
				<when test='myTasks.assetType=="计量器具"'>
					and A.ASSET_TYPE = '2'
				</when>
				<when test='myTasks.assetType=="机器设备"'>
					and A.ASSET_TYPE = '3'
				</when>
			</choose>
		</if>
		<if test="myTasks.beginDate != null and myTasks.beginDate != '' ">
			and A.CREATE_DATE <![CDATA[>]]>  to_date(#{myTasks.beginDate},'yyyy-MM-dd')
		</if>
		<if test="myTasks.endDate != null and myTasks.endDate != '' ">
			and A.CREATE_DATE <![CDATA[<]]>  to_date(#{myTasks.endDate},'yyyy-MM-dd')
		</if>
		<if test="myTasks.budgetDepartmentCode != null and myTasks.budgetDepartmentCode != '' ">
			and A.SUBORDINATE_DEPARTMENT_CODE = #{myTasks.budgetDepartmentCode}
		</if>
		
	</sql>
<!--9资产调拨-->
	<sql id="search_my_tasks9">
		VA.CDOCUMENT,
		'77002' TYPEID,
		VA.DEPARTMENT_NAME BUDGET_DEPARTMENT_NAME,
		'9'  as documentStatus,
		VA.CREATE_BY APPLY_USER,
		to_char(VA.APPLICATION_DATE,'yyyy-MM-dd') APPLY_DATE,
		VA.ASSET_TYPE,
		to_char(VA.IAMONEY) ORDER_MONEY,
		to_char(VA.IAMONEY) IAMONEY,
		VA.CAPPROVALSTATE
	</sql>
	<sql id="search_my_tasks_fragment9">
		select
		<include refid="search_my_tasks9" />
		from TB_FA_ASSET_ALLOCATION VA
		where 1=1
		and VA.STATUS='0'
	AND (VA.CNEXTHANDLERCODE LIKE '%' || #{myTasks.userCode} || '%'
    OR EXISTS (SELECT 1
          FROM T_APPROVALEMPOWER 
         WHERE CUSERCODE = #{myTasks.userCode}
           AND INSTR(VA.CNEXTHANDLERCODE, CAUTHORIZERCODE) > 0
           AND SYSDATE BETWEEN CBEGINTIME AND CENDTIME
           AND CSTATUS = 'Y'
           AND CAPPROVALEND = 'Y')OR VA.CNEXTHANDLERCODE IN
	(SELECT T.CRELEASEUSERCODE
	FROM T_EMPOWER_APPROVAL T WHERE T.CRESEIVEUSERCODE = #{myTasks.userCode} AND
	T.CSYSMEMUCODE IN (SELECT CMENUCODE FROM T_WF_TYPE
	WHERE BFLAG = 'Y'
	AND CFLOWTYPECODE =
	'77031')
	AND T.CDEPCODE =
	VA.POST_DEPARTMENT_CODE
	AND SYSDATE BETWEEN
	T.BEGINDATE AND
	T.ENDDATE
	AND VA.IAMONEY BETWEEN
	T.BEGINMONEY AND
	T.ENDMONEY
	AND T.CSTATUS = 'Y'
	AND T.CAPPROVALEND = 'Y'))
		<if test="myTasks.documentId !=null and myTasks.documentId != ''">
			and VA.CDOCUMENT LIKE '%' || #{myTasks.documentId} || '%'
		</if>
		<if test="myTasks.applyUser != null and myTasks.applyUser !='' ">
			and VA.CREATE_BY like '%' || #{myTasks.applyUser} || '%'
		</if>
		<if test="myTasks.assetType != null and myTasks.assetType !='' ">
			<choose>
				<when test='myTasks.assetType=="IT资产"'>
					and VA.ASSET_TYPE = '0'
				</when>
				<when test='myTasks.assetType=="行政资产"'>
					and VA.ASSET_TYPE = '1'
				</when>
				<when test='myTasks.assetType=="计量器具"'>
					and VA.ASSET_TYPE = '2'
				</when>
				<when test='myTasks.assetType=="机器设备"'>
					and VA.ASSET_TYPE = '3'
				</when>
			</choose>
		</if>
		<if test="myTasks.beginDate != null and myTasks.beginDate != '' ">
			and VA.CREATE_DATE <![CDATA[>]]>  to_date(#{myTasks.beginDate},'yyyy-MM-dd')
		</if>
		<if test="myTasks.endDate != null and myTasks.endDate != '' ">
			and VA.CREATE_DATE <![CDATA[<]]>  to_date(#{myTasks.endDate},'yyyy-MM-dd')
		</if>
		<if test="myTasks.budgetDepartmentCode != null and myTasks.budgetDepartmentCode != '' ">
			and VA.POST_DEPARTMENT_CODE = #{myTasks.budgetDepartmentCode}
		</if>
		
	</sql>
	<sql id="search_my_tasks10">
		A.CDOCUMENT,
		'77047' TYPEID,
		A.DEPARTMENT_NAME BUDGET_DEPARTMENT_NAME,
		'10'  as documentStatus,
		A.USER_NAME APPLY_USER,
		to_char(A.APPLICATION_DATE,'yyyy-MM-dd') APPLY_DATE,
		'' as ASSET_TYPE,
		to_char(A.IAMONEY) ORDER_MONEY,
		to_char(A.IAMONEY) IAMONEY,
		A.CAPPROVALSTATE
	</sql>
	<sql id="search_my_tasks_fragment10">
		select
		<include refid="search_my_tasks10" />
		from tb_fa_budget_adjust A
		where 1=1
		and( A.CNEXTHANDLERCODE = #{myTasks.userCode} OR A.CNEXTHANDLERCODE IN (SELECT
	CAUTHORIZERCODE
	FROM T_APPROVALEMPOWER WHERE CUSERCODE =#{myTasks.userCode} AND SYSDATE BETWEEN
	CBEGINTIME AND
	CENDTIME AND CSTATUS = 'Y' AND CAPPROVALEND = 'Y') OR A.CNEXTHANDLERCODE IN
	(SELECT T.CRELEASEUSERCODE
	FROM T_EMPOWER_APPROVAL T WHERE T.CRESEIVEUSERCODE = #{myTasks.userCode} AND
	T.CSYSMEMUCODE IN (SELECT CMENUCODE FROM T_WF_TYPE
	WHERE BFLAG = 'Y'
	AND (CFLOWTYPECODE =
	'77047' or CFLOWTYPECODE =
	'77048'))
	AND (T.CDEPCODE =
	A.CALL_IN_DEPARTMENT_CODE OR T.CDEPCODE =
	A.CALL_OUT_DEPARTMENT_CODE)
	AND SYSDATE BETWEEN
	T.BEGINDATE AND
	T.ENDDATE
	AND A.IAMONEY BETWEEN
	T.BEGINMONEY AND
	T.ENDMONEY
	AND T.CSTATUS = 'Y'
	AND T.CAPPROVALEND = 'Y'))
		 
		<if test="myTasks.documentId !=null and myTasks.documentId != ''">
			and A.CDOCUMENT LIKE '%' || #{myTasks.documentId} || '%'
		</if>
		<if test="myTasks.applyUser != null and myTasks.applyUser !='' ">
			and A.USER_NAME like '%' || #{myTasks.applyUser} || '%'
		</if>
		<if test="myTasks.assetType != null and myTasks.assetType !='' ">
			<choose>
				<when test='myTasks.assetType=="IT资产"'>
					and A.ASSET_TYPE = '0'
				</when>
				<when test='myTasks.assetType=="行政资产"'>
					and A.ASSET_TYPE = '1'
				</when>
				<when test='myTasks.assetType=="计量器具"'>
					and A.ASSET_TYPE = '2'
				</when>
				<when test='myTasks.assetType=="机器设备"'>
					and ASSET_TYPE = '3'
				</when>
			</choose>
		</if>
		<if test="myTasks.beginDate != null and myTasks.beginDate != '' ">
			and A.APPLICATION_DATE <![CDATA[>]]>  to_date(#{myTasks.beginDate},'yyyy-MM-dd')
		</if>
		<if test="myTasks.endDate != null and myTasks.endDate != '' ">
			and A.APPLICATION_DATE <![CDATA[<]]>  to_date(#{myTasks.endDate},'yyyy-MM-dd')
		</if>
		<if test="myTasks.budgetDepartmentCode != null and myTasks.budgetDepartmentCode != '' ">
			and A.CALL_OUT_DEPARTMENT_CODE = #{myTasks.budgetDepartmentCode}
		</if>
		
	</sql>
	<sql id="search_my_tasks11">
		A.CDOCUMENT,
		'77079' TYPEID,
		A.DEPARTMENT_NAME BUDGET_DEPARTMENT_NAME,
		'11'  as documentStatus,
		A.APPLY_USER,
		to_char(A.APPLY_DATE,'yyyy-MM-dd') APPLY_DATE,
		'' AS ASSET_TYPE,
		to_char(A.IAMONEY) ORDER_MONEY,
		to_char(A.IAMONEY_LOCAL) IAMONEY,
		A.CAPPROVALSTATE
	</sql>
	<sql id="search_my_tasks_fragment11">
		select
		<include refid="search_my_tasks11" />
		from TB_FA_NOTPO_PAYMENT_ORDER A
		where 1=1
		and (A.CNEXTHANDLERCODE = #{myTasks.userCode} OR A.CNEXTHANDLERCODE IN (SELECT
	CAUTHORIZERCODE
	FROM T_APPROVALEMPOWER WHERE CUSERCODE =#{myTasks.userCode} AND SYSDATE BETWEEN
	CBEGINTIME AND
	CENDTIME AND CSTATUS = 'Y' AND CAPPROVALEND = 'Y') OR A.CNEXTHANDLERCODE IN
	(SELECT T.CRELEASEUSERCODE
	FROM T_EMPOWER_APPROVAL T WHERE T.CRESEIVEUSERCODE = #{myTasks.userCode} AND
	T.CSYSMEMUCODE IN (SELECT CMENUCODE FROM T_WF_TYPE
	WHERE BFLAG = 'Y'
	AND CFLOWTYPECODE =
	'77079')
	AND T.CDEPCODE =
	A.DEPARTMENT_CODE
	AND SYSDATE BETWEEN
	T.BEGINDATE AND
	T.ENDDATE
	AND A.IAMONEY BETWEEN
	T.BEGINMONEY AND
	T.ENDMONEY
	AND T.CSTATUS = 'Y'
	AND T.CAPPROVALEND = 'Y'))
		<if test="myTasks.documentId !=null and myTasks.documentId != ''">
			and A.CDOCUMENT LIKE '%' || #{myTasks.documentId} || '%'
		</if>
		<if test="myTasks.applyUser != null and myTasks.applyUser !='' ">
			and A.APPLY_USER like '%' || #{myTasks.applyUser} || '%'
		</if>
	
		<if test="myTasks.beginDate != null and myTasks.beginDate != '' ">
			and A.APPLY_DATE <![CDATA[>]]>  to_date(#{myTasks.beginDate},'yyyy-MM-dd')
		</if>
		<if test="myTasks.endDate != null and myTasks.endDate != '' ">
			and A.APPLY_DATE <![CDATA[<]]>  to_date(#{myTasks.endDate},'yyyy-MM-dd')
		</if>
		<if test="myTasks.budgetDepartmentCode != null and myTasks.budgetDepartmentCode != '' ">
			and A.DEPARTMENT_CODE = #{myTasks.budgetDepartmentCode}
		</if>
	</sql>
	<!-- 条件查询完成 分页 -->
	<!-- 所有单据类型-->
	<select id="searchMyTasksList" resultMap="myTasksResultMap">
		<include refid="pagination_Head" />
		<include refid="search_my_tasks_fragment" />
		order by APPLY_DATE
		<include refid="pagination_Tail" />
	</select>
	<select id="searchMyTasksListCounts" resultType="long">
		<include refid="count_Start_Head" />
		<include refid="search_my_tasks_fragment" />
		<include refid="count_Start_Tail" />
	</select>
	<!-- 1采购需求-->
	<select id="searchMyTasksList1" resultMap="myTasksResultMap">
		<include refid="pagination_Head" />
		<include refid="search_my_tasks_fragment1" />
		order by APPLY_DATE
		<include refid="pagination_Tail" />
	</select>
	<select id="searchMyTasksListCounts1" resultType="long">
		<include refid="count_Start_Head" />
		<include refid="search_my_tasks_fragment1" />
		<include refid="count_Start_Tail" />
	</select>
	<!--2采购申请 -->
	<select id="searchMyTasksList2" resultMap="myTasksResultMap">
		<include refid="pagination_Head" />
		<include refid="search_my_tasks_fragment2" />
		order by APPLY_DATE
		<include refid="pagination_Tail" />
	</select>
	<select id="searchMyTasksListCounts2" resultType="long">
		<include refid="count_Start_Head" />
		<include refid="search_my_tasks_fragment2" />
		<include refid="count_Start_Tail" />
	</select>
	<!-- 3采购订单-->
	<select id="searchMyTasksList3" resultMap="myTasksResultMap">
		<include refid="pagination_Head" />
		<include refid="search_my_tasks_fragment3" />
		order by APPLY_DATE
		<include refid="pagination_Tail" />
	</select>
	<select id="searchMyTasksListCounts3" resultType="long">
		<include refid="count_Start_Head" />
		<include refid="search_my_tasks_fragment3" />
		<include refid="count_Start_Tail" />
	</select>
	<!-- 4采购收货-->
	<select id="searchMyTasksList4" resultMap="myTasksResultMap">
		<include refid="pagination_Head" />
		<include refid="search_my_tasks_fragment4" />
		order by CREATE_DATE
		<include refid="pagination_Tail" />
	</select>
	<select id="searchMyTasksListCounts4" resultType="long">
		<include refid="count_Start_Head" />
		<include refid="search_my_tasks_fragment4" />
		<include refid="count_Start_Tail" />
	</select>
	<!-- 5采购验收-->
	<select id="searchMyTasksList5" resultMap="myTasksResultMap">
		<include refid="pagination_Head" />
		<include refid="search_my_tasks_fragment5" />
		order by CREATE_DATE
		<include refid="pagination_Tail" />
	</select>
	<select id="searchMyTasksListCounts5" resultType="long">
		<include refid="count_Start_Head" />
		<include refid="search_my_tasks_fragment5" />
		<include refid="count_Start_Tail" />
	</select>
	<!-- 6付款-->
		<select id="searchMyTasksList6" resultMap="myTasksResultMap">
		<include refid="pagination_Head" />
		<include refid="search_my_tasks_fragment6" />
		order by A.CREATE_DATE
		<include refid="pagination_Tail" />
	</select>
	<select id="searchMyTasksListCounts6" resultType="long">
		<include refid="count_Start_Head" />
		<include refid="search_my_tasks_fragment6" />
		<include refid="count_Start_Tail" />
	</select>
	<!-- 8报废/变卖-->
	<select id="searchMyTasksList8" resultMap="myTasksResultMap">
		<include refid="pagination_Head" />
		<include refid="search_my_tasks_fragment8" />
		<include refid="pagination_Tail" />
	</select>
	<select id="searchMyTasksListCounts8" resultType="long">
		<include refid="count_Start_Head" />
		<include refid="search_my_tasks_fragment8" />
		<include refid="count_Start_Tail" />
	</select>
	<!-- 9资产调拨-->
	<select id="searchMyTasksList9" resultMap="myTasksResultMap">
		<include refid="pagination_Head" />
		<include refid="search_my_tasks_fragment9" />
		<include refid="pagination_Tail" />
	</select>
	<select id="searchMyTasksListCounts9" resultType="long">
		<include refid="count_Start_Head" />
		<include refid="search_my_tasks_fragment9" />
		<include refid="count_Start_Tail" />
	</select>
		<!-- 10预算调整-->
	<select id="searchMyTasksList10" resultMap="myTasksResultMap">
		<include refid="pagination_Head" />
		<include refid="search_my_tasks_fragment10" />
		<include refid="pagination_Tail" />
	</select>
	<select id="searchMyTasksListCounts10" resultType="long">
		<include refid="count_Start_Head" />
		<include refid="search_my_tasks_fragment10" />
		<include refid="count_Start_Tail" />
	</select>
			<!-- 11非po付款-->
	<select id="searchMyTasksList11" resultMap="myTasksResultMap">
		<include refid="pagination_Head" />
		<include refid="search_my_tasks_fragment11" />
		<include refid="pagination_Tail" />
	</select>
	<select id="searchMyTasksListCounts11" resultType="long">
		<include refid="count_Start_Head" />
		<include refid="search_my_tasks_fragment11" />
		<include refid="count_Start_Tail" />
	</select>
</mapper>

