<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.opple.fa.discardsell.dao.DiscardSellDAO">

    <!-- oracle 分页头 -->
    <sql id="pagination_Head" >
        <![CDATA[select * from ( select row_.*, rownum rownum_ from ( ]]>
    </sql>
    <!-- oracle 分页尾 -->
    <sql id="pagination_Tail">
        <![CDATA[) row_ where rownum <= #{pager.pageSize}* #{pager.offset} ) where rownum_ >= #{pager.firstResult} + 1]]>
    </sql>
    <!-- count * from -->
	<sql id="count_Start_Head">
		<![CDATA[select count(*) from ( ]]>
	</sql>
	<sql id="count_Start_Tail">
		<![CDATA[) countObj ]]>
	</sql>
	<resultMap id="discardSellMap" type="com.opple.fa.discardsell.entity.DiscardSell">
		
        <result property="id" column="ID"/>
  		<result property="createBy" column="CREATE_BY"/>
  		<result property="createDate" column="CREATE_DATE"/>
  		<result property="updateBy" column="UPDATE_BY"/>
  		<result property="updateDate" column="UPDATE_DATE"/>
  		<result property="status" column="STATUS"/>
  		<result property="document" column="CDOCUMENT"/>
  		<result property="applyPeople" column="APPLY_PEOPLE"/>
  	
  		<result property="subordinateDepartment" column="SUBORDINATE_DEPARTMENT"/>
  		<result property="adscriptionCompany" column="ADSCRIPTION_COMPANY"/>
  		<result property="adscriptionDepartment" column="ADSCRIPTION_DEPARTMENT"/>
  		<result property="officeLocation" column="OFFICE_LOCATION"/>
  		<result property="assetType" column="ASSET_TYPE"/>
  		<result property="accountingYear" column="ACCOUNTING_YEAR"/>
  		<result property="commitType" column="COMMIT_TYPE"/>
  		<result property="approvalState" column="CAPPROVALSTATE"/>
  		<result property="platform" column="PLATFORM"/>
  		<result property="workshopType" column="WORKSHOP_TYPE"/>
  		<result property="assetOriginalValueSum" column="ASSET_ORIGINAL_VALUE_SUM"/>
  		<result property="assetNetValueSum" column="ASSET_NET_VALUE_SUM"/>
  		<result property="discardMoneySum" column="DISCARD_MONEY_SUM"/>
  		<result property="isExpenseAssets" column="IS_EXPENSE_ASSETS"/>
  		
  		<result property="discardOrSell" column="DISCARD_OR_SELL"/>
  		<result property="discardTypeFinance" column="DISCARD_TYPE_FINANCE"/>
  		<result property="purchasingJudgmentBasis" column="PURCHASING_JUDGMENT_BASIS"/>
  		<result property="actualDisposalPrice" column="ACTUAL_DISPOSAL_PRICE"/>
  		<result property="discardType" column="DISCARD_TYPE"/>
  		<result property="judgmentBasis" column="JUDGMENT_BASIS"/>
  		<result property="sellPattern" column="SELL_PATTERN"/>
  		<result property="supplierName" column="SUPPLIER_NAME"/>
  		<result property="sellValue" column="SELL_VALUE"/>
  		<result property="remark" column="REMARK"/>
  		
  		<result property="userCode" column="USER_CODE"/>
  		<result property="userName" column="USER_NAME"/>
  		<result property="companyCode" column="COMPANY_CODE"/>
  		<result property="companyName" column="COMPANY_NAME"/>
  		<result property="departmentCode" column="DEPARTMENT_CODE"/>
  		<result property="departmentName" column="DEPARTMENT_NAME"/>
  		<result property="approvalEnd" column="CAPPROVALEND"/>
  		<result property="caUserCode" column="CAUSERCODE"/>
  		<result property="caUserName" column="CAUSERNAME"/>
  		<result property="userDepCode" column="USERDEPCODE"/>
  		<result property="nextHandlerCode" column="CNEXTHANDLERCODE"/>
  		<result property="nextHandlerName" column="CNEXTHANDLERNAME"/>
  		<result property="lastADate" column="DLASTADATE"/>
  		<result property="isMail" column="ISEMAIL"/>
  		<result property="isPhoneMessage" column="ISPHONEMESSAGE"/>
  		<result property="idea" column="IDEA"/>
  		
		<result property="adscriptionCompanyCode" column="ADSCRIPTION_COMPANY_CODE"/>
		<result property="costCenterCode" column="COST_CENTER_CODE"/>
		<result property="costCenterName" column="COST_CENTER_NAME"/>
		<result property="subordinateDepartmentCode" column="SUBORDINATE_DEPARTMENT_CODE"/>
		<result property="basePrice" column="BASE_PRICE"/>
		<result property="putmanageIdea" column="PUTMANAGE_IDEA"/>
		<result property="isUpdateSap" column="IS_UPDATE_SAP"/>
		<result property="putmanagerCode" column="PUTMANAGER_CODE"/>
		<result property="putmanagerDepCode" column="PUTMANAGER_DEP_CODE"/>
		<result property="twoDepartmentHeadCode" column="TWO_DEPARTMENT_HEAD_CODE"/>
		<result property="receivegoodsName" column="RECEIVEGOODS_NAME" />			<!--仓库收货管理员姓名 -->
		<result property="receivegoodsCode" column="RECEIVEGOODS_CODE" />			<!--仓库收货管理员编码 -->
		<result property="retiredgoodsName" column="RETIREDGOODS_NAME" />			<!--仓库废品管理员姓名 -->
		<result property="retiredgoodsCode" column="RETIREDGOODS_CODE" />			<!--仓库废品管理员编码 -->
		<result property="purchasetipaccessName" column="PURCHASETIPACCESS_NAME" />			<!--采购意见处理员姓名 -->
		<result property="purchasetipaccessCode" column="PURCHASETIPACCESS_CODE" />			<!--采购意见处理员编码 -->
		<result property="purchasebidName" column="PURCHASEBID_NAME" />			<!--采购竞价/议价员姓名 -->
		<result property="purchasebidCode" column="PURCHASEBID_CODE" />			<!--采购竞价/议价员编码 -->
		<result property="payeeCode" column="PAYEE_NAME"/><!-- 收款确认员姓名 -->
		<result property="payeeName" column="PAYEE_CODE"/>
		<result property="iaMoeny" column="IAMONEY"/>
		<result property="isStamp" column="IS_STAMP"/>
		<result property="application" column="APPLICATION"/>
	</resultMap>
	<sql id="search_discard_sell">
		
		SELECT DISTINCT T.*
		FROM TB_FA_DISCARD_SELL T
		LEFT JOIN T_WF_BILL_STEP TS
    		ON T.CDOCUMENT = TS.CBILLCODE
		LEFT JOIN T_SAP_COSTCENTER TC
			ON T.COST_CENTER_CODE = TC.CCOSTCENTERCODE
		LEFT JOIN TB_FA_DISCARD_SELL_DETAIL TSD
			ON TSD.DISCARD_SELL_ID = T.ID
		WHERE 1=1
		<if test="discardSell.document!=null and discardSell.document!=''">
			AND  T.CDOCUMENT  LIKE '%' || #{discardSell.document} || '%'
		</if>
		<if test="discardSell.createBy!=null and discardSell.createBy!=''">
			AND  T.CREATE_BY  LIKE '%' || #{discardSell.createBy} || '%'
		</if>
		<if test="discardSell.subordinateDepartment!=null and discardSell.subordinateDepartment!=''">
			AND  T.SUBORDINATE_DEPARTMENT  LIKE '%' || #{discardSell.subordinateDepartment} || '%'
		</if>
		<if test="discardSell.adscriptionDepartment!=null and discardSell.adscriptionDepartment!=''">
			AND  T.ADSCRIPTION_DEPARTMENT  LIKE '%' || #{discardSell.adscriptionDepartment} || '%'
		</if>
		<if test="discardSell.adscriptionCompanyCode!=null and discardSell.adscriptionCompanyCode!=''">
			AND  (T.ADSCRIPTION_COMPANY  LIKE '%' || #{discardSell.adscriptionCompanyCode} || '%' OR T.ADSCRIPTION_COMPANY_CODE  LIKE '%' || #{discardSell.adscriptionCompanyCode} || '%')
		</if>
		<if test="discardSell.officeLocation!=null and discardSell.officeLocation!=''">
			AND  T.OFFICE_LOCATION  LIKE '%' || #{discardSell.officeLocation} || '%'
		</if>
		<if test="discardSell.accountingYear!=null and discardSell.accountingYear!=''">
			AND  T.ACCOUNTING_YEAR  LIKE '%' || #{discardSell.accountingYear} || '%'
		</if>
		<if test="discardSell.commitType!=null and discardSell.commitType!=''">
			AND  T.COMMIT_TYPE=#{discardSell.commitType}
		</if>
		<if test="discardSell.assetType!=null and discardSell.assetType!=''">
			AND  T.ASSET_TYPE=#{discardSell.assetType}
		</if>
		<if test="discardSell.approvalState!=null and discardSell.approvalState!=''">
			AND  T.CAPPROVALSTATE=#{discardSell.approvalState}
		</if>
		<if test="discardSell.isExpenseAssets!=null and discardSell.isExpenseAssets!=''">
			AND  T.IS_EXPENSE_ASSETS=#{discardSell.isExpenseAssets}
		</if>
		<if test="discardSell.assetCode!=null and discardSell.assetCode!=''">
			AND  TSD.ASSET_CODE LIKE '%' || #{discardSell.assetCode} || '%'
		</if>
		<if test="discardSell.assetName!=null and discardSell.assetName!=''">
			AND  TSD.ASSET_NAME LIKE '%' || #{discardSell.assetName} || '%'
		</if>
		<if test="discardSell.costCenterCode!=null and discardSell.costCenterCode!=''">
			AND  (T.COST_CENTER_NAME LIKE '%' || #{discardSell.costCenterCode} || '%' OR T.COST_CENTER_CODE LIKE '%' || #{discardSell.costCenterCode} || '%')
		</if>
		<if test="discardSell.start!=null and discardSell.start!=''">
			<![CDATA[ AND T.CREATE_DATE >= #{discardSell.start} ]]>
		</if>
		<if test="discardSell.end != null and discardSell.end!=''">
			<![CDATA[ AND T.CREATE_DATE <= #{discardSell.end} ]]>
		</if>
		AND T.STATUS='0' 
		AND ( 
				T.USER_CODE = #{discardSell.loginUseCode}  
				OR T.CNEXTHANDLERCODE = #{discardSell.loginUseCode} 
				OR TS.CUSERCODE = #{discardSell.loginUseCode} 
				OR TC.CHEAD = #{discardSell.loginUseCode} 
				
				OR T.USER_CODE  IN (SELECT CAUTHORIZERCODE FROM T_APPROVALEMPOWER WHERE CUSERCODE = #{discardSell.loginUseCode} AND SYSDATE BETWEEN CBEGINTIME AND CENDTIME 
										AND CSTATUS='Y' AND CAPPROVALEND='Y')
		   		OR T.CNEXTHANDLERCODE IN (SELECT CAUTHORIZERCODE FROM T_APPROVALEMPOWER WHERE CUSERCODE = #{discardSell.loginUseCode} AND SYSDATE BETWEEN CBEGINTIME AND CENDTIME 
										AND CSTATUS='Y' AND CAPPROVALEND='Y')
				OR TS.CUSERCODE IN (SELECT CAUTHORIZERCODE FROM T_APPROVALEMPOWER WHERE CUSERCODE = #{discardSell.loginUseCode} AND SYSDATE BETWEEN CBEGINTIME AND CENDTIME 
										AND CSTATUS='Y' AND CAPPROVALEND='Y')
				OR TC.CHEAD IN (SELECT CAUTHORIZERCODE FROM T_APPROVALEMPOWER WHERE CUSERCODE = #{discardSell.loginUseCode} AND SYSDATE BETWEEN CBEGINTIME AND CENDTIME 
										AND CSTATUS='Y' AND CAPPROVALEND='Y')
				OR 
				EXISTS(SELECT 1 FROM t_Sys_Userrole TR WHERE TR.CROLECODE=#{discardSell.assetAdminId} 
				AND TR.CUSERCODE=#{discardSell.loginUseCode}  AND tr.cstatus='Y')
			) 

		order by T.ID desc 
	</sql>
	<select id="searchDiscardSell" resultMap="discardSellMap">
		<include refid="pagination_Head"></include>
		<include refid="search_discard_sell"></include>
		<include refid="pagination_Tail"></include>
	</select>
	<select id="searchDiscardSellCount" resultType="long">
		<include refid="count_Start_Head"></include>
		<include refid="search_discard_sell"></include>
		<include refid="count_Start_Tail"></include>
	</select>
	<insert id="insertDiscardSell"  keyProperty="id" useGeneratedKeys="true"  parameterType="com.opple.fa.discardsell.entity.DiscardSell">
		<selectKey keyProperty="id"  order="BEFORE" resultType="long">
			select seq_discard_sell.nextval as id from dual
		</selectKey>
		insert into TB_FA_DISCARD_SELL
		(ID,
		CREATE_BY,
		CREATE_DATE,
		UPDATE_BY,
		UPDATE_DATE,
		CDOCUMENT,
		APPLY_PEOPLE,
		SUBORDINATE_DEPARTMENT,
		ADSCRIPTION_COMPANY,
		ADSCRIPTION_DEPARTMENT,
		OFFICE_LOCATION,
		ASSET_TYPE,
		ACCOUNTING_YEAR,
		COMMIT_TYPE,
		CAPPROVALSTATE,
		PLATFORM,
		WORKSHOP_TYPE,
		ASSET_ORIGINAL_VALUE_SUM,
		ASSET_NET_VALUE_SUM,
		DISCARD_MONEY_SUM,
		IS_EXPENSE_ASSETS,
		STATUS,
		USER_CODE,
		USER_NAME,
		DEPARTMENT_CODE,
		DEPARTMENT_NAME,
		ADSCRIPTION_COMPANY_CODE,
		COST_CENTER_CODE,
		COST_CENTER_NAME,
		SUBORDINATE_DEPARTMENT_CODE,
		IS_UPDATE_SAP,
		PUTMANAGER_CODE,
		PUTMANAGER_DEP_CODE,
		TWO_DEPARTMENT_HEAD_CODE,
		RECEIVEGOODS_NAME,
		RECEIVEGOODS_CODE,
		RETIREDGOODS_NAME,
		RETIREDGOODS_CODE,
		PURCHASETIPACCESS_NAME,
		PURCHASETIPACCESS_CODE,
		PURCHASEBID_NAME,
		PURCHASEBID_CODE,
		PAYEE_NAME,
		PAYEE_CODE,
		DISCARD_OR_SELL,
		IAMONEY,
		APPLICATION
		)
		VALUES
		(#{id},
		#{createBy},
		#{createDate},
		#{updateBy},
		#{updateDate},
		#{document},
		#{applyPeople},
		#{subordinateDepartment},
		#{adscriptionCompany},
		#{adscriptionDepartment},
		#{officeLocation},
		#{assetType},
		#{accountingYear},
		#{commitType},
		#{approvalState},
		#{platform},
		#{workshopType},
		#{assetOriginalValueSum},
		#{assetNetValueSum},
		#{discardMoneySum},
		#{isExpenseAssets},
		0,
		#{userCode},
		#{userName},
		#{departmentCode},
		#{departmentName},
		#{adscriptionCompanyCode},
		#{costCenterCode},
		#{costCenterName},
		#{subordinateDepartmentCode},
		0,
		#{putmanagerCode},
		#{putmanagerDepCode},
		#{twoDepartmentHeadCode},
		#{receivegoodsName},
		#{receivegoodsCode},
		#{retiredgoodsName},
		#{retiredgoodsCode},
		#{purchasetipaccessName},
		#{purchasetipaccessCode},
		#{purchasebidName},
		#{purchasebidCode},
		#{payeeName},
		#{payeeCode},
		#{discardOrSell},
		#{iaMoeny},
		#{application}
		)
	</insert>
	<update id="deleteDiscardSell">
		update TB_FA_DISCARD_SELL set STATUS=1 where ID=#{id} or CDOCUMENT=#{document}
	</update> 
	<select id="getDiscardSell" resultMap="discardSellMap">
		SELECT ID,
		CREATE_BY,
		CREATE_DATE,
		UPDATE_BY,
		UPDATE_DATE,
		CDOCUMENT,
		APPLY_PEOPLE,
		SUBORDINATE_DEPARTMENT,
		ADSCRIPTION_COMPANY,
		ADSCRIPTION_DEPARTMENT,
		OFFICE_LOCATION,
		ASSET_TYPE,
		CNEXTHANDLERNAME,
		ACCOUNTING_YEAR,
		COMMIT_TYPE,
		CAPPROVALSTATE,
		PLATFORM,
		WORKSHOP_TYPE,
		ASSET_ORIGINAL_VALUE_SUM,
		ASSET_NET_VALUE_SUM,
		DISCARD_MONEY_SUM,
		IS_EXPENSE_ASSETS,
		USER_CODE,
		USER_NAME,
		COMPANY_CODE,
		COMPANY_NAME,
		DEPARTMENT_CODE,
		DEPARTMENT_NAME,
		ADSCRIPTION_COMPANY_CODE,
		COST_CENTER_CODE,
		COST_CENTER_NAME,
		SUBORDINATE_DEPARTMENT_CODE,
		IS_UPDATE_SAP,
		PUTMANAGER_CODE,
		PUTMANAGER_DEP_CODE,
		TWO_DEPARTMENT_HEAD_CODE,
		RECEIVEGOODS_NAME,
		RECEIVEGOODS_CODE,
		RETIREDGOODS_NAME,
		RETIREDGOODS_CODE,
		PURCHASETIPACCESS_NAME,
		PURCHASETIPACCESS_CODE,
		PURCHASEBID_NAME,
		PURCHASEBID_CODE,
		PAYEE_NAME,
		PAYEE_CODE,
		CNEXTHANDLERCODE,
		DISCARD_OR_SELL,
		IAMONEY,
		DISCARD_TYPE_FINANCE,
		PURCHASING_JUDGMENT_BASIS,
		ACTUAL_DISPOSAL_PRICE,
		DISCARD_TYPE,
		JUDGMENT_BASIS,
		PUTMANAGE_IDEA,
		SUPPLIER_NAME,
		SELL_PATTERN,
		BASE_PRICE,
		APPLICATION
	    FROM TB_FA_DISCARD_SELL
		WHERE STATUS='0'  AND (CDOCUMENT=#{document} or ID=#{id}) 
	</select>
	<select id="getDiscardSellByCardId" resultMap="discardSellMap">
		SELECT ID,
		CREATE_BY,
		CREATE_DATE,
		UPDATE_BY,
		UPDATE_DATE,
		CDOCUMENT,
		APPLY_PEOPLE,
		SUBORDINATE_DEPARTMENT,
		ADSCRIPTION_COMPANY,
		ADSCRIPTION_DEPARTMENT,
		OFFICE_LOCATION,
		ASSET_TYPE,
		ACCOUNTING_YEAR,
		COMMIT_TYPE,
		CAPPROVALSTATE,
		PLATFORM,
		WORKSHOP_TYPE,
		
		IS_EXPENSE_ASSETS,
		USER_CODE,
		USER_NAME,
		COMPANY_CODE,
		COMPANY_NAME,
		DEPARTMENT_CODE,
		DEPARTMENT_NAME,
		ADSCRIPTION_COMPANY_CODE,
		COST_CENTER_CODE,
		COST_CENTER_NAME,
		SUBORDINATE_DEPARTMENT_CODE,
		IS_UPDATE_SAP,
		PUTMANAGER_CODE,
		PUTMANAGER_DEP_CODE,
		TWO_DEPARTMENT_HEAD_CODE,
		RECEIVEGOODS_NAME,
		RECEIVEGOODS_CODE,
		RETIREDGOODS_NAME,
		RETIREDGOODS_CODE,
		PURCHASETIPACCESS_NAME,
		PURCHASETIPACCESS_CODE,
		PURCHASEBID_NAME,
		PURCHASEBID_CODE,
		CNEXTHANDLERNAME,
		PAYEE_NAME,
		PAYEE_CODE,
		DISCARD_OR_SELL,
		IAMONEY,
		DISCARD_TYPE_FINANCE,
		PURCHASING_JUDGMENT_BASIS,
		ACTUAL_DISPOSAL_PRICE,
		APPLICATION
		 FROM TB_FA_DISCARD_SELL
		WHERE ID=#{id}  and  STATUS='0'
	</select>
	<delete id="deleteDiscardSellByDocument">
		update TB_FA_DISCARD_SELL set STATUS='1' WHERE CDOCUMENT = #{document}
	</delete>
	<select id="serchDiscardExport" resultMap="discardSellMap" >
						SELECT DISTINCT T.*
		FROM TB_FA_DISCARD_SELL T
		LEFT JOIN T_WF_BILL_STEP TS
    		ON T.CDOCUMENT = TS.CBILLCODE
		LEFT JOIN T_SAP_COSTCENTER TC
			ON T.COST_CENTER_CODE = TC.CCOSTCENTERCODE
		WHERE 1=1
		<if test="discardSell.document!=null and discardSell.document!=''">
			AND  T.CDOCUMENT  LIKE '%' || #{discardSell.document} || '%'
		</if>
		<if test="discardSell.createBy!=null and discardSell.createBy!=''">
			AND  T.CREATE_BY  LIKE '%' || #{discardSell.createBy} || '%'
		</if>
		<if test="discardSell.subordinateDepartment!=null and discardSell.subordinateDepartment!=''">
			AND  T.SUBORDINATE_DEPARTMENT  LIKE '%' || #{discardSell.subordinateDepartment} || '%'
		</if>
		<if test="discardSell.adscriptionDepartment!=null and discardSell.adscriptionDepartment!=''">
			AND  T.ADSCRIPTION_DEPARTMENT  LIKE '%' || #{discardSell.adscriptionDepartment} || '%'
		</if>
		<if test="discardSell.adscriptionCompany!=null and discardSell.adscriptionCompany!=''">
			AND  T.ADSCRIPTION_COMPANY  LIKE '%' || #{discardSell.adscriptionCompany} || '%'
		</if>
		<if test="discardSell.officeLocation!=null and discardSell.officeLocation!=''">
			AND  T.OFFICE_LOCATION  LIKE '%' || #{discardSell.officeLocation} || '%'
		</if>
		<if test="discardSell.accountingYear!=null and discardSell.accountingYear!=''">
			AND  T.ACCOUNTING_YEAR  LIKE '%' || #{discardSell.accountingYear} || '%'
		</if>
		<if test="discardSell.commitType!=null and discardSell.commitType!=''">
			AND  T.COMMIT_TYPE=#{discardSell.commitType}
		</if>
		<if test="discardSell.approvalState!=null and discardSell.approvalState!=''">
			AND  T.CAPPROVALSTATE=#{discardSell.approvalState}
		</if>
		<if test="discardSell.start!=null and discardSell.start!=''">
			<![CDATA[ AND T.CREATE_DATE >= #{discardSell.start} ]]>
		</if>
		<if test="discardSell.end != null and discardSell.end!=''">
			<![CDATA[ AND T.CREATE_DATE <= #{discardSell.end} ]]>
		</if>
		AND T.STATUS='0' 
		AND ( 
				T.USER_CODE = #{discardSell.loginUseCode}  
				OR T.CNEXTHANDLERCODE = #{discardSell.loginUseCode} 
				OR TS.CUSERCODE = #{discardSell.loginUseCode} 
				OR TC.CHEAD = #{discardSell.loginUseCode} 
				
				OR T.USER_CODE  IN (SELECT CAUTHORIZERCODE FROM T_APPROVALEMPOWER WHERE CUSERCODE = #{discardSell.loginUseCode} AND SYSDATE BETWEEN CBEGINTIME AND CENDTIME 
										AND CSTATUS='Y' AND CAPPROVALEND='Y')
		   		OR T.CNEXTHANDLERCODE IN (SELECT CAUTHORIZERCODE FROM T_APPROVALEMPOWER WHERE CUSERCODE = #{discardSell.loginUseCode} AND SYSDATE BETWEEN CBEGINTIME AND CENDTIME 
										AND CSTATUS='Y' AND CAPPROVALEND='Y')
				OR TS.CUSERCODE IN (SELECT CAUTHORIZERCODE FROM T_APPROVALEMPOWER WHERE CUSERCODE = #{discardSell.loginUseCode} AND SYSDATE BETWEEN CBEGINTIME AND CENDTIME 
										AND CSTATUS='Y' AND CAPPROVALEND='Y')
				OR TC.CHEAD IN (SELECT CAUTHORIZERCODE FROM T_APPROVALEMPOWER WHERE CUSERCODE = #{discardSell.loginUseCode} AND SYSDATE BETWEEN CBEGINTIME AND CENDTIME 
										AND CSTATUS='Y' AND CAPPROVALEND='Y')
				OR 
				EXISTS(SELECT 1 FROM t_Sys_Userrole TR WHERE TR.CROLECODE=#{discardSell.assetAdminId} 
				AND TR.CUSERCODE=#{discardSell.loginUseCode}  AND tr.cstatus='Y')
			) 

		order by T.ID desc 
	</select>
	<update id="updateDiscardell" parameterType="com.opple.fa.discardsell.entity.DiscardSell">
		update TB_FA_DISCARD_SELL
		set
		CREATE_BY=#{createBy},
		CREATE_DATE=#{createDate},
		UPDATE_BY=#{updateBy},
		UPDATE_DATE=#{updateDate},
		APPLY_PEOPLE=#{applyPeople},
		SUBORDINATE_DEPARTMENT=#{subordinateDepartment},
		ADSCRIPTION_COMPANY=#{adscriptionCompany},
		ADSCRIPTION_DEPARTMENT=#{adscriptionDepartment},
		OFFICE_LOCATION=#{officeLocation},
		ASSET_TYPE=#{assetType},
		ACCOUNTING_YEAR=#{accountingYear},
		COMMIT_TYPE=#{commitType},
		CAPPROVALSTATE=#{approvalState},
		PLATFORM=#{platform},
		WORKSHOP_TYPE=#{workshopType},
		ASSET_ORIGINAL_VALUE_SUM=#{assetOriginalValueSum},
		ASSET_NET_VALUE_SUM=#{assetNetValueSum},
		DISCARD_MONEY_SUM=#{discardMoneySum},
		IS_EXPENSE_ASSETS=#{isExpenseAssets},
		ADSCRIPTION_COMPANY_CODE=#{adscriptionCompanyCode},
		COST_CENTER_CODE=#{costCenterCode},
		COST_CENTER_NAME=#{costCenterName},
		SUBORDINATE_DEPARTMENT_CODE=#{subordinateDepartmentCode},
		PUTMANAGER_CODE=#{putmanagerCode},
		PUTMANAGER_DEP_CODE=#{putmanagerDepCode},
		TWO_DEPARTMENT_HEAD_CODE=#{twoDepartmentHeadCode},
		RECEIVEGOODS_NAME=#{receivegoodsName},
		RECEIVEGOODS_CODE=#{receivegoodsCode},
		RETIREDGOODS_NAME=#{retiredgoodsName},
		RETIREDGOODS_CODE=#{retiredgoodsCode},
		PURCHASETIPACCESS_NAME=#{purchasetipaccessName},
		PURCHASETIPACCESS_CODE=#{purchasetipaccessCode},
		PURCHASEBID_NAME=#{purchasebidName},
		PURCHASEBID_CODE=#{purchasebidCode},
		CNEXTHANDLERCODE=#{nextHandlerCode},
		CNEXTHANDLERNAME=#{nextHandlerName},
		PAYEE_NAME=#{payeeName},
		PAYEE_CODE=#{payeeCode},
		IAMONEY=#{iaMoeny},
		APPLICATION=#{application}
		where ID=#{id}
	</update>
		<update id="updateDiscardellByDocument" parameterType="com.opple.fa.discardsell.entity.DiscardSell">
		update TB_FA_DISCARD_SELL
		set
		DISCARD_OR_SELL=#{discardOrSell},
		DISCARD_TYPE=#{discardType},
		JUDGMENT_BASIS=#{judgmentBasis},
		SELL_PATTERN=#{sellPattern},
		SUPPLIER_NAME=#{supplierName},
		SELL_VALUE=#{sellValue},
		REMARK=#{remark}
		where CDOCUMENT=#{document}
	</update>
	<update id="convertCommitTypeToOfficial">
		update TB_FA_DISCARD_SELL
		set COMMIT_TYPE='1'
		where CDOCUMENT=#{document}
	</update>
	<update id="updateDiscardellBackByDoucment" parameterType="com.opple.fa.discardsell.entity.DiscardSell">
		update TB_FA_DISCARD_SELL
		set
		CREATE_BY=#{createBy},
		CREATE_DATE=#{createDate},
		UPDATE_BY=#{updateBy},
		UPDATE_DATE=#{updateDate},
		STATUS=#{status},
		CDOCUMENT=#{document},
  		SUBORDINATE_DEPARTMENT=#{subordinateDepartment},
  		ADSCRIPTION_COMPANY=#{adscriptionCompany},
		ADSCRIPTION_DEPARTMENT=#{adscriptionDepartment},
		OFFICE_LOCATION=#{officeLocation},
		ASSET_TYPE=#{assetType},
		ACCOUNTING_YEAR=#{accountingYear},
		COMMIT_TYPE=#{commitType},
		CAPPROVALSTATE=#{approvalState},
		PLATFORM=#{platform},
		WORKSHOP_TYPE=#{workshopType},
		ASSET_ORIGINAL_VALUE_SUM=#{assetOriginalValueSum},
		ASSET_NET_VALUE_SUM=#{assetNetValueSum},
		DISCARD_MONEY_SUM=#{discardMoneySum},
		IS_EXPENSE_ASSETS=#{isExpenseAssets},
		DISCARD_OR_SELL=#{discardOrSell},
  		DISCARD_TYPE=#{discardType},
		JUDGMENT_BASIS=#{judgmentBasis},
  		SELL_PATTERN=#{sellPattern},
  		SUPPLIER_NAME=#{supplierName},
  		SELL_VALUE=#{sellValue},
  		REMARK=#{remark},
  		USER_CODE=#{userCode},
  		USER_NAME=#{userName},
  		COMPANY_CODE=#{companyCode},
  		COMPANY_NAME=#{companyName},
  		DEPARTMENT_CODE=#{departmentCode},
  		DEPARTMENT_NAME=#{departmentName},
  		CAPPROVALEND=#{approvalEnd},
		CAUSERCODE=#{caUserCode},
		CAUSERNAME=#{caUserName},
		USERDEPCODE=#{userDepCode},
  		CNEXTHANDLERCODE=#{nextHandlerCode},
  		CNEXTHANDLERNAME=#{nextHandlerName},
		DLASTADATE=#{lastADate},
		ISEMAIL=#{isMail},
		ISPHONEMESSAGE=#{isPhoneMessage},
		IDEA=#{idea},
		ADSCRIPTION_COMPANY_CODE=#{adscriptionCompanyCode},
		COST_CENTER_CODE=#{costCenterCode},
		COST_CENTER_NAME=#{costCenterName},
		SUBORDINATE_DEPARTMENT_CODE=#{subordinateDepartmentCode},
		PUTMANAGER_CODE=#{putmanagerCode},
		PUTMANAGER_DEP_CODE=#{putmanagerDepCode},
		TWO_DEPARTMENT_HEAD_CODE=#{twoDepartmentHeadCode},
		RECEIVEGOODS_NAME=#{receivegoodsName},
		RECEIVEGOODS_CODE=#{receivegoodsCode},
		RETIREDGOODS_NAME=#{retiredgoodsName},
		RETIREDGOODS_CODE=#{retiredgoodsCode},
		PURCHASETIPACCESS_NAME=#{purchasetipaccessName}	,
		PURCHASETIPACCESS_CODE=#{purchasetipaccessCode},
		PURCHASEBID_NAME=#{purchasebidName},
		PURCHASEBID_CODE=#{purchasebidCode},
		PAYEE_NAME=#{payeeName},
		PAYEE_CODE=#{payeeCode},
		IAMONEY=#{iaMoeny},
		APPLICATION=#{application}
		where  CDOCUMENT=#{document}
	</update>
	<select id="getDiscardSellByDocument"  resultMap="discardSellMap">
		select * from TB_FA_DISCARD_SELL where CDOCUMENT=#{document} and  STATUS='0'
	</select>
	<update id="updateDiscardByApprove" parameterType="com.opple.fa.discardsell.entity.DiscardSell">
			update TB_FA_DISCARD_SELL 
		<trim prefix="SET" suffixOverrides=",">
		<if
			test="discardOrSell != null and discardOrSell != ''">
			DISCARD_OR_SELL=#{discardOrSell},
		</if> 
		<if
			test="discardType != null and discardType != ''">
			DISCARD_TYPE=#{discardType},
		</if> 
		
			ACCOUNTING_YEAR='1',
		<if
			test="judgmentBasis != null and judgmentBasis != ''">
			JUDGMENT_BASIS=#{judgmentBasis},
		</if> 	
		<if
			test="sellPattern != null and sellPattern != ''">
			SELL_PATTERN=#{sellPattern},
		</if> 	
		<if
			test="supplierName != null and supplierName != ''">
			SUPPLIER_NAME=#{supplierName},
		</if> 	
		<if
			test="basePrice != null and basePrice != ''">
			BASE_PRICE=#{basePrice},
		</if> 		
 		<if
			test="putmanageIdea != null and putmanageIdea != ''">
			PUTMANAGE_IDEA=#{putmanageIdea},
		</if> 
			<if
			test="discardTypeFinance != null and discardTypeFinance != ''">
			DISCARD_TYPE_FINANCE=#{discardTypeFinance},
		</if> 
			<if
			test="purchasingJudgmentBasis != null and purchasingJudgmentBasis != ''">
			PURCHASING_JUDGMENT_BASIS=#{purchasingJudgmentBasis},
		</if> 
			<if
			test="actualDisposalPrice != null and actualDisposalPrice != ''">
			ACTUAL_DISPOSAL_PRICE=#{actualDisposalPrice},
		</if> 
	
		</trim>
  			where  CDOCUMENT=#{document}
	</update>
	<update id="updateIsSap" parameterType="com.opple.fa.discardsell.entity.DiscardSell">
		update TB_FA_DISCARD_SELL set
		IS_UPDATE_SAP='1'
		where ID=#{id}
	</update>
	<update id="updateStampStatus" parameterType="com.opple.fa.discardsell.entity.DiscardSell">
		update TB_FA_DISCARD_SELL set
		IS_STAMP=#{isStamp}
		WHERE ID=#{id}
	</update>
</mapper>

