<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.opple.fa.sap.dao.AssetRetireMainSapDAO">
	<resultMap id="assetRetireMainMap" type="assetRetireMain">
		<result property="id"	column="ID"/>		<!-- ID                                --> 		
		<result property="compCode"	column="COMP_CODE"/>		<!--  公司代码                          --> 		
		<result property="opreateUser"	column="OPREATE_USER"/>		<!-- 操作人                            --> 		
		<result property="operateDate"	column="OPERATE_DATE"/>		<!--                        --> 		
		<result property="etLog"	column="ET_LOG"/>		<!--  日志                          --> 		
		<result property="docno"	column="DOCNO"/>		<!-- 凭证号                  --> 		

	</resultMap>

	<insert id="save" keyProperty="id" useGeneratedKeys="true">
		<selectKey keyProperty="id" order="BEFORE" resultType="long">
			SELECT SEQ_FA_SAP_ASSETRETIRE.NEXTVAL from dual		
		</selectKey>
		insert into TB_FA_SAP_ASSETRETIRE_MAIN
		(
		ID,
		COMP_CODE,
		OPREATE_USER,
		OPERATE_DATE,
		ET_LOG,
		DOCNO
		)
		values
		(
		#{id},
		#{compCode },
		#{operateUser },
		#{operateDate },
		#{etLog },
		#{docno }

		)

	</insert>
</mapper>

