<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.opple.fa.sap.dao.BillCheckSapDAO">
	<resultMap id="itDataModelMap" type="itDataModel" >
		<result property="ebeln" column="EBELN" />				<!-- 采购凭证号 -->
		<result property="ebelp" column="EBELP" />				<!-- 采购凭证的项目编号 -->
		<result property="anln1" column="ANLN1" />				<!-- 主资产号 -->
		<result property="anln2" column="ANLN2" />				<!-- 次级资产编号 -->
		<result property="matnr" column="MATNR" />				<!-- 采购订单sap返回的MATNR-物料号 -->
		<result property="mjahr" column="MJAHR" />				<!-- 收货的接口返回的年度“epMatdocumentyear" -->
		<result property="mblnr" column="MBLNR" />				<!-- 收货返回的物料凭证号 -->
		<result property="erfmg" column="ERFMG" />				<!-- 条目单位的数量 -->
		<result property="netwr" column="NETWR" />				<!-- 凭证货币计量的净价值 -->
		<result property="mwskz" column="MWSKZ" />				<!-- 销售/购买税代码 -->
		<result property="netwj" column="NETWJ" />				<!-- 凭证货币计量的净价值 -->
		<result property="netwz" column="NETWZ" />				<!-- 凭证货币计量的税额 -->
		<result property="operateDate" column="OPERATE_DATE" />				<!-- 操作时间 -->
		<result property="operateUser" column="OPERATE_USER" />				<!-- 创建人 -->
		<result property="ebelnr" column="E_BELNR" />				<!-- 会计凭证号-->
		<result property="ecMessage" column="EC_MESSAGE" />				<!-- 结果信息 -->
		<result property="ecBelnr" column="EC_BELNR" />				<!-- 发票凭证 -->
		<result property="ecSubrc" column="EC_SUBRC" />				<!-- 返回消息类型：S（成功）E(失败) -->
	</resultMap>

	<insert id="save" parameterType="itDataModel">
		insert into TB_FA_SAP_BILLCHECK
		(
		<!-- DOC_TYPE, -->
		EBELN,
		EBELP,
		ANLN1,
		ANLN2,
		MATNR,
		MJAHR,
		MBLNR,
		ERFMG,
		NETWR,
		MWSKZ,
		NETWJ,
		NETWZ,
		OPERATE_USER,
		E_BELNR,
		EC_MESSAGE,
		EC_BELNR,
		EC_SUBRC

		)
		values
		(
		#{ebeln },
		#{ebelp },
		#{anln1 },
		#{anln2 },
		#{matnr },
		#{mjahr },
		#{mblnr },
		#{erfmg },
		#{netwr },
		#{mwskz },
		#{netwj },
		#{netwz },
		#{operateUser },
		#{ebelnr },
		#{ecMessage },
		#{ecBelnr },
		#{ecSubrc }

		)

	</insert>
</mapper>

