<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.opple.fa.sap.dao.IpHistoryDAO">
	<resultMap id="ipHistoryMap" type="ipHistory">
		<result property="mandt" column="MANDT" />
		<result property="oano" column="OANO" />
		<result property="sapno" column="SAPNO" />
		<result property="mblnr" column="MBLNR" />
		<result property="zdate" column="ZDATE" />
		<result property="ztime" column="ZTIME" />
		<result property="oaname" column="OANAME" />
		<result property="oamodule" column="OAMODULE" />
		<result property="rfc" column="RFC" />
		<result property="oaid" column="OAID" />
		<result property="sapid" column="SAPID" />
		<result property="company" column="COMPANY" />
		<result property="dept" column="DEPT" />
		<result property="remark" column="REMARK" />
	</resultMap>

	<insert id="save" parameterType="ipHistory">
		<!-- <selectKey resultType="java.lang.Long" order="AFTER" keyProperty="IID"> 
			SELECT SEQ_FA_IP_POHEADER1.currval AS IID FROM DUAL </selectKey> -->
		insert into TB_FA_SAP_IP_HISTORY
		(
		MANDT
		,OANO
		,SAPNO
		,MBLNR
		,ZDATE
		,ZTIME
		,OANAME
		,OAMODULE
		,RFC
		,OAID
		,SAPID
		,COMPANY
		,DEPT
		,REMARK
		)
		values
		(
		#{ipHistory.mandt },
		#{ipHistory.oano },
		#{ipHistory.sapno },
		#{ipHistory.mblnr },
		#{ipHistory.zdate },
		#{ipHistory.ztime },
		#{ipHistory.oaname },
		#{ipHistory.oamodule},
		#{ipHistory.rfc },
		#{ipHistory.oaid },
		#{ipHistory.sapid },
		#{ipHistory.company },
		#{ipHistory.dept },
		#{ipHistory.remark }
		)

	</insert>
</mapper>

