<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.opple.fa.sap.dao.ItZmm0004DAO">
	<resultMap id="itZmm0004Map" type="itZmm0004">
		<result property="poItem" column="PO_ITEM" />
		<result property="shortText" column="SHORT_TEXT" />
		<result property="material" column="MATERIAL" />
		<result property="plant" column="PLANT" />
		<result property="stgeLoc" column="STGE_LOC" />
		<result property="preqName" column="PREQ_NAME" />
		<result property="matlGroup" column="MATL_GROUP" />
		<result property="quantity" column="QUANTITY" />
		<result property="poUnit" column="PO_UNIT" />
		<result property="itemCat" column="ITEM_CAT" />
		<result property="acctasscat" column="ACCTASSCAT" />
		<result property="taxCode" column="TAX_CODE" />
		<result property="deliveryDate" column="DELIVERY_DATE" />
		<result property="glAccount" column="GL_ACCOUNT" />
		<result property="costcenter" column="COSTCENTER" />
		<result property="assetNo" column="ASSET_NO" />
		<result property="subNumber" column="SUB_NUMBER" />
		<result property="condType" column="COND_TYPE" />
		<result property="condUnit" column="COND_UNIT" />
		<result property="condPUunt" column="COND_P_UNT" />
		<result property="itemText" column="ITEM_TEXT" />
		<result property="condValue" column="COND_VALUE" />
		<result property="orderid" column="ORDERID" />
		<result property="bednr" column="BEDNR" />
		<result property="profitCtr" column="PROFIT_CTR" />
	</resultMap>

	<insert id="save" parameterType="itZmm0004">
		insert into TB_FA_IT_ZMM0004
		(
		PO_ITEM
		,SHORT_TEXT
		,MATERIAL
		,PLANT
		,STGE_LOC
		,PREQ_NAME
		,MATL_GROUP
		,QUANTITY
		,PO_UNIT
		,ITEM_CAT
		,ACCTASSCAT
		,TAX_CODE
		,DELIVERY_DATE
		,GL_ACCOUNT
		,COSTCENTER
		,ASSET_NO
		,SUB_NUMBER
		,COND_TYPE
		,COND_UNIT
		,COND_P_UNT
		,ITEM_TEXT
		,COND_VALUE
		,ORDERID
		,BEDNR
		,PROFIT_CTR
		)
		values
		(
		#{itZmm0004.poItem },
		#{itZmm0004.shortText },
		#{itZmm0004.material },
		#{itZmm0004.plant },
		#{itZmm0004.stgeLoc },
		#{itZmm0004.preqName },
		#{itZmm0004.matlGroup },
		#{itZmm0004.quantity },
		#{itZmm0004.poUnit },
		#{itZmm0004.itemCat },
		#{itZmm0004.acctasscat },
		#{itZmm0004.taxCode },
		#{itZmm0004.deliveryDate },
		#{itZmm0004.glAccount },
		#{itZmm0004.costcenter },
		#{itZmm0004.assetNo },
		#{itZmm0004.subNumber },
		#{itZmm0004.condType },
		#{itZmm0004.condUnit },
		#{itZmm0004.condPUunt },
		#{itZmm0004.itemText },
		#{itZmm0004.condValue },
		#{itZmm0004.orderid },
		#{itZmm0004.bednr },
		#{itZmm0004.profitCtr }
		)

	</insert>
</mapper>

