<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.opple.fa.sap.dao.ReceiveGoodsMainSapDAO">
	<resultMap id="receiveGoodsMainModelMap" type="receiveGoodsMain"><!-- -->
		<result property="id" column="ID" />   					<!--主键 -->
		<result property="pstngDate" column="PSTNG_DATE" />   					<!--凭证中的记帐日期 -->
		<result property="docDate" column="DOC_DATE" />   					<!--凭证中的凭证日期 -->
		<result property="prUname" column="PR_UNAME" />   					<!--用户名 -->
		<result property="headerTxt" column="HEADER_TXT" />   					<!--凭证抬头文本 -->
		<result property="refDocNo" column="REF_DOC_NO" />   					<!--外部物料单编号 -->
		<result property="oano" column="OANO" />   					<!--OA UNID -->
		<result property="mblnr" column="MBLNR" />   					<!--写入SAP产生的凭证 -->
		<result property="zdate" column="ZDATE" />   					<!--日期 -->
		<result property="ztime" column="ZTIME" />   					<!--时间 -->
		<result property="oaname" column="OANAME" />   					<!--OA操作人姓名 -->
		<result property="oamodule" column="OAMODULE" />   					<!--OA模块名 -->
		<result property="rfc" column="RFC" />   					<!--SAP函数名 -->
		<result property="oaid" column="OAID" />   					<!--OA操作人ID -->
		<result property="sapid" column="SAPID" />   					<!--SAP操作人ID -->
		<result property="company" column="COMPANY" />   					<!--公司名称 -->
		<result property="dept" column="DEPT" />   					<!--业务部门描述 -->
		<result property="remark" column="REMARK" />   					<!--说明 -->
		<result property="epMaterialdocument" column="EP_MATERIALDOCUMENT" />   					<!--物料凭证号 -->
		<result property="eBelnr" column="E_BELNR" />   					<!--会计凭证号 -->
		<result property="epMatdocumentyear" column="EP_MATDOCUMENTYEAR" />   					<!--年度 -->
		<result property="operateDate" column="OPERATE_DATE" />   					<!--操作时间 -->
		<result property="etLog" column="ET_LOG" />   					<!--日志 -->
		<result property="epSubrc" column="EP_SUBRC" />   					<!--结果-->
	</resultMap>

	<insert id="save" keyProperty="id" useGeneratedKeys="true">
	<selectKey keyProperty="id" order="BEFORE" resultType="long">
			SELECT SEQ_FA_SAP_RECEIVEGOODS_M_ID.NEXTVAL from dual
		</selectKey>
		insert into TB_FA_SAP_RECEIVEGOODS_MAIN
		(
		ID,
		PSTNG_DATE,
		DOC_DATE,
		PR_UNAME,
		HEADER_TXT,
		REF_DOC_NO,
		OANO,
		MBLNR,
		ZDATE,
		ZTIME,
		OANAME,
		OAMODULE,
		RFC,
		OAID,
		SAPID,
		COMPANY,
		DEPT,
		REMARK,
		EP_MATERIALDOCUMENT,
		E_BELNR,
		OPERATE_DATE,
		ET_LOG,
		EP_MATDOCUMENTYEAR

		)
		values
		(
		#{id },
		#{pstngDate }, 
		#{docDate }, 
		#{prUname }, 
		#{headerTxt }, 
		#{refDocNo }, 
		#{oano }, 
		#{mblnr }, 
		#{zdate }, 
		#{ztime }, 
		#{oaname }, 
		#{oamodule }, 
		#{rfc }, 
		#{oaid }, 
		#{sapid }, 
		#{company }, 
		#{dept }, 
		#{remark }, 
		#{epMaterialdocument }, 
		#{eBelnr },
		#{operateDate },
		#{etLog },
		#{epMatdocumentyear }
		)

	</insert>
	
		
	  <!-- 查看编码是否存在 -->
	<select id="selectExists" resultMap="receiveGoodsMainModelMap">
		SELECT TB_MAIN.* FROM TB_FA_SAP_RECEIVEGOODS_MAIN TB_MAIN INNER JOIN TB_FA_SAP_RECEIVEGOODS_I TB_I ON TB_MAIN.ID = TB_I.F_ID 
		WHERE TB_I.PLANT = #{company } AND TB_I.BSTNR = #{bstnr } AND TB_I.EBELP in (${ebelp }) AND TB_MAIN.EP_MATERIALDOCUMENT IS NOT NULL
	</select>
	
</mapper>

