<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.opple.fa.sap.dao.ReceiveGoodsSapDAO">
	<resultMap id="zrfcMmMb1a1Map" type="zrfcMmMb1a1">
		<result property="epMaterialdocument" column="EP_MATERIALDOCUMENT"/>
		<result property="eBelnr" column="E_BELNR"/>
		<result property="poNumber" column="PO_NUMBER"/>
		<result property="material" column="MATERIAL"/>
		<result property="etLog" column="ET_LOG"/>
		<result property="operateUser" column="OPERATE_USER"/>
		<result property="operateDate" column="OPERATE_DATE"/>
	</resultMap>

	<insert id="save" parameterType="zrfcMmMb1a1">
		insert into TB_FA_SAP_RECEIVE_GOODS
		(
		EP_MATERIALDOCUMENT,
		E_BELNR,
		PO_NUMBER,
		MATERIAL,
		ET_LOG,
		OPERATE_USER,
		OPERATE_DATE
		)
		values
		(
		#{zrfcMmMb1a1.epMaterialdocument },
		#{zrfcMmMb1a1.eBelnr },
		#{zrfcMmMb1a1.poNumber },
		#{zrfcMmMb1a1.material },
		#{zrfcMmMb1a1.etLog },
		#{zrfcMmMb1a1.operateUser },
		#{zrfcMmMb1a1.operateDate }
		)

	</insert>
</mapper>

