#page-selection ul li {
    display: inline;
}
span {
    color: red;
}
#format {
    width: 100%;
    height:100%;
    border-right:1px solid lightgrey;
    border-bottom:1px solid lightgrey;
}
#format td {
    border-left:1px solid lightgrey;
    border-top:1px solid lightgrey;
}
.tdtitle {
    width: 20%;
    text-align: right;
}