@CHARSET "UTF-8";

table{
	width: 100%;
	height: 100%;
	border: 1px solid #B5B5B5;
}
.td_left{
	text-align: left;
	width: 260px;
}
.td_right{
	text-align: right;
	width: 120px;
}
.table_head td{
	background-color: #F7F7F7 ;
}
span{
	color:red !important;
	margin-left: 5px !important;
}
.tr_color{
	background-color: #E8E8E8 ;
	border: 1px solid black ;

}

.td_select{
	height: 27px;
	width: 165px;
}

 .title_img{
 width:40px;
 height:15px;
 transition:all 0.3s;
}
.border_font{
	border: 1px solid  #B5B5B5;
	font-size:15px;color:blue;
	
}


td{
	font-size: 12px;
	height: 30px;
	
}
.buttonbar {
    background: #fafafa url("../Images/yuanh_07.jpg") repeat scroll 0 0;
    height: 24px;
    margin-left: 12px;
}
table.adminlist th {
    background: #fafafa url("../Images/yuanh_07.jpg") repeat-x scroll left bottom;
    border-color: #ccc #fff;
    border-style: solid;
    border-width: 1px;
    font-size: 12px;
    height: 25px;
    margin-bottom: 1px;
    overflow: hidden;
    white-space: nowrap;
}
