<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.opple.fa.config.dao.AreasDAO">
    <!-- oracle 分页头 -->
    <sql id="pagination_Head" >
        <![CDATA[select * from ( select row_.*, rownum rownum_ from ( ]]>
    </sql>
    <!-- oracle 分页尾 -->
    <sql id="pagination_Tail">
        <![CDATA[) row_ where rownum <= #{pager.pageSize}* #{pager.offset} ) where rownum_ >= #{pager.firstResult} + 1]]>
    </sql>
    <!-- count * from -->
    <sql id="count_Start_Head">
        <![CDATA[select count(*) from ( ]]>
    </sql>
    <sql id="count_Start_Tail">
        <![CDATA[) countObj ]]>
    </sql>
    <resultMap id="areasResultMap" type="com.opple.fa.config.entity.Areas">
        <result property="areaCode" column="CAREA_CODE"/>
        <result property="areaName" column="CAREA_NAME"/>
        <result property="areaType" column="CAREA_TYPE"/>
        <result property="status" column="CSTATUS"/>
        <result property="createBy" column="CCREATE_BY"/>
        <result property="createUserName" column="CCREATE_BY_NAME"/>
        <result property="createDate" column="DCREATE_DATE"/>
        <result property="updateBy" column="CUPDATE_BY"/>
        <result property="updateUserName" column="CUPDATE_BY_NAME"/>
        <result property="updateDate" column="DUPDATE_DATE"/>
    </resultMap>

    <!--模糊查询 分页-->
    <sql id="search_areas_list_fragment">
        SELECT CAREA_CODE, CAREA_NAME, CAREA_TYPE, CSTATUS, CCREATE_BY, CCREATE_BY_NAME,
        DCREATE_DATE, CUPDATE_BY, CUPDATE_BY_NAME, DUPDATE_DATE
        FROM TB_FA_AREAS
        WHERE  1 = 1
        <if test="areas.areaCode != null and areas.areaCode != ''">
            AND CAREA_CODE LIKE '%' || #{areas.areaCode} || '%'
        </if>
        <if test="areas.areaName != null and areas.areaName != ''">
            AND CAREA_NAME LIKE '%' || #{areas.areaName} || '%'
        </if>
        <if test="areas.areaType != null and areas.areaType != ''">
            AND CAREA_TYPE = #{areas.areaType}
        </if>
        <if test="areas.status != null and areas.status != ''">
            AND CSTATUS = #{areas.status}
        </if>
        ORDER BY DUPDATE_DATE DESC
    </sql>
    <select id="searchAreasList" resultMap="areasResultMap">
        <include refid="pagination_Head"/>
        <include refid="search_areas_list_fragment"/>
        <include refid="pagination_Tail"/>
    </select>
	<select id="searchAreasListCount" resultType="long">
        <include refid="count_Start_Head"/>
        <include refid="search_areas_list_fragment"/>
        <include refid="count_Start_Tail"/>
	</select>
    <select id="exportAreasList" resultMap="areasResultMap">
        <include refid="search_areas_list_fragment"/>
    </select>

    <!--根据主键查询-->
    <select id="getAreaByAreaCode" resultMap="areasResultMap" parameterType="string">
        SELECT CAREA_CODE, CAREA_NAME, CAREA_TYPE, CSTATUS, CCREATE_BY, CCREATE_BY_NAME,
        DCREATE_DATE, CUPDATE_BY, CUPDATE_BY_NAME, DUPDATE_DATE
        FROM TB_FA_AREAS
        WHERE  CAREA_CODE LIKE '%'||#{areaCode}||'%'
    </select>

    <select id="getAreasNumByAreaCode" resultType="integer" parameterType="string">
        SELECT count(*) FROM TB_FA_AREAS WHERE  CAREA_CODE LIKE '%'||#{areaCode}||'%'
    </select>
    <!--插入-->
    <insert id="addArea" parameterType="com.opple.fa.config.entity.Areas">
        INSERT INTO TB_FA_AREAS(
        CAREA_CODE,
        CAREA_NAME,
        CAREA_TYPE,
        CSTATUS,
        CCREATE_BY,
        CCREATE_BY_NAME,
        DCREATE_DATE,
        CUPDATE_BY,
        CUPDATE_BY_NAME,
        DUPDATE_DATE
        ) VALUES (
        #{areaCode},
        #{areaName},
        #{areaType},
        #{status},
        #{createBy},
        #{createUserName},
        SYSDATE,
        #{updateBy},
        #{updateUserName},
        SYSDATE
        )
    </insert>
    <!--更新-->
    <update id="updateArea" parameterType="com.opple.fa.config.entity.Areas">
        UPDATE TB_FA_AREAS SET
        CAREA_NAME = #{areaName},
        CAREA_TYPE= #{areaType},
        CSTATUS = #{status},
        CUPDATE_BY = #{updateBy},
        CUPDATE_BY_NAME = #{updateUserName},
        DUPDATE_DATE = SYSDATE
        WHERE CAREA_CODE = #{areaCode}
    </update>
    <update id="updateStatusOfArea" parameterType="com.opple.fa.config.entity.Areas">
        UPDATE TB_FA_AREAS SET
        CSTATUS = #{status},
        CUPDATE_BY = #{updateBy},
        CUPDATE_BY_NAME = #{updateUserName},
        DUPDATE_DATE = SYSDATE
        WHERE CAREA_CODE = #{areaCode}
    </update>

    <select id="getAreasNumByAreaName" resultType="integer">
        SELECT count(*)
        FROM TB_FA_AREAS
        WHERE  1=1
        <if test="areaCode != null and areaCode != '' and areaName != null and areaName != ''">
            and (CAREA_CODE = #{areaCode}

            or CAREA_NAME = #{areaName}
            )
        </if>


    </select>

</mapper>

