<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.opple.fa.config.dao.AssetsBudgetFromBUDDAO">
       <!-- oracle 分页头 -->
    <sql id="pagination_Head" >
        <![CDATA[select * from ( select row_.*, rownum rownum_ from ( ]]>
    </sql>
    <!-- oracle 分页尾 -->
    <sql id="pagination_Tail">
        <![CDATA[) row_ where rownum <= #{pager.pageSize}* #{pager.offset} ) where rownum_ >= #{pager.firstResult} + 1]]>
    </sql>
    <!-- count * from -->
	<sql id="count_Start_Head">
		<![CDATA[select count(*) from ( ]]>
	</sql>
	<sql id="count_Start_Tail">
		<![CDATA[) countObj ]]>
	</sql>
	<resultMap id="assetsBudgetFromBUDResultMap" type="com.opple.fa.config.entity.AssetsBudgetFromBUD">
        <result property="version" column="version"/>
        <result property="year" column="year"/>
        <result property="costCenter" column="cost_center"/>
        <result property="projectCode" column="project_code"/>
        <result property="type" column="type"/>
        <result property="assetType" column="asset_type"/>
        <result property="assetName" column="asset_name"/>
        <result property="projectName" column="project_name"/>
        <result property="unit" column="unit"/>
        <result property="quantity" column="quantity"/>
        <result property="unitPrice" column="unit_price"/>
        <result property="accordingTo" column="according_to"/>
        <result property="budgetPurchaseSum" column="budget_purchase_sum"/>
	</resultMap>

	<select id="searchAllAssetsBudgetFromBUD" resultMap="assetsBudgetFromBUDResultMap">
		SELECT * FROM T_FIXEDASSETBUDGET
	</select>
</mapper>

