<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
		PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.opple.fa.config.dao.AssetUnitDAO">
	<!-- oracle 分页头 -->
	<sql id="pagination_Head" >
		<![CDATA[select * from ( select row_.*, rownum rownum_ from ( ]]>
	</sql>
	<!-- oracle 分页尾 -->
	<sql id="pagination_Tail">
		<![CDATA[) row_ where rownum <= #{pager.pageSize}* #{pager.offset} ) where rownum_ >= #{pager.firstResult} + 1]]>
	</sql>
	<!-- count * from -->
	<sql id="count_Start_Head">
		<![CDATA[select count(*) from ( ]]>
	</sql>
	<sql id="count_Start_Tail">
		<![CDATA[) countObj ]]>
	</sql>
	<resultMap id="assetUnitResultMap" type="assetUnit">
		<result property="unitCode" column="UNIT_CODE"/>
		<result property="unitName" column="UNIT_NAME"/>
		<result property="createBy" column="CREATE_BY" />		<!--创建人 -->
		<result property="createDate" column="CREATE_DATE" />		<!--创建时间 -->
		<result property="updateBy" column="UPDATE_BY" />		<!--更新人 -->
		<result property="updateDate" column="UPDATE_DATE" />		<!--更新时间 -->
		<result property="createByCode" column="CREATE_BY_CODE" />		<!--创建人编码 -->
		<result property="updateByCode" column="UPDATE_BY_CODE" />		<!--最后更新人编码 -->
		<result property="memo" column="MEMO" />		<!--备注 -->
		<result property="status" column="STATUS" />		<!--数据状态 -->
		
	</resultMap>
	<select id="getAssetUnit" parameterType="assetUnit" resultMap="assetUnitResultMap">
			select  UNIT_CODE,
					UNIT_NAME
					from TB_FA_SAP_UNIT
					where 1=1
				  <if test="unitCode != null and unitCode != ''">
          		  AND UNIT_CODE =#{unitCode}
       			 </if>
       			 <if test="unitName != null and unitName != ''">
          		  AND UNIT_NAME =#{unitName}
       			 </if>
       			 AND STATUS = 'Y'
             	 AND ROWNUM = 1
	</select>
	<select id="getAssetUnitList" parameterType="assetUnit" resultMap="assetUnitResultMap">
			select  UNIT_CODE,
					UNIT_NAME
					from tb_fa_sap_unit
					where 
       			 STATUS = 'Y'
	</select>
	
	<sql id="search_fragment">
        SELECT
			UNIT_CODE,
			UNIT_NAME,
			CREATE_BY,
			CREATE_DATE,
			UPDATE_BY,
			UPDATE_DATE,
			CREATE_BY_CODE,
			UPDATE_BY_CODE,
			MEMO,
			STATUS
	  	 FROM TB_FA_SAP_UNIT  
	 	 WHERE 1=1
          
	</sql>
	
	<sql id="search_fragment_cond">
		<if
			test="assetUnit.unitCode != null and  assetUnit.unitCode != ''">
			AND UNIT_CODE LIKE '%' || TRIM(#{assetUnit.unitCode }) || '%'
		</if>
		<if
			test="assetUnit.unitName != null and  assetUnit.unitName != ''">
			AND UNIT_NAME LIKE '%' || TRIM(#{assetUnit.unitName }) || '%'
		</if>
		<if test="assetUnit.status != null and  assetUnit.status != ''">
			AND STATUS = #{assetUnit.status} 
		</if>
		<if test="assetUnit.updateBy != null and  assetUnit.updateBy != ''">
			AND UPDATE_BY LIKE '%' || TRIM(#{assetUnit.updateBy}) || '%'
		</if>
		<if
			test="assetUnit.updateDateBegin != null and  assetUnit.updateDateBegin != ''">
			AND UPDATE_DATE >= to_date(#{assetUnit.updateDateBegin},'yyyy/mm/dd')
		</if>
		<if
			test="assetUnit.updateDateEnd != null and  assetUnit.updateDateEnd != ''">
			 AND UPDATE_DATE <![CDATA[<= ]]>to_date(#{assetUnit.updateDateEnd},'yyyy/mm/dd')
		</if>
	</sql>

	<insert id="save">
		INSERT INTO TB_FA_SAP_UNIT
		(
		UNIT_CODE,
		UNIT_NAME,
		CREATE_BY,
		CREATE_BY_CODE,
		UPDATE_BY,
		UPDATE_BY_CODE,
		MEMO,
		STATUS,
		CREATE_DATE,
		UPDATE_DATE
		)
		VALUES
		(
		#{assetUnit.unitCode },
		#{assetUnit.unitName },
		#{assetUnit.createBy },
		#{assetUnit.createByCode },
		#{assetUnit.createBy },
		#{assetUnit.createByCode },
		#{assetUnit.memo },
		#{assetUnit.status },
		SYSDATE,
		SYSDATE
		)
	</insert>
	
		<!-- 批量插入 -->
	<insert id="saveBatch" >
	  	INSERT INTO TB_FA_SAP_UNIT
		(
		UNIT_NAME,
		UNIT_CODE,
		CREATE_BY,
		CREATE_BY_CODE,
		UPDATE_BY,
		UPDATE_BY_CODE,
		MEMO,
		STATUS,
		CREATE_DATE,
		UPDATE_DATE
		)
		VALUES
		 <foreach collection="list" item="item" index="index"  
	        separator=",">
	        	(
				#{item.unitName },
				#{item.unitCode },
				#{item.createBy },
				#{item.createByCode },
				#{item.createBy },
				#{item.createByCode },
				#{item.memo },
				#{item.status },
				SYSDATE,
				SYSDATE
				)
	      </foreach>
  	</insert>
    
	<!-- 修改是否可用状态 -->
	<delete id="delete">
		UPDATE TB_FA_SAP_UNIT
		SET
		STATUS = 'N',
		UPDATE_BY = #{assetUnit.updateBy },
		UPDATE_BY_CODE = #{assetUnit.updateByCode },
		UPDATE_DATE = SYSDATE

		WHERE UNIT_CODE IN 
		<foreach collection="assetUnit.unitCodes" item="unitCode" separator="," open="(" close=")">
			#{unitCode }
		</foreach>
			
	</delete>
	
	<!-- 修改 -->
	<update id="update">
		UPDATE TB_FA_SAP_UNIT
		SET
		UNIT_NAME = #{assetUnit.unitName },
		MEMO = #{assetUnit.memo },
		STATUS = #{assetUnit.status },
		UPDATE_BY = #{assetUnit.updateBy },
		UPDATE_BY_CODE = #{assetUnit.updateByCode },
		UPDATE_DATE = SYSDATE

		WHERE UNIT_CODE = #{assetUnit.unitCode }
	</update>
	

	<!-- 单条查询 -->
 	<select id="get" parameterType="string" resultMap="assetUnitResultMap">
 	
    	<include refid="search_fragment" />
    	AND UNIT_CODE = #{unitCode }
    </select>
    
	<!-- 查询 -->
	<select id="searchList" resultMap="assetUnitResultMap">
		<include refid="pagination_Head" />
		<include refid="search_fragment" />
		<include refid="search_fragment_cond" />
		<include refid="pagination_Tail" />
	</select>
	<select id="searchListCount" resultType="long">
		<include refid="count_Start_Head" />
		<![CDATA[SELECT UNIT_CODE
	  	 FROM TB_FA_SAP_UNIT 
	 	 WHERE 1=1
	 	  ]]>
		<include refid="search_fragment_cond" />
		<include refid="count_Start_Tail" />
	</select>

<!-- 查询 -->
	<select id="getList" resultMap="assetUnitResultMap">
		<include refid="search_fragment" />
		<include refid="search_fragment_cond" />
	</select>
	
    <!-- 查看编码是否存在 -->
	<select id="selectExistCodes" parameterType="java.util.List" resultType="string">
		SELECT UNIT_CODE FROM TB_FA_SAP_UNIT
		WHERE UNIT_CODE IN 
		<foreach collection="unitCodes" item="unitCode" separator="," open="(" close=")">
			#{unitCode }
		</foreach>
	</select>
	<select id="checkUnitCode" parameterType="string" resultType="integer">
		SELECT count(*) FROM TB_FA_SAP_UNIT
		WHERE UNIT_CODE = #{unitCode}
	</select>
	<select id="selectExistNames" resultType="long">
		SELECT count(UNIT_NAME) FROM TB_FA_SAP_UNIT
		WHERE
		UNIT_NAME = #{unitName }
	</select>
	
	
</mapper>

