<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.opple.fa.config.dao.AssetClassificationDAO">
    <!-- oracle 分页头 -->
    <sql id="pagination_Head" >
        <![CDATA[select * from ( select row_.*, rownum rownum_ from ( ]]>
    </sql>
    <!-- oracle 分页尾 -->
    <sql id="pagination_Tail">
        <![CDATA[) row_ where rownum <= #{pager.pageSize}* #{pager.offset} ) where rownum_ >= #{pager.firstResult} + 1]]>
    </sql>
    <!-- count * from -->
    <sql id="count_Start_Head">
        <![CDATA[select count(*) from ( ]]>
    </sql>
    <sql id="count_Start_Tail">
        <![CDATA[) countObj ]]>
    </sql>
    <resultMap id="assetsClassificationResultMap" type="com.opple.fa.config.entity.AssetClassification">
        <result property="assetClassification" column="ASSET_CLASSIFICATION"/>
        <result property="assetsName" column="ASSETS_CODE"/>
        <result property="assetstypeInfo" column="ASSETSTYPE_INFO"/>
        <result property="depreciationPeriod" column="DEPRECIATION_PERIOD"/>
        <result property="netResidualRate" column="NET_RESIDUAL_RATE"/>
        <result property="managementDepartment" column="MANAGEMENT_DEPARTMENT"/>
        <result property="generalLedgerAccount" column="GENERAL_LEDGER_ACCOUNT"/>
        <result property="accountDescription" column="ACCOUNT_DESCRIPTION"/>
        <result property="assteEnable" column="ASSTE_ENABLE"/>

        <result property="id" column="ID"/>
        <result property="max" column="MAX"/>
        <result property="status" column="STATUS"/>
        <result property="createBy" column="CREATE_BY"/>
        <result property="createUserName" column="CREATE_BY_NAME"/>
        <result property="createDate" column="CREATE_DATE"/>
        <result property="updateBy" column="UPDATE_BY"/>
        <result property="updateUserName" column="UPDATE_BY_NAME"/>
        <result property="updateDate" column="UPDATE_DATE"/>

        <result property="managementDepartmentCode" column="MANAGEMENT_DEPARTMENT_CODE"/>
    </resultMap>

    <sql id="search_AssetClassification" >
        SELECT
        bb.ASSET_CLASSIFICATION,
        bb.ASSETS_CODE,
        bb.ASSETSTYPE_INFO,
        bb.DEPRECIATION_PERIOD,
        bb.NET_RESIDUAL_RATE,
        bb.MANAGEMENT_DEPARTMENT,
        bb.GENERAL_LEDGER_ACCOUNT,
        bb.ACCOUNT_DESCRIPTION,
        ASSTE_ENABLE
        FROM
        TB_FA_ASSET_CLASSIFICATION bb
        where 1 = 1 AND STATUS = '0'
        <if
            test="applyOrder.expensing != null and applyOrder.expensing != ''">
        	AND ASSTE_ENABLE = #{applyOrder.expensing}
        </if>
        ORDER BY BB.ID ASC
    </sql>

    <select id="searchAssetClassification" resultMap="assetsClassificationResultMap">
        <include refid="search_AssetClassification" />
    </select>
	<select id="searchAssetClassificationByAssetClassification" resultMap="assetsClassificationResultMap">
		SELECT*
        FROM
        TB_FA_ASSET_CLASSIFICATION 
        WHERE   ASSET_CLASSIFICATION LIKE '%'||#{assetClassification}||'%'
        AND ROWNUM = 1
	</select>


    <sql id="search_asetClassification_fragment" >
        SELECT
        ASSET_CLASSIFICATION,
        ASSETS_CODE,
        ASSETSTYPE_INFO,
        DEPRECIATION_PERIOD,
        NET_RESIDUAL_RATE,
        MANAGEMENT_DEPARTMENT,
        GENERAL_LEDGER_ACCOUNT,
        ACCOUNT_DESCRIPTION,
        ASSTE_ENABLE,
        ID,
        STATUS
        FROM
        TB_FA_ASSET_CLASSIFICATION
        where 1 = 1
        <if test="assetClassification.id != null and assetClassification.id != ''">
            AND ID LIKE '%'||#{assetClassification.id}||'%'
        </if>
        <if test="assetClassification.assetClassification != null and assetClassification.assetClassification != ''">
            AND ASSET_CLASSIFICATION  LIKE '%'||#{assetClassification.assetClassification}||'%'
        </if>
        <if test="assetClassification.assetsName != null and assetClassification.assetsName != ''">
            AND ASSETS_CODE LIKE '%' || #{assetClassification.assetsName} || '%'
        </if>
        <if test="assetClassification.generalLedgerAccount != null and assetClassification.generalLedgerAccount != ''">
            AND GENERAL_LEDGER_ACCOUNT LIKE '%' || #{assetClassification.generalLedgerAccount} || '%'
        </if>
        <if test="assetClassification.status != null and assetClassification.status != ''">
            AND STATUS = #{assetClassification.status}
        </if>
        ORDER BY ID ASC
    </sql>
    <select id="searchAssetClassificationList" resultMap="assetsClassificationResultMap">
        <include refid="pagination_Head"/>
        <include refid="search_asetClassification_fragment"/>
        <include refid="pagination_Tail"/>
    </select>
    <select id="searchAssetClassificationListCount" resultType="long">
        <include refid="count_Start_Head"/>
        <include refid="search_asetClassification_fragment"/>
        <include refid="count_Start_Tail"/>
    </select>
    <select id="exportAssetClassificationList" resultMap="assetsClassificationResultMap">
        <include refid="search_asetClassification_fragment"/>
    </select>

    <select id="getAssetClassificationByID" resultMap="assetsClassificationResultMap">
        SELECT ASSET_CLASSIFICATION, ASSETS_CODE,
        ASSETSTYPE_INFO, DEPRECIATION_PERIOD,
        NET_RESIDUAL_RATE, MANAGEMENT_DEPARTMENT,
        GENERAL_LEDGER_ACCOUNT, ACCOUNT_DESCRIPTION,
        ASSTE_ENABLE, ID, STATUS
        FROM TB_FA_ASSET_CLASSIFICATION WHERE  ID = #{id} 
    </select>

    <select id="getAssetClassificationNumByAssetClassification" parameterType="string" resultType="integer">
        SELECT count(*) FROM TB_FA_ASSET_CLASSIFICATION WHERE ASSET_CLASSIFICATION = #{assetClassification}
    </select>
	<select id="getAssetClassificationByClass" resultMap="assetsClassificationResultMap">
		select * from TB_FA_ASSET_CLASSIFICATION where ASSET_CLASSIFICATION=#{assetClassification}
	</select>
	<update id="updateMaxByAssetClass" parameterType="com.opple.fa.config.entity.AssetClassification">
		update TB_FA_ASSET_CLASSIFICATION set MAX=#{max} where ASSET_CLASSIFICATION=#{assetClassification}
	</update>
    <insert id="addAssetClassification" parameterType="com.opple.fa.config.entity.AssetClassification">
        INSERT INTO TB_FA_ASSET_CLASSIFICATION(
        ID,
        ASSET_CLASSIFICATION,
        ASSETS_CODE,
        ASSETSTYPE_INFO,
        DEPRECIATION_PERIOD,
        NET_RESIDUAL_RATE,
        MANAGEMENT_DEPARTMENT,
        GENERAL_LEDGER_ACCOUNT,
        ACCOUNT_DESCRIPTION,
        ASSTE_ENABLE,
        STATUS,
        CREATE_BY,
        CREATE_BY_NAME,
        CREATE_DATE,
        UPDATE_BY,
        UPDATE_BY_NAME,
        UPDATE_DATE
        ) VALUES (
        seq_fa_asset_classification.nextval,
        #{assetClassification},
        #{assetsName},
        #{assetstypeInfo},
        #{depreciationPeriod},
        #{netResidualRate},
        #{managementDepartment},
        #{generalLedgerAccount},
        #{accountDescription},
        #{assteEnable},
        #{status},
        #{createBy},
        #{createUserName},
        SYSDATE,
        #{updateBy},
        #{updateUserName},
        SYSDATE
        )
    </insert>

    <update id="updateAssetClassification" parameterType="com.opple.fa.config.entity.AssetClassification">
        UPDATE TB_FA_ASSET_CLASSIFICATION SET
        ASSETS_CODE = #{assetsName},
        ASSETSTYPE_INFO = #{assetstypeInfo},
        DEPRECIATION_PERIOD = #{depreciationPeriod},
        NET_RESIDUAL_RATE = #{netResidualRate},
        MANAGEMENT_DEPARTMENT = #{managementDepartment},
        GENERAL_LEDGER_ACCOUNT = #{generalLedgerAccount},
        ACCOUNT_DESCRIPTION = #{accountDescription},
        ASSTE_ENABLE = #{assteEnable},
        STATUS = #{status},
        UPDATE_BY = #{updateBy},
        UPDATE_BY_NAME = #{updateUserName},
        UPDATE_DATE = SYSDATE
        WHERE 1 = 1
        <if test="id != null and id != ''">
              AND ID = #{id}
        </if>
        <if test="assetClassification != null and assetClassification != ''">
              AND ASSET_CLASSIFICATION = #{assetClassification}
        </if>
    </update>
    <update id="updateStatusOfAssetClassification" parameterType="com.opple.fa.config.entity.AssetClassification">
        UPDATE TB_FA_ASSET_CLASSIFICATION SET
        STATUS = #{status},
        UPDATE_BY = #{updateBy},
        UPDATE_BY_NAME = #{updateUserName},
        UPDATE_DATE = SYSDATE
        WHERE 1 = 1
        <if test="id != null and id != ''">
            AND ID = #{id}
        </if>
    </update>
    <select id="checkExisted" resultType="integer">
        SELECT COUNT(*)
        FROM TB_FA_ASSET_CLASSIFICATION
        WHERE ASSET_CLASSIFICATION = #{assetClassification.assetClassification}
    </select>

</mapper>

