<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.opple.fa.config.dao.FactoryDAO">
    <resultMap id="factoryResultMap" type="com.opple.fa.config.entity.Factory">
		<result property="cfactoryCode" column="CFACTORY_CODE" />	<!--工厂代码-->
		<result property="cfactoryName" column="CFACTORY_NAME" />	<!--工厂名称 -->
		<result property="ccompanyCode" column="CCOMPANY_CODE" />	<!--公司代码 -->
        <result property="ccompanyName" column="CCOMPANY_NAME"/>    <!--公司名称 -->
		<result property="ccreateBy" column="CCREATE_BY" />		<!--创建人 -->
		<result property="dcreateDate" column="DCREATE_DATE" />		<!--创建时间 -->
		<result property="cupdateBy" column="CUPDATE_BY" />		<!--更新人 -->
		<result property="dupdateDate" column="DUPDATE_DATE" />		<!--更新时间 -->
		<result property="ccreateByCode" column="CCREATE_BY_CODE" />		<!--创建人编码 -->
		<result property="cupdateByCode" column="CUPDATE_BY_CODE" />		<!--最后更新人编码 -->
		<result property="cmemo" column="CMEMO" />		<!--备注 -->
		<result property="cstatus" column="CSTATUS" />		<!--数据状态 -->
		
	</resultMap>


	<!-- oracle 分页头 -->
	<sql id="pagination_Head">
        <![CDATA[select * from ( select row_.*, rownum rownum_ from ( ]]>
	</sql>
	<!-- oracle 分页尾 -->
	<sql id="pagination_Tail">
        <![CDATA[) row_ where rownum <= #{pager.pageSize}* #{pager.offset} ) where rownum_ >= #{pager.firstResult} + 1]]>
	</sql>
	<!-- count * from -->
	<sql id="count_Start_Head">
		<![CDATA[select count(*) from ( ]]>
	</sql>
	<sql id="count_Start_Tail">
		<![CDATA[) countObj ]]>
	</sql>


	<sql id="search_fragment">
        SELECT
			CFACTORY_CODE,
			CFACTORY_NAME,
			CCOMPANY_CODE,
			CCOMPANY_NAME,
			CCREATE_BY,
			DCREATE_DATE,
			CUPDATE_BY,
			DUPDATE_DATE,
			CCREATE_BY_CODE,
			CUPDATE_BY_CODE,
			CMEMO,
			CSTATUS
	  	 FROM TB_FA_FACTORY  
	 	 WHERE 1=1
          
	</sql>
	
	<sql id="search_fragment_cond">
		<if
			test="factory.cfactoryCode != null and  factory.cfactoryCode != ''">
			AND CFACTORY_CODE LIKE '%' || TRIM(#{factory.cfactoryCode }) || '%'
		</if>
		<if
			test="factory.cfactoryName != null and  factory.cfactoryName != ''">
			AND CFACTORY_NAME LIKE '%' || TRIM(#{factory.cfactoryName }) || '%'
		</if>
		<if
			test="factory.ccompanyCode != null and  factory.ccompanyCode != ''">
            AND ( CCOMPANY_CODE LIKE '%' || TRIM(#{factory.ccompanyCode}) || '%'
            OR CCOMPANY_NAME LIKE '%' || TRIM(#{factory.ccompanyName}) || '%' )
		</if>
		<if
			test="factory.ccompanyName != null and  factory.ccompanyName != ''">
			AND CCOMPANY_NAME LIKE '%' || TRIM(#{factory.ccompanyName}) || '%'
		</if>
		<if test="factory.cstatus != null and  factory.cstatus != ''">
			AND CSTATUS = #{factory.cstatus} 
		</if>
		<if test="factory.cupdateBy != null and  factory.cupdateBy != ''">
			AND CUPDATE_BY LIKE '%' || TRIM(#{factory.cupdateBy}) || '%'
		</if>
		<if
			test="factory.updateDateBegin != null and  factory.updateDateBegin != ''">
			AND DUPDATE_DATE >= to_date(#{factory.updateDateBegin},'yyyy/mm/dd')
		</if>
		<if
			test="factory.updateDateEnd != null and  factory.updateDateEnd != ''">
			 AND DUPDATE_DATE <![CDATA[<= ]]>to_date(#{factory.updateDateEnd},'yyyy/mm/dd')
		</if>
        ORDER BY DUPDATE_DATE desc
	</sql>

	<insert id="save">
		INSERT INTO TB_FA_FACTORY
		(
		CFACTORY_CODE,
		CFACTORY_NAME,
		CCOMPANY_CODE,
		CCOMPANY_NAME,
		CCREATE_BY,
		CCREATE_BY_CODE,
		CUPDATE_BY,
		CUPDATE_BY_CODE,
		CMEMO,
		CSTATUS,
		DCREATE_DATE,
		DUPDATE_DATE
		)
		VALUES
		(
		#{factory.cfactoryCode },
		#{factory.cfactoryName },
		#{factory.ccompanyCode },
		#{factory.ccompanyName },
		#{factory.ccreateBy },
		#{factory.ccreateByCode },
		#{factory.ccreateBy },
		#{factory.ccreateByCode },
		#{factory.cmemo },
		#{factory.cstatus },
		SYSDATE,
		SYSDATE
		)
	</insert>
	
		<!-- 批量插入 -->
	<insert id="saveBatch" >
	  	INSERT INTO TB_FA_FACTORY
		(
        CFACTORY_CODE,
		CFACTORY_NAME,
		CCOMPANY_CODE,
		CCOMPANY_NAME,
		CCREATE_BY,
		CCREATE_BY_CODE,
		CUPDATE_BY,
		CUPDATE_BY_CODE,
		CMEMO,
		CSTATUS,
		DCREATE_DATE,
		DUPDATE_DATE
		)
		VALUES
		 <foreach collection="list" item="item" index="index"  
	        separator=",">
	        	(
             #{item.cfactoryCode },
             #{item.cfactoryName },
             #{item.ccompanyCode },
             #{item.ccompanyName },
             #{item.ccreateBy },
             #{item.ccreateByCode },
             #{item.ccreateBy },
             #{item.ccreateByCode },
             #{item.cmemo },
             #{item.cstatus },
             SYSDATE,
             SYSDATE
				)
	      </foreach>
  	</insert>
    
	<!-- 修改是否可用状态 -->
	<delete id="delete">
		UPDATE TB_FA_FACTORY
		SET
		CSTATUS = 'N',
		CUPDATE_BY = #{factory.cupdateBy },
		CUPDATE_BY_CODE = #{factory.cupdateByCode },
		DUPDATE_DATE = SYSDATE

		WHERE CFACTORY_CODE IN 
		<foreach collection="factory.cfactoryCodes" item="cfactoryCode" separator="," open="(" close=")">
			#{cfactoryCode }
		</foreach>
			
	</delete>
	
	<!-- 修改 -->
	<update id="update">
		UPDATE TB_FA_FACTORY
		SET
		CFACTORY_NAME = #{factory.cfactoryName },
		CCOMPANY_CODE = #{factory.ccompanyCode },
		CCOMPANY_NAME = #{factory.ccompanyName },
		CMEMO = #{factory.cmemo },
		CSTATUS = #{factory.cstatus },
		CUPDATE_BY = #{factory.cupdateBy },
		CUPDATE_BY_CODE = #{factory.cupdateByCode },
		DUPDATE_DATE = SYSDATE

		WHERE CFACTORY_CODE = #{factory.cfactoryCode }
	</update>
	

	<!-- 单条查询 -->
 	<select id="get" parameterType="string" resultMap="factoryResultMap">
 	
    	<include refid="search_fragment" />
    	AND CFACTORY_CODE = #{cfactoryCode }
    </select>
    
	<!-- 查询 -->
	<select id="searchList" resultMap="factoryResultMap">
		<include refid="pagination_Head" />
		<include refid="search_fragment" />
		<include refid="search_fragment_cond" />
		<include refid="pagination_Tail" />
	</select>
	<select id="searchListCount" resultType="long">
		<include refid="count_Start_Head" />
		<![CDATA[SELECT CFACTORY_CODE
	  	 FROM TB_FA_FACTORY 
	 	 WHERE 1=1
	 	  ]]>
		<include refid="search_fragment_cond" />
		<include refid="count_Start_Tail" />
	</select>

<!-- 查询 -->
	<select id="getList" resultMap="factoryResultMap">
		<include refid="search_fragment" />
		<include refid="search_fragment_cond" />
	</select>
	
	<select id="searchByCompanyCode" parameterType="string" resultMap="factoryResultMap">
           SELECT
	           	*
             FROM
                TB_FA_FACTORY
                WHERE CCOMPANY_CODE = #{ccompanyCode } AND CSTATUS = 'Y'
    </select>
    
    <!-- 查看编码是否存在 -->
	<select id="selectExistCodes" parameterType="java.util.List" resultType="string">
		SELECT CFACTORY_CODE FROM TB_FA_FACTORY
		WHERE CFACTORY_CODE IN 
		<foreach collection="cfactoryCodes" item="cfactoryCode" separator="," open="(" close=")">
			#{cfactoryCode }
		</foreach>
    </select>
    <select id="checkFactoryCode" parameterType="string" resultType="integer">
        SELECT count(*) FROM TB_FA_FACTORY
        WHERE CFACTORY_CODE = #{factoryCode}
	</select>
</mapper>

