<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.opple.fa.config.dao.ScanLocationDAO">
      
	<resultMap id="scanLocationResultMap" type="com.opple.fa.config.entity.ScanLocation">
        <result property="clocationcode" column="CLOCATIONCODE"/>
        <result property="clocationname" column="CLOCATIONNAME"/>
	</resultMap>

	<select id="findAll" resultMap="scanLocationResultMap">
           SELECT
	           	CLOCATIONCODE,
				CLOCATIONNAME
             FROM
                T_SCAN_LOCATION
             WHERE CSTATUS = 'Y'
    </select>
</mapper>

