<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.opple.fa.config.dao.UserRoleDAO">

	<resultMap id="userRoleMap" type="com.opple.fa.config.entity.UserRole">
		<result property="cusercode" column="CUSERCODE" />
		<result property="cusername" column="CUSERNAME" />
		<result property="crolecode" column="CROLECODE" />
		<result property="crolename" column="CROLENAME" />
	</resultMap>
	<!-- 根据用户编码 和 多个角色编码 查询角色数量 -->
	<select id="searchUserRole"  resultType="long">
	SELECT COUNT(*)
	  	FROM T_SYS_USERROLE T
	 WHERE T.CROLECODE IN (${crolecode}) 
	   AND T.CUSERCODE = #{cusercode}
	   AND T.CSTATUS = 'Y'	
	</select>
	
</mapper>

