<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.opple.fa.config.dao.UserInfoDAO">

	<resultMap id="userInfoMap" type="com.opple.fa.config.entity.UserInfo">
		
		<result property="ccompanycode" column="CCOMPANYCODE" />
		<result property="ccompanyname" column="CCOMPANYNAME" />
		
		<result property="ccostcentercode" column="CCOSTCENTERCODE" />
		<result property="ccostcentername" column="CCOSTCENTERNAME" />
		
		<result property="ckscode" column="CKSCODE" />
		<result property="cksname" column="CKSNAME" />
		
		<result property="assetsTypeCode" column="ASSETS_TYPE_CODE" />
		<result property="assetsType" column="ASSETS_TYPE" />
		<result property="caddressCode" column="CADDRESS_CODE" />
		<result property="caddressName" column="CADDRESS_NAME" />
		<result property="purchaseEngineerCode" column="PURCHASE_ENGINEER_CODE" />
		<result property="purchaseEngineer" column="PURCHASE_ENGINEER" />
		<result property="cplatformCode" column="CPLATFORM_CODE" />
		<result property="cplatform" column="CPLATFORM" />
	
		<result property="ccurrencycode" column="CCURRENCYCODE" />
		<result property="ccurrencyname" column="CCURRENCYNAME" />
		<result property="iexchangerate" column="IEXCHANGERATE" />
		
		<result property="careaCode" column="CAREA_CODE" />
		<result property="careaType" column="CAREA_TYPE" />
		<result property="careaName" column="CAREA_NAME" />
		
		<result property="departType" column="DEPART_TYPE" />
		<result property="departTypeCode" column="DEPART_TYPE_CODE" />
		
		<result property="coppdepcode" column="COPPDEPCODE" />
		<result property="coppdepname" column="COPPDEPNAME" />
		<result property="cemployeecode" column="CEMPLOYEECODE" />
		<result property="cemployeename" column="CEMPLOYEENAME" />
		
		<result property="cusercode" column="CUSERCODE" />
		<result property="cusername" column="CUSERNAME" />
		<result property="cusertype" column="CUSERTYPE" />
		<result property="cbudgetdepcode" column="CBUDGETDEPCODE" />
		<result property="cbudgetdepname" column="CBUDGETDEPNAME" />
		
		<result property="cpsition" column="CPOSITION" />
		<result property="cpsitionCode" column="CPOSITION_CODE" />
		<result property="workAddress" column="WORK_ADDRESS" />
		<result property="workAddressCode" column="WORK_ADDRESS_CODE" />
		
		<result property="ccostcentername" column="CCOSTCENTERNAME" />
		<result property="cdepCode" column="CDEPCODE" />
		<result property="cdepName" column="CDEPNAME" />

		<result property="ccostcentername" column="CCOSTCENTERNAME" />
		<result property="csupplierCode" column="CSUPPLIERCODE" />
		
		<result property="cauthorizerCode" column="CAUTHORIZERCODE" />
		
		<result property="internalOrderCode" column="CINTERNALORDERCODE" />
	</resultMap>
	
	<!-- 根据办公地点查询调拨后存放位置 -->
	<select id="getCpsition"  resultMap="userInfoMap">
	
		
			SELECT
				P .CPOSITION,
				P .CPOSITION_CODE,
				P .WORK_ADDRESS,
				P .WORK_ADDRESS_CODE
			FROM
				TB_FA_POSITION P
			WHERE
			1=1
		
			<if test="userInfo.workAddress != null and userInfo.workAddress != ''">
			AND	P .WORK_ADDRESS = #{userInfo.workAddress}
			</if>
			and P.CSTATUS='Y'
	
	</select>
	
	<!-- 根据部门树（科室code） 查询 公司， 根据部门树（科室code）和公司 查询 成本中心-->
	
	<select id="treeDept" resultMap="userInfoMap">
		 <![CDATA[
		 SELECT D.CDEPCODE CKSCODE,
            D.CDEPNAME CKSNAME,
            D.CCOMPANYCODE,
            C.CCOMPANYNAME,
            D.CCOSTCENTERCODE,
            D.CCOSTCENTERNAME
       FROM TB_FA_DEPCOSTCENTER D, T_COMPANY C
      WHERE 1 = 1
        AND C.CCOMPANYCODE = D.CCOMPANYCODE
        AND D.CDEPCODE =  #{ckscode}
       AND ROWNUM <=1
		]]>
	</select>

	<!-- 根据部门树（科室code） 查询 公司-->
	<select id="getCompany" resultMap="userInfoMap">
		SELECT TC.CCOMPANYCODE, TC.CCOMPANYNAME
		  FROM TB_FA_DEPCOSTCENTER T, T_COMPANY TC
		 WHERE T.CDEPCODE = #{ckscode}
		   AND TC.CCOMPANYCODE = T.CCOMPANYCODE
	</select>
	<!-- 根据部门树（科室code） 公司 查询 平台-->
	<select id="getCostCenter" resultMap="userInfoMap">
		SELECT T.CCOSTCENTERCODE, T.CCOSTCENTERNAME
		  FROM TB_FA_DEPCOSTCENTER T, T_COMPANY TC
		 WHERE T.CDEPCODE = #{ckscode}
		   AND TC.CCOMPANYCODE = T.CCOMPANYCODE
		   AND TC.CCOMPANYCODE = #{ccompanycode}
	</select>
<!-- 根据公司查询资产类型ASSETS_TYPE -->
	<select id="searchAssetsTypeInfo" resultMap="userInfoMap">
		       
		    SELECT DISTINCT ASS.COMPANY_CODE,
		                    ASS.ASSETS_TYPE_CODE, 
		                    ASS.ASSETS_TYPE
		      FROM TB_FA_ASSETS_ATTACHMENT ASS
		     WHERE 1 = 1
		<if test="userInfo.ccompanycode != null and userInfo.ccompanycode != ''">
			AND	ASS.COMPANY_CODE = #{userInfo.ccompanycode} 
		</if>
		
	</select>
		<!-- 根资产类型 和公司编码 查询 车间类型 -->
	<select id="searchDepartInfo" resultMap="userInfoMap">
		SELECT DISTINCT FA.COMPANY_CODE,
		                FA.ASSETS_TYPE_CODE,
		                FA.ASSETS_TYPE,
		                FA.DEPART_TYPE_CODE,
		                FA.DEPART_TYPE
			  FROM TB_FA_ASSETS_ATTACHMENT FA
			 WHERE 1 = 1
		<if test="userInfo.departTypeCode != null and userInfo.departTypeCode != ''">
			AND FA.ASSETS_TYPE_CODE = #{userInfo.departTypeCode} 
		</if>
		<if test="userInfo.assetsType != null and userInfo.assetsType != ''">
			AND FA.ASSETS_TYPE LIKE '%' || #{userInfo.assetsType} || '%'
		</if>
		<if test="userInfo.ccompanycode != null and userInfo.ccompanycode != ''">
			AND FA.COMPANY_CODE = #{userInfo.ccompanycode}  
		</if>
	</select>
	
	<!-- 根据公司 查询平台 -->
	<select id="searchPlatformInfo" resultMap="userInfoMap">
		SELECT DISTINCT F.CCOM_CODE,
						F.CPLATFORM_CODE,
						F.CPLATFORM
			FROM
		TB_FA_COM_FINANCE_LEADER F
		WHERE 1= 1
		<if test="userInfo.ccompanycode != null and userInfo.ccompanycode != ''">
			AND CCOM_CODE = #{userInfo.ccompanycode} 
		</if>
	</select>
	
	<!-- 查询所有的办公地点 -->
	<select id="searchAddressInfo" resultMap="userInfoMap">
		SELECT
		WA.CADDRESS_CODE,
		WA.CADDRESS_NAME
		FROM TB_FA_WORK_ADDRESS WA
		WHERE CSTATUS = 'Y'
	</select>

	<!-- 根据办公地点和公司查询 采购员 -->
	<select id="searchPurchaseInfo" resultMap="userInfoMap">
		 SELECT DISTINCT P.COMPANY_CODE,
		                  P.WORK_ADDRESS,
		                  P.PURCHASE_ENGINEER_CODE,
		                  P.PURCHASE_ENGINEER
		    FROM TB_FA_PURCHASE_PERSON P
		   WHERE 1 = 1
		<if test="userInfo.caddressName != null and userInfo.caddressName != ''">
<!-- 			AND WORK_ADDRESS LIKE '%' || #{userInfo.caddressName} || '%'  -->
			<![CDATA[
			AND P.WORK_ADDRESS 
			 LIKE '%' ||
			 DECODE(
					#{userInfo.caddressName},'上海','上海/区域','吴江','吴江','中山','中山','驻国外（非迪拜）','驻海外','驻国外（迪拜）','驻海外','上海/区域'
					)  
				|| '%'
				
			]]>	
		</if>
		<if test="userInfo.ccompanycode != null and userInfo.ccompanycode != ''">
			AND P.COMPANY_CODE = #{userInfo.ccompanycode} 
		</if>
	</select>



	<!-- 查询所有的币种 -->
	<select id="searchCurrencyInfo" resultMap="userInfoMap">
		SELECT
		E.CCURRENCYCODE,
		E.CCURRENCYNAME
		FROM
		T_CURRENCY E
		WHERE CSTATUS = 'Y'
	</select>
	<!-- 根据平台 查询 区域 -->
	<select id="searchAreasInfo" resultMap="userInfoMap">
	  SELECT 
	     F.CAREA_CODE,
	     F.CAREA_TYPE,
	     F.CAREA_NAME
	     FROM 
    TB_FA_AREAS F 
  	 WHERE 1= 1
		<if test="userInfo.cplatform != null and userInfo.cplatform != ''">
			 AND F.CAREA_TYPE =	DECODE(#{userInfo.cplatform},'家居',0,'商用',1)
		</if>
		AND  CSTATUS = '0'
	</select>
	
	
		<!-- 根申请人 查 申请部门 -->
	<select id="searchOpdeptInfo" resultMap="userInfoMap">

	SELECT
		E.COPPDEPCODE,
		E.COPPDEPNAME,
		E.CEMPLOYEECODE,
		E.CEMPLOYEENAME

	FROM T_EMPLOYEE E
	WHERE 1=1 
		<if test="userInfo.cemployeecode != null and userInfo.cemployeecode != ''">
			AND CEMPLOYEECODE LIKE '%' || #{userInfo.cemployeecode} || '%'
		</if>
	</select>
	
	<!-- 根申请人 查 申请部门（权限表控制） -->
	<select id="searchDeptAllInfo" resultMap="userInfoMap">
	 SELECT 
     DM.CUSERCODE,
     DM.CUSERNAME,
     DM.CBUDGETDEPCODE,
     DM.CBUDGETDEPNAME
      FROM T_SYS_DATAPERMISSION DM
	WHERE 1=1 
		<if test="userInfo.cusercode != null and userInfo.cusercode != ''">
			AND CUSERCODE LIKE '%' || #{userInfo.cusercode} || '%'
		</if>
		<if test="userInfo.cusername != null and userInfo.cusername != ''">
			AND CUSERNAME LIKE '%' || #{userInfo.cusername} || '%'
		</if>
	</select>
	
	<select id="searchDepartment" resultMap="userInfoMap">
		 SELECT 
		 DM.CDEPCODE,
		 DM.CDEPNAME,
	     DM.COPPDEPNAME,
	     DM.COPPDEPCODE,
	     DM.CCOSTCENTERNAME,
	     DM.CCOSTCENTERCODE,
	     DM.CCOMPANYNAME,
	     DM.CCOMPANYCODE
	     FROM T_EMPLOYEE DM
		WHERE 1=1 
		<if test="userInfo.cemployeecode != null and userInfo.cemployeecode != ''">
			AND CEMPLOYEECODE = #{userInfo.cemployeecode}
		</if>
	</select>
	
	<select id="searchCostcenterName" resultMap="userInfoMap" parameterType="com.opple.fa.config.entity.AssetsBudgetFromBUD">
		  SELECT
		     F.CCOSTCENTERNAME
		     FROM
	     T_SAP_COSTCENTER F
	  	 WHERE 1= 1
		<if test="assetsBudgetFromBUD.costCenter != null and assetsBudgetFromBUD.costCenter != ''">
			 AND F.CCOSTCENTERCODE  =	#{assetsBudgetFromBUD.costCenter}
		</if>
	</select>
	<select id="searchSupplierCode" resultMap="userInfoMap" parameterType="com.opple.fa.config.entity.UserInfo">
		  SELECT
		     F.CSUPPLIERCODE
		     FROM
	     t_supplier F
	  	 WHERE 1= 1
		<if test="userInfo.cemployeecode != null and userInfo.cemployeecode != ''">
			 AND F.CEMPLOYEECODE  =	#{userInfo.cemployeecode}
		</if>
	</select>

	<select id="searchDepInfoByCostCenter" resultMap="userInfoMap" parameterType="com.opple.fa.config.entity.BudgetAdjustmentDetail">
		SELECT
		t.CCOSTCENTERNAME, t.CDEPCODE, t.CDEPNAME
		FROM (SELECT * FROM TB_FA_DEPCOSTCENTER ORDER BY CDEPCODE) t
		WHERE 1= 1
		<if test="costCenter != null and costCenter != ''">
			AND t.CCOSTCENTERCODE  = #{costCenter}
		</if>
		AND t.CSTATUS = 'Y'
		and rownum = 1
	</select>
	<select id="searchAllCompany" resultMap="userInfoMap">
	 SELECT 
     	DM.CCOMPANYNAME,
	     DM.CCOMPANYCODE
      FROM T_COMPANY DM
	</select>
	<select id="searchCauthorizerCode" resultMap="userInfoMap">
	 SELECT CAUTHORIZERCODE FROM T_APPROVALEMPOWER WHERE CUSERCODE = #{userInfo.loginUserCode} 
			 AND SYSDATE BETWEEN CBEGINTIME AND CENDTIME AND CSTATUS='Y' AND CAPPROVALEND='Y'
	</select>
	<select id="searchLowDeptCount" resultType="long">
		select count(*) from t_budgetdep t where t.cbudgetdepcode= #{ckscode}
	</select>
	<select id="searchUserNameAndType" resultMap="userInfoMap">
	 SELECT T.CUSERNAME,T.CUSERTYPE FROM t_user t WHERE t.cusercode = #{loginUserCode} 
	</select>
	
	<select id="getUserDeptInfo" resultMap="userInfoMap">
		SELECT
			e.CDEPCODE AS CKSCODE,
			e.CDEPNAME AS CKSNAME
		FROM
			T_EMPLOYEE e
		WHERE
			e.CEMPLOYEECODE = #{loginUserCode}
	</select>
	
	<select id="getInternalOrderCode" resultMap="userInfoMap">
		SELECT * from t_tybx_handv_costcenter t
		WHERE
			 t.ccostcentercode=#{ccostcentercode} and t.ccompanycode=#{ccompanycode}
	</select>

	<select id="countUserByCodeAndName" resultType="integer">
		SELECT count(*) FROM t_user WHERE 1 = 1
		AND CUSERCODE = #{userCode}
		AND CUSERNAME = #{userName}
		AND CSTATUS = 'Y'
	</select>
</mapper>

