<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.opple.fa.purchase.dao.ApplyOrderDAO">
	<!-- oracle 分页头 -->
	<sql id="pagination_Head">
		<![CDATA[select * from ( select row_.*, rownum rownum_ from ( ]]>
	</sql>
	<!-- oracle 分页尾 -->
	<sql id="pagination_Tail">
		<![CDATA[) row_ where rownum <= #{pager.pageSize}* #{pager.offset} ) where rownum_ >= #{pager.firstResult} + 1]]>
	</sql>
	<!-- count * from -->
	<sql id="count_Start_Head">
		<![CDATA[select count(*) from ( ]]>
	</sql>
	<sql id="count_Start_Tail">
		<![CDATA[) countObj ]]>
	</sql>
	<resultMap id="applyOrderMap" type="com.opple.fa.purchase.entity.ApplyOrder">
		<result property="cdocument" column="CDOCUMENT" />
		<result property="applyUser" column="APPLY_USER" />
		<result property="applyDate" column="APPLY_DATE" />
		<result property="capprovalstate" column="CAPPROVALSTATE" />
		<result property="orderStatus" column="ORDER_STATUS" />
		<result property="draft" column="DRAFT" />
		<result property="createBy" column="CREATE_BY" />
		<result property="createDate" column="CREATE_DATE" />
		<result property="updateBy" column="UPDATE_BY" />
		<result property="updateDate" column="UPDATE_DATE" />
		<result property="assetType" column="ASSET_TYPE" />
		<result property="applyUserCode" column="APPLY_USER_CODE" />
		<result property="applyDepartment" column="APPLY_DEPARTMENT" />
		<result property="applyDepartmentCode" column="APPLY_DEPARTMENT_CODE" />
		<result property="companyCode" column="COMPANY_CODE" />
		<result property="officeLocation" column="OFFICE_LOCATION" />
		<result property="platform" column="PLATFORM" />
		<result property="costCenter" column="COST_CENTER" />
		<result property="region" column="REGION" />
		<result property="expensing" column="EXPENSING" />
		<result property="buyer" column="BUYER" />
		<result property="buyerCode" column="BUYER_CODE" />
		<result property="createByCode" column="CREATE_BY_CODE" />
		<result property="updateByCode" column="UPDATE_BY_CODE" />
		<result property="capprovalend" column="CAPPROVALEND" />
		<result property="causercode" column="CAUSERCODE" />
		<result property="causername" column="CAUSERNAME" />
		<result property="dlastadate" column="DLASTADATE" />
		<result property="cnexthandlercode" column="CNEXTHANDLERCODE" />
		<result property="cnexthandlername" column="CNEXTHANDLERNAME" />
		<result property="currencyCode" column="CURRENCY_CODE" />
		<result property="exchangeRate" column="EXCHANGE_RATE" />
		<result property="companyName" column="COMPANY_NAME" />
		<result property="costCenterCode" column="COST_CENTER_CODE" />
		<result property="building" column="BUILDING" />
		<result property="assemble" column="ASSEMBLE" />
		<result property="workShopType" column="WORK_SHOP_TYPE" />
		<result property="budgetDepartmentCode" column="BUDGET_DEPARTMENT_CODE" />
		<result property="budgetDepartmentName" column="BUDGET_DEPARTMENT_NAME" />
		<result property="print" column="PRINT" />
        <result property="orderMoney" column="ORDER_MONEY"  />  <!--订单金额-->
		<result property="attachDepartManagerName" column="ATTACH_DEPART_MANAGER_NAME" />
		<result property="attachDepartManagerCode" column="ATTACH_DEPART_MANAGER_CODE" />
        <result property="attachDepartAdminName" column="ATTACH_DEPART_ADMIN_NAME"/>
        <result property="attachDepartAdminCode" column="ATTACH_DEPART_ADMIN_CODE"/>
		<result property="purchasingManagerName" column="PURCHASING_MANAGER_NAME"/>
		<result property="purchasingManagerCode" column="PURCHASING_MANAGER_CODE"/>
		<result property="iamoney" column="IAMONEY" />
		<result property="status" column="STATUS" />
	</resultMap>

	<resultMap id="departmentMap" type="com.opple.fa.config.entity.Department">
		<result property="departmentCode" column="DEPARTMENT_CODE" />
		<result property="departmentName" column="DEPARTMENT_NAME" />
		<result property="costCenterCode" column="COST_CENTER_CODE" />
		<result property="costCenter" column="COST_CENTER" />
	</resultMap>
	<parameterMap type="java.util.Map" id="parameterMap"> 
	    <parameter property="result" jdbcType="VARCHAR" mode="OUT"/> 
	</parameterMap>
	<sql id="search_apply_order">
		SELECT DISTINCT T.*
		FROM BCC.TB_FA_APPLY_ORDER T

		WHERE 1=1
		<if
			test="applyOrderModel.cdocument != null and applyOrderModel.cdocument != ''">
			AND T.CDOCUMENT LIKE '%' || #{applyOrderModel.cdocument} || '%' 
		</if>
		<if
			test="applyOrderModel.assetType != null and applyOrderModel.assetType != ''">
			AND T.ASSET_TYPE LIKE '%' || #{applyOrderModel.assetType} || '%' 
		</if>
		<if
			test="applyOrderModel.applyDateStart != null and applyOrderModel.applyDateStart != ''">
			AND T.APPLY_DATE <![CDATA[>]]> #{applyOrderModel.applyDateStart} 
		</if>
		<if
			test="applyOrderModel.applyDateEnd != null and applyOrderModel.applyDateEnd != ''">
			AND T.APPLY_DATE <![CDATA[<]]> #{applyOrderModel.applyDateEnd} 
		</if>
		
		<if
			test="applyOrderModel.applyUser != null and applyOrderModel.applyUser != ''">
			AND T.APPLY_USER LIKE '%' || #{applyOrderModel.applyUser} || '%'
		</if>
		<if
			test="applyOrderModel.capprovalstate != null and applyOrderModel.capprovalstate != ''">
			AND T.CAPPROVALSTATE = #{applyOrderModel.capprovalstate} 
		</if>
		<if
			test="applyOrderModel.orderStatus != null and applyOrderModel.orderStatus != ''">
			AND T.ORDER_STATUS = #{applyOrderModel.orderStatus} 
		</if>
		<if
			test="applyOrderModel.draft != null and applyOrderModel.draft != ''">
			AND T.DRAFT = #{applyOrderModel.draft} 
		</if>

		<if
				test="applyOrderModel.companyCode != null and applyOrderModel.companyCode != ''">
			AND T.company_Code = #{applyOrderModel.companyCode}
		</if>
		<if
				test="applyOrderModel.costCenterCode != null and applyOrderModel.costCenterCode != ''">
			AND T.cost_Center_Code = #{applyOrderModel.costCenterCode}
		</if>



		<if test="applyOrderModel.assetsName != null and applyOrderModel.assetsName !=''">
			AND T.cdocument in (

			select aod.apply_order_id from tb_fa_apply_order_detail aod where aod.assets_name like '%'||TRIM(#{applyOrderModel.assetsName}) ||'%'
			)
		</if>
		<if test="applyOrderModel.demandId != null and applyOrderModel.demandId !=''">
			AND T.cdocument in (
				select adm.apply_id
				from tb_fa_apply_demand_mapping adm
				where adm.demand_detail_id in(
					(select dod.id
					from tb_fa_demand_order_detail dod
					where dod.demand_order_id like '%'|| trim(#{applyOrderModel.demandId})||'%'
					)
				)
			)
		</if>
			AND T.STATUS = 'Y'
			AND ( 
				T.APPLY_USER_CODE = #{applyOrderModel.loginUserCode}  

				
				OR T.APPLY_USER_CODE IN (SELECT CAUTHORIZERCODE FROM T_APPROVALEMPOWER 
										WHERE CUSERCODE = #{applyOrderModel.loginUserCode}  AND SYSDATE BETWEEN CBEGINTIME AND CENDTIME 
										AND CSTATUS='Y' AND CAPPROVALEND='Y')
				or
				(T.CDOCUMENT,#{applyOrderModel.loginUserCode} ) in (SELECT A.CBILLCODE,A.CUSERCODE
				FROM T_WF_BILL_STEP_ALL A
				WHERE
				A.TYPEID = '77011'
				UNION ALL
				SELECT C.CBILLCODE,B.CUSERCODE
				FROM T_APPROVALEMPOWER B
				INNER JOIN T_WF_BILL_STEP_ALL C
				ON B.CAUTHORIZERCODE = C.CUSERCODE

				AND C.TYPEID = '77011'
				WHERE SYSDATE BETWEEN B.CBEGINTIME AND B.CENDTIME
				AND B.CSTATUS = 'Y'
				AND B.CAPPROVALEND = 'Y')
				OR 
				EXISTS(SELECT 1 FROM t_Sys_Userrole TR WHERE TR.CROLECODE=#{applyOrderModel.assetAdminId} 
				AND TR.CUSERCODE=#{applyOrderModel.loginUserCode}  AND tr.cstatus='Y')
			) 
			ORDER BY T.CREATE_DATE DESC
	</sql>
	
	<select id="searchApplyOrder" resultMap="applyOrderMap">
		<include refid="pagination_Head" />
		<include refid="search_apply_order" />
		<include refid="pagination_Tail" />
	</select>

	<select id="searchApplyOrderCount" resultType="long">
		<include refid="count_Start_Head" />
		<include refid="search_apply_order" />
		<include refid="count_Start_Tail" />
	</select>
	
	
	<select id="searchApplyOrderByOrderId" resultMap="applyOrderMap">
		SELECT *
		FROM BCC.TB_FA_APPLY_ORDER
		WHERE 1=1
		
		<if
			test="applyOrder.cdocument != null and applyOrder.cdocument != ''">
			AND CDOCUMENT LIKE '%' || #{applyOrder.cdocument} || '%' 
		</if>
		AND STATUS = 'Y'
	</select>
	
	<insert id="save">
		INSERT INTO TB_FA_APPLY_ORDER
		  (	CDOCUMENT,
			APPLY_USER,
			APPLY_DATE,
			CAPPROVALSTATE,
			ORDER_STATUS,
			DRAFT,
			CREATE_BY,
			CREATE_DATE,
			UPDATE_BY,
			UPDATE_DATE,
			ASSET_TYPE,
			APPLY_USER_CODE,
			APPLY_DEPARTMENT,
			APPLY_DEPARTMENT_CODE,
			COMPANY_CODE,
			OFFICE_LOCATION,
			PLATFORM,
			COST_CENTER,
			REGION,
			EXPENSING,
			BUYER,
			BUYER_CODE,
			CREATE_BY_CODE,
			UPDATE_BY_CODE,
			CAPPROVALEND,
			CAUSERCODE,
			CAUSERNAME,
			DLASTADATE,
			CNEXTHANDLERCODE,
			CNEXTHANDLERNAME,
			CURRENCY_CODE,
			EXCHANGE_RATE,
			COMPANY_NAME,
			COST_CENTER_CODE,
			BUILDING,
			ASSEMBLE,
			WORK_SHOP_TYPE,
			BUDGET_DEPARTMENT_NAME,
			BUDGET_DEPARTMENT_CODE,
			PRINT,
       		ORDER_MONEY,
			ATTACH_DEPART_MANAGER_NAME,
			ATTACH_DEPART_MANAGER_CODE,
			ATTACH_DEPART_ADMIN_NAME,
			ATTACH_DEPART_ADMIN_CODE,
			PURCHASING_MANAGER_NAME,
			PURCHASING_MANAGER_CODE,
			STATUS,
			IAMONEY)
		VALUES
		  ( #{cdocument},
			#{applyUser},
			#{applyDate},
			#{capprovalstate},
			#{orderStatus},
			#{draft},
			#{createBy},
			#{createDate},
			#{updateBy},
			#{updateDate},
			#{assetType},
			#{applyUserCode},
			#{applyDepartment},
			#{applyDepartmentCode},
			#{companyCode},
			#{officeLocation},
			#{platform},
			#{costCenter},
			#{region},
			#{expensing},
			#{buyer},
			#{buyerCode},
			#{createByCode},
			#{updateByCode},
			#{capprovalend},
			#{causercode},
			#{causername},
			#{dlastadate},
			#{cnexthandlercode},
			#{cnexthandlername},
			#{currencyCode},
			#{exchangeRate},
			#{companyName},
			#{costCenterCode},
			#{building},
			#{assemble},
			#{workShopType},
			#{budgetDepartmentName},
			#{budgetDepartmentCode},
			#{print},
			#{orderMoney},
			#{attachDepartManagerName},
			#{attachDepartManagerCode},
			#{attachDepartAdminName},
			#{attachDepartAdminCode},
			#{purchasingManagerName},
			#{purchasingManagerCode},
			'Y',
			#{orderMoney}
			)
	</insert>

	<insert id="saveDelete">
		INSERT INTO TB_FA_APPLY_ORDER_BK
		  (	CDOCUMENT,
			APPLY_USER,
			APPLY_DATE,
			CAPPROVALSTATE,
			ORDER_STATUS,
			DRAFT,
			CREATE_BY,
			CREATE_DATE,
			UPDATE_BY,
			UPDATE_DATE,
			ASSET_TYPE,
			APPLY_USER_CODE,
			APPLY_DEPARTMENT,
			APPLY_DEPARTMENT_CODE,
			COMPANY_CODE,
			OFFICE_LOCATION,
			PLATFORM,
			COST_CENTER,
			REGION,
			EXPENSING,
			BUYER,
			BUYER_CODE,
			CREATE_BY_CODE,
			UPDATE_BY_CODE,
			CAPPROVALEND,
			CAUSERCODE,
			CAUSERNAME,
			DLASTADATE,
			CNEXTHANDLERCODE,
			CNEXTHANDLERNAME,
			CURRENCY_CODE,
			EXCHANGE_RATE,
			COMPANY_NAME,
			COST_CENTER_CODE,
			BUILDING,
			ASSEMBLE,
			WORK_SHOP_TYPE,
			BUDGET_DEPARTMENT_NAME,
			BUDGET_DEPARTMENT_CODE,
			PRINT,
       		ORDER_MONEY,
			ATTACH_DEPART_MANAGER_NAME,
			ATTACH_DEPART_MANAGER_CODE,
			ATTACH_DEPART_ADMIN_NAME,
			ATTACH_DEPART_ADMIN_CODE,
			PURCHASING_MANAGER_NAME,
			PURCHASING_MANAGER_CODE,
			STATUS,
			IAMONEY)
		VALUES
		  ( #{cdocument},
			#{applyUser},
			#{applyDate},
			#{capprovalstate},
			#{orderStatus},
			#{draft},
			#{createBy},
			#{createDate},
			#{updateBy},
			sysdate,
			#{assetType},
			#{applyUserCode},
			#{applyDepartment},
			#{applyDepartmentCode},
			#{companyCode},
			#{officeLocation},
			#{platform},
			#{costCenter},
			#{region},
			#{expensing},
			#{buyer},
			#{buyerCode},
			#{createByCode},
			#{updateByCode},
			#{capprovalend},
			#{causercode},
			#{causername},
			#{dlastadate},
			#{cnexthandlercode},
			#{cnexthandlername},
			#{currencyCode},
			#{exchangeRate},
			#{companyName},
			#{costCenterCode},
			#{building},
			#{assemble},
			#{workShopType},
			#{budgetDepartmentName},
			#{budgetDepartmentCode},
			#{print},
			#{orderMoney},
			#{attachDepartManagerName},
			#{attachDepartManagerCode},
			#{attachDepartAdminName},
			#{attachDepartAdminCode},
			#{purchasingManagerName},
			#{purchasingManagerCode},
			'Y',
			#{orderMoney}
			)
	</insert>
	
	<select id="update">
		UPDATE TB_FA_APPLY_ORDER 
			SET
		<if test="applyUser != null and applyUser != ''">
			APPLY_USER = #{applyUser},
		</if>
		<if test="capprovalstate != null and capprovalstate != ''">
			CAPPROVALSTATE = #{capprovalstate},
		</if>
		<if test="orderStatus != null and orderStatus != ''">
			ORDER_STATUS = #{orderStatus},
		</if>
		<if test="draft != null and draft != ''">
			DRAFT = #{draft},
		</if>
		<if test="assetType != null and assetType != ''">
			ASSET_TYPE = #{assetType},
		</if>
		<if test="applyUserCode != null and applyUserCode != ''">
			APPLY_USER_CODE = #{applyUserCode},
		</if>
		<if test="applyDepartment != null and applyDepartment != ''">
			APPLY_DEPARTMENT = #{applyDepartment},
		</if>
		<if test="applyDepartmentCode != null and applyDepartmentCode != ''">
			APPLY_DEPARTMENT_CODE = #{applyDepartmentCode},
		</if>
		<if test="companyCode != null and companyCode != ''">
			COMPANY_CODE = #{companyCode},
		</if>
		<if test="officeLocation != null and officeLocation != ''">
			OFFICE_LOCATION = #{officeLocation},
		</if>
		<if test="platform != null and platform != ''">
			PLATFORM = #{platform},
		</if>
		<if test="costCenter != null and costCenter != ''">
			COST_CENTER = #{costCenter},
		</if>
		<if test="region != null and region != ''">
			REGION = #{region},
		</if>
		<if test="expensing != null and expensing != ''">
			EXPENSING = #{expensing},
		</if>
		<if test="buyer != null and buyer != ''">
			BUYER = #{buyer},
		</if>
		<if test="buyerCode != null and buyerCode != ''">
			BUYER_CODE = #{buyerCode},
		</if>
			<!-- CREATE_BY_CODE = #{createByCode}, -->
			UPDATE_BY_CODE = #{updateByCode},
		<if test="capprovalend != null and capprovalend != ''">
			CAPPROVALEND = #{capprovalend},
		</if>
		<if test="causercode != null and causercode != ''">
			CAUSERCODE = #{causercode},
		</if>
		<if test="causername != null and causername != ''">
			CAUSERNAME = #{causername},
		</if>
		<if test="dlastadate != null and dlastadate != ''">
			DLASTADATE = #{dlastadate},
		</if>
		<if test="cnexthandlercode != null and cnexthandlercode != ''">
			CNEXTHANDLERCODE = #{cnexthandlercode},
		</if>
		<if test="cnexthandlername != null and cnexthandlername != ''">
			CNEXTHANDLERNAME = #{cnexthandlername},
		</if>
		<if test="currencyCode != null and currencyCode != ''">
			CURRENCY_CODE = #{currencyCode},
		</if>
		<if test="exchangeRate != null and exchangeRate != ''">
			EXCHANGE_RATE = #{exchangeRate},
		</if>
		<if test="companyName != null and companyName != ''">
			COMPANY_NAME = #{companyName},
		</if>
		<if test="costCenterCode != null and costCenterCode != ''">
			COST_CENTER_CODE = #{costCenterCode},
		</if>
		<if test="building != null and building != ''">
			BUILDING = #{building},
		</if>
		<if test="assemble != null and assemble != ''">
			ASSEMBLE = #{assemble},
		</if>
		<if test="workShopType != null and workShopType != ''">
			WORK_SHOP_TYPE = #{workShopType},
		</if>
		<if test="budgetDepartmentName != null and budgetDepartmentName != ''">
			BUDGET_DEPARTMENT_NAME = #{budgetDepartmentName},
		</if>
		<if test="budgetDepartmentCode != null and budgetDepartmentCode != ''">
			BUDGET_DEPARTMENT_CODE = #{budgetDepartmentCode},
		</if>
		<if test="attachDepartManagerName != null and attachDepartManagerName != ''">
			ATTACH_DEPART_MANAGER_NAME = #{attachDepartManagerName},
		</if>
		<if test="attachDepartManagerCode != null and attachDepartManagerCode != ''">
			ATTACH_DEPART_MANAGER_CODE = #{attachDepartManagerCode},
		</if>
		<if test="attachDepartAdminName != null and attachDepartAdminName != ''">
			ATTACH_DEPART_ADMIN_NAME = #{attachDepartAdminName},
		</if>
		<if test="attachDepartAdminCode != null and attachDepartAdminCode != ''">
			ATTACH_DEPART_ADMIN_CODE = #{attachDepartAdminCode},
		</if>
		UPDATE_BY = #{updateBy},
		UPDATE_DATE = sysdate
        WHERE  CDOCUMENT = #{cdocument}
	</select>

	<select id="searchNextSequence" resultType="int">
		SELECT SEQ_APPLY_ORDER.NEXTVAL FROM DUAL
	</select>
	
	<!-- 导出数据 -->
	<select id="exportApplyOrder" resultMap="applyOrderMap">
		<include refid="search_apply_order"></include>
	</select>

	<select id="delApplyOrderByCdocument">
		DELETE FROM TB_FA_APPLY_ORDER WHERE CDOCUMENT = #{cdocument}
	</select>
	<!-- 根据登录人筛选部门 -->
	<select id="searchDepartmentByUserCode" resultMap="departmentMap">
		   
		   SELECT DISTINCT  TD.BUDGET_DEPARTMENT_CODE DEPARTMENT_CODE,
							TD.BUDGET_DEPARTMENT_NAME DEPARTMENT_NAME,
							TD.COST_CENTER_CODE,
							TD.COST_CENTER
				  FROM TB_FA_DEMAND_ORDER TD
			 WHERE TD.CDOCUMENT IN (SELECT TDD.DEMAND_ORDER_ID
			                          FROM TB_FA_DEMAND_ORDER_DETAIL TDD
			                         WHERE TDD.NOT_APPLY_COUNT > 0)
			   AND TD.STATUS = 'Y'
			   AND TD.DRAFT = 'N'
			   AND TD.ORDER_STATUS = '未关闭'
			   AND TD.CAPPROVALSTATE = '已完成'
			   AND (td.attach_depart_admin_code = #{applyOrderModel.loginUserCode}
			   			OR td.attach_depart_admin_code IN (SELECT CAUTHORIZERCODE FROM T_APPROVALEMPOWER
										WHERE CUSERCODE = #{applyOrderModel.loginUserCode}  AND SYSDATE BETWEEN CBEGINTIME AND CENDTIME
										AND CSTATUS='Y' AND CAPPROVALEND='Y')
				)
			<if test="applyOrderModel.companyCode != null and applyOrderModel.companyCode != ''">
				AND TD.COMPANY_CODE = #{applyOrderModel.companyCode}
			</if>
			<if test="applyOrderModel.costCenter != null and applyOrderModel.costCenter != ''">
				AND ( TD.COST_CENTER LIKE '%' || #{applyOrderModel.costCenter} || '%'
				OR TD.COST_CENTER_CODE  LIKE '%' || #{applyOrderModel.costCenter} || '%' )
			</if>
			<if test="applyOrderModel.budgetDepartmentName != null and applyOrderModel.budgetDepartmentName != ''">
				AND ( TD.BUDGET_DEPARTMENT_NAME LIKE '%' || #{applyOrderModel.budgetDepartmentName} || '%'
				OR TD.BUDGET_DEPARTMENT_CODE  LIKE '%' || #{applyOrderModel.budgetDepartmentName} || '%' )
			</if>
	<!-- SELECT DISTINCT TD.BUDGET_DEPARTMENT_CODE DEPARTMENT_CODE,
		                TD.BUDGET_DEPARTMENT_NAME DEPARTMENT_NAME
		  FROM TB_FA_DEMAND_ORDER TD,
		       (SELECT TA.COMPANY_CODE, TA.ASSETS_TYPE, TA.DEPART_TYPE
		          FROM TB_FA_ASSETS_ATTACHMENT TA
		         WHERE TA.ATTACH_ASSETS_ADMIN_CODE = #{applyOrderModel.loginUserCode}) TP
		 WHERE TD.COMPANY_CODE = TP.COMPANY_CODE
		   AND TD.ASSET_TYPE = TP.ASSETS_TYPE
		   AND NVL(TD.WORK_SHOP_TYPE, '1') = NVL(TP.DEPART_TYPE, '1')
		   AND TD.CDOCUMENT IN (SELECT TDD.DEMAND_ORDER_ID
		                          FROM TB_FA_DEMAND_ORDER_DETAIL TDD
		                         WHERE TDD.NOT_APPLY_COUNT > 0)
		   AND TD.STATUS = 'Y'                      
		   AND TD.DRAFT = 'N'                      
		   AND TD.ORDER_STATUS = '未关闭'                      
		   AND TD.CAPPROVALSTATE = '已完成'      -->      
	</select>
	<update id="updateApplyOrder">
		UPDATE TB_FA_APPLY_ORDER
		SET
		BUYER = #{applyOrder.buyer},
		BUYER_CODE = #{applyOrder.buyerCode},
		IAMONEY = #{applyOrder.iamoney}
		WHERE  CDOCUMENT = #{applyOrder.cdocument}
	</update>
	<update id="updateOrderStatus" >
		UPDATE TB_FA_APPLY_ORDER 	
		  SET 
			ORDER_STATUS = #{orderStatus}
		  WHERE CDOCUMENT = #{cdocument}
	</update>

	<update id = "updateApplyOrderIssap">
		UPDATE TB_FA_APPLY_ORDER
		  SET
			ISSAP ='是'
		  WHERE CDOCUMENT = #{applyOrder.cdocument}
	</update>
	<update id="updateApplyOrderIssapNo">
		UPDATE TB_FA_APPLY_ORDER
		  SET
			ISSAP ='否'
		  WHERE CDOCUMENT = #{cdocument}
	</update>
	<select id="searchIsCrossAssetAccounting" resultType="string">
		SELECT B.ROLEID
		FROM T_WF_BILL_STEP A
		INNER JOIN T_WF_ACTIVITY_BIND B
		ON A.WORKFLOWID = B.WORKFLOWID
		AND A.CBILLCODE = B.BILLCODE
		AND A.TYPEID = B.TYPEID
		AND A.ACTIVITYID = B.ACTIVITYID
		WHERE A.CBILLCODE = #{billCode}
		AND A.TYPEID = #{typeId}
		AND B.ROLEID in (${roleId})
		<![CDATA[
			AND A.INSERTDATE < (SELECT INSERTDATE
		FROM T_WF_BILL_STEP C
		WHERE C.CBILLCODE = #{billCode}
		AND C.TYPEID = #{typeId}
		AND C.ACTIVITYID = #{activityid})

		]]>

	</select>
	<!-- 弃审时查询采购订单使用申请单的数量 -->
	<select id="searchNextPurchaseCount" resultType="long">
		 SELECT COUNT(*)
		   FROM TB_FA_PURCHASE_ORDER_DETAIL T
		  WHERE T.APPLY_ORDER_ID = #{cdocument}
	</select>
	
	<!-- 根据采购订单号查询该单据对应的所有申请单号 -->
	<select id="searchApplyByPurchaseId" resultMap="applyOrderMap">
		SELECT TD.APPLY_ORDER_ID CDOCUMENT
		  FROM TB_FA_PURCHASE_ORDER_DETAIL TD
		 WHERE TD.PURCHASE_ORDER_ID = #{cdocument}
		 GROUP BY TD.APPLY_ORDER_ID
	</select>
	<!-- 根据申请单查询该单据存在未下采购订单的数量 -->
	<select id="searchNotApplyCountByApplyId" resultType="long">
		<!-- SELECT COUNT(*)
		  FROM TB_FA_APPLY_ORDER_DETAIL TD 
		  LEFT JOIN (SELECT TPD.APPLY_DETAIL_ID, SUM(TPD.APPLY_COUNT) SUMAPPLYCOUNT
		               FROM TB_FA_PURCHASE_ORDER_DETAIL TPD
		               LEFT JOIN TB_FA_PURCHASE_ORDER TP
		                 ON TPD.PURCHASE_ORDER_ID = TP.CDOCUMENT
		              WHERE TP.CAPPROVALSTATE = '已完成'
		              GROUP BY TPD.APPLY_DETAIL_ID) TEMP
		    ON TD.ID = TEMP.APPLY_DETAIL_ID
		 WHERE TD.APPLY_ORDER_ID = #{cdocument}
		 AND td.demand_count>temp.SUMAPPLYCOUNT -->
		 select count(*) from (SELECT *
	      FROM TB_FA_APPLY_ORDER_DETAIL TD 
	      LEFT JOIN (SELECT TPD.APPLY_DETAIL_ID, SUM(TPD.APPLY_COUNT) SUMAPPLYCOUNT
	                   FROM TB_FA_PURCHASE_ORDER_DETAIL TPD
	                   LEFT JOIN TB_FA_PURCHASE_ORDER TP
	                     ON TPD.PURCHASE_ORDER_ID = TP.CDOCUMENT
	                  WHERE TP.CAPPROVALSTATE = '已完成'
	                  GROUP BY TPD.APPLY_DETAIL_ID) TEMP
	        ON TD.ID = TEMP.APPLY_DETAIL_ID
	     WHERE TD.APPLY_ORDER_ID = #{cdocument} ) t
	     where t.demand_count > t.apply_count
	</select>
	<select id="getMainAssetCodePro" statementType="CALLABLE">
      call pro_fa_getmainAssetCode(
              #{cdocument,mode=IN,jdbcType=INTEGER})  
	</select>
	<!-- 修改打印状态-->
    <update id="updatePrint">
        update TB_FA_APPLY_ORDER A
        set A.print = 'Y'
        where A.CDOCUMENT = #{cdocument}
    </update>
	<select id="searchDemandOrderStatus" resultType="string">
		select t.order_status
		from tb_fa_demand_order t
		inner join tb_fa_demand_order_detail t1
		on t.cdocument = t1.demand_order_id
		and t1.id = #{demandDetailId}
	</select>
</mapper>