<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.opple.fa.purchase.dao.DemandOrderDAO">
	<!-- oracle 分页头 -->
	<sql id="pagination_Head">
		<![CDATA[select * from ( select row_.*, rownum rownum_ from ( ]]>
	</sql>
	<!-- oracle 分页尾 -->
	<sql id="pagination_Tail">
		<![CDATA[) row_ where rownum <= #{pager.pageSize}* #{pager.offset} ) where rownum_ >= #{pager.firstResult} + 1]]>
	</sql>
	<!-- count * from -->
	<sql id="count_Start_Head">
		<![CDATA[select count(*) from ( ]]>
	</sql>
	<sql id="count_Start_Tail">
		<![CDATA[) countObj ]]>
	</sql>
	<resultMap id="demandOrderMap" type="com.opple.fa.purchase.entity.DemandOrder">
		<result property="cdocument" column="CDOCUMENT" />
		<result property="applyUser" column="APPLY_USER" />
		<result property="applyDate" column="APPLY_DATE" />
		<result property="capprovalstate" column="CAPPROVALSTATE" />
		<result property="orderStatus" column="ORDER_STATUS" />
		<result property="draft" column="DRAFT" />
		<result property="createBy" column="CREATE_BY" />
		<result property="createDate" column="CREATE_DATE" />
		<result property="updateBy" column="UPDATE_BY" />
		<result property="updateDate" column="UPDATE_DATE" />
		<result property="applyUserCode" column="APPLY_USER_CODE" />
		<result property="applyDepartment" column="APPLY_DEPARTMENT" />
		<result property="applyDepartmentCode" column="APPLY_DEPARTMENT_CODE" />
		<result property="assetType" column="ASSET_TYPE" />
		<result property="originalCurrency" column="ORIGINAL_CURRENCY" />
		<result property="localCurrency" column="LOCAL_CURRENCY" />
		<result property="exchangeRate" column="EXCHANGE_RATE" />
		<result property="createByCode" column="CREATE_BY_CODE" />
		<result property="updateByCode" column="UPDATE_BY_CODE" />
		<result property="companyCode" column="COMPANY_CODE" />
		<result property="companyName" column="COMPANY_NAME" />
		<result property="officeLocation" column="OFFICE_LOCATION" />
		<result property="platform" column="PLATFORM" />
		<result property="costCenter" column="COST_CENTER" />
		<result property="costCenterCode" column="COST_CENTER_CODE" />
		<result property="region" column="REGION" />
		<result property="building" column="BUILDING" />
		<result property="assemble" column="ASSEMBLE" />
		<result property="workShopType" column="WORK_SHOP_TYPE" />
		<result property="projectProposal" column="PROJECT_PROPOSAL" />
		<result property="entryName" column="ENTRY_NAME" />
		<result property="projectMoney" column="PROJECT_MONEY" />
		<result property="projectBackground" column="PROJECT_BACKGROUND" />
		<result property="incomeAccountingMethod" column="INCOME_ACCOUNTING_METHOD" />
		<result property="annualIncomeAmount" column="ANNUAL_INCOME_AMOUNT" />
		<result property="paybackPeriodOfInvestment" column="PAYBACK_PERIOD_OF_INVESTMENT" />
		<result property="projectType" column="PROJECT_TYPE" />
		<result property="applyBudgetMoney" column="APPLY_BUDGET_MONEY" />
		<result property="print" column="PRINT" />
		<result property="currencyCode" column="CURRENCY_CODE" />
		<result property="capprovalend" column="CAPPROVALEND" />
		<result property="causercode" column="CAUSERCODE" />
		<result property="causername" column="CAUSERNAME" />
		<result property="dlastadate" column="DLASTADATE" />
		<result property="cnexthandlercode" column="CNEXTHANDLERCODE" />
		<result property="cnexthandlername" column="CNEXTHANDLERNAME" />
		<result property="budgetDepartmentCode" column="BUDGET_DEPARTMENT_CODE" />
		<result property="budgetDepartmentName" column="BUDGET_DEPARTMENT_NAME" />
		<result property="iamoney" column="IAMONEY" />
		<result property="attachDepartManagerName" column="ATTACH_DEPART_MANAGER_NAME" />
		<result property="attachDepartManagerCode" column="ATTACH_DEPART_MANAGER_CODE" />
		<result property="attachDepartName" column="ATTACH_DEPART_NAME" />
		<result property="attachDepartCode" column="ATTACH_DEPART_CODE" />
        <result property="attachDepartAdminName" column="ATTACH_DEPART_ADMIN_NAME"/>
        <result property="attachDepartAdminCode" column="ATTACH_DEPART_ADMIN_CODE"/>
		<result property="attachDepartMajordomoCode" column= "ATTACH_DEPART_MAJORDOMO_CODE"/>
		<result property="attachDepartMajordomoName" column= "ATTACH_DEPART_MAJORDOMO_NAME"/>
		<result property="attachDepartVpresidentCode" column="ATTACH_DEPART_VPRESIDENT_CODE"/>
		<result property="attachDepartVpresidentName" column="ATTACH_DEPART_VPRESIDENT_NAME"/>
		<result property="purchasingManagerName" column="PURCHASING_MANAGER_NAME"/>
		<result property="purchasingManagerCode" column="PURCHASING_MANAGER_CODE"/>
		<result property="status" column="STATUS" />
	</resultMap>

	<resultMap id="demandOrderModelMap" type="com.opple.fa.purchase.model.DemandOrderModel">
		<result property="cdocument" column="CDOCUMENT" />
		<result property="applyUser" column="APPLY_USER" />
		<result property="applyDate" column="APPLY_DATE" />
		<result property="capprovalstate" column="CAPPROVALSTATE" />
		<result property="orderStatus" column="ORDER_STATUS" />
		<result property="draft" column="DRAFT" />
		<result property="createBy" column="CREATE_BY" />
		<result property="createDate" column="CREATE_DATE" />
		<result property="updateBy" column="UPDATE_BY" />
		<result property="updateDate" column="UPDATE_DATE" />
		<result property="applyUserCode" column="APPLY_USER_CODE" />
		<result property="applyDepartment" column="APPLY_DEPARTMENT" />
		<result property="applyDepartmentCode" column="APPLY_DEPARTMENT_CODE" />
		<result property="assetType" column="ASSET_TYPE" />
		<result property="originalCurrency" column="ORIGINAL_CURRENCY" />
		<result property="localCurrency" column="LOCAL_CURRENCY" />
		<result property="exchangeRate" column="EXCHANGE_RATE" />
		<result property="createByCode" column="CREATE_BY_CODE" />
		<result property="updateByCode" column="UPDATE_BY_CODE" />
		<result property="companyCode" column="COMPANY_CODE" />
		<result property="companyName" column="COMPANY_NAME" />
		<result property="officeLocation" column="OFFICE_LOCATION" />
		<result property="platform" column="PLATFORM" />
		<result property="costCenter" column="COST_CENTER" />
		<result property="costCenterCode" column="COST_CENTER_CODE" />
		<result property="region" column="REGION" />
		<result property="building" column="BUILDING" />
		<result property="assemble" column="ASSEMBLE" />
		<result property="workShopType" column="WORK_SHOP_TYPE" />
		<result property="projectProposal" column="PROJECT_PROPOSAL" />
		<result property="entryName" column="ENTRY_NAME" />
		<result property="projectMoney" column="PROJECT_MONEY" />
		<result property="projectBackground" column="PROJECT_BACKGROUND" />
		<result property="incomeAccountingMethod" column="INCOME_ACCOUNTING_METHOD" />
		<result property="annualIncomeAmount" column="ANNUAL_INCOME_AMOUNT" />
		<result property="paybackPeriodOfInvestment" column="PAYBACK_PERIOD_OF_INVESTMENT" />
		<result property="projectType" column="PROJECT_TYPE" />
		<result property="applyBudgetMoney" column="APPLY_BUDGET_MONEY" />
		<result property="print" column="PRINT" />
		<result property="currencyCode" column="CURRENCY_CODE" />
		<result property="capprovalend" column="CAPPROVALEND" />
		<result property="causercode" column="CAUSERCODE" />
		<result property="causername" column="CAUSERNAME" />
		<result property="dlastadate" column="DLASTADATE" />
		<result property="cnexthandlercode" column="CNEXTHANDLERCODE" />
		<result property="cnexthandlername" column="CNEXTHANDLERNAME" />
		<result property="budgetDepartmentCode" column="BUDGET_DEPARTMENT_CODE" />
		<result property="budgetDepartmentName" column="BUDGET_DEPARTMENT_NAME" />
		<result property="iamoney" column="IAMONEY" />
		<result property="attachDepartManagerName" column="ATTACH_DEPART_MANAGER_NAME" />
		<result property="attachDepartManagerCode" column="ATTACH_DEPART_MANAGER_CODE" />
		<result property="attachDepartName" column="ATTACH_DEPART_NAME" />
		<result property="attachDepartCode" column="ATTACH_DEPART_CODE" />
        <result property="attachDepartAdminName" column="ATTACH_DEPART_ADMIN_NAME"/>
        <result property="attachDepartAdminCode" column="ATTACH_DEPART_ADMIN_CODE"/>

		<result property="attachDepartMajordomoCode" column= "ATTACH_DEPART_MAJORDOMO_CODE"/>
		<result property="attachDepartMajordomoName" column= "ATTACH_DEPART_MAJORDOMO_NAME"/>
		<result property="attachDepartVpresidentCode" column="ATTACH_DEPART_VPRESIDENT_CODE"/>
		<result property="attachDepartVpresidentName" column="ATTACH_DEPART_VPRESIDENT_NAME"/>
		<result property="purchasingManagerName" column="PURCHASING_MANAGER_NAME"/>
		<result property="purchasingManagerCode" column="PURCHASING_MANAGER_CODE"/>
		<result property="status" column="STATUS" />
	</resultMap>
	<sql id="search_demand_order">
		SELECT DISTINCT T.*
		FROM BCC.TB_FA_DEMAND_ORDER T

		WHERE 1=1
		<if
			test="demandOrderModel.cdocument != null and demandOrderModel.cdocument != ''">
			AND T.CDOCUMENT LIKE '%' || #{demandOrderModel.cdocument} || '%'
		</if>
		<if
			test="demandOrderModel.applyDateStart != null and demandOrderModel.applyDateStart != ''">
			AND T.APPLY_DATE <![CDATA[>]]> #{demandOrderModel.applyDateStart} 
		</if>
		<if
			test="demandOrderModel.applyDateEnd != null and demandOrderModel.applyDateEnd != ''">
			AND T.APPLY_DATE <![CDATA[<]]> #{demandOrderModel.applyDateEnd} 
		</if>
		
		<if
			test="demandOrderModel.applyUser != null and demandOrderModel.applyUser != ''">
			AND T.APPLY_USER LIKE '%' || #{demandOrderModel.applyUser} || '%'
		</if>
		<if
			test="demandOrderModel.assetType != null and demandOrderModel.assetType != ''">
			AND T.ASSET_TYPE LIKE '%' || #{demandOrderModel.assetType} || '%'
		</if>
		<if
				test="demandOrderModel.companyCode != null and demandOrderModel.companyCode != ''">
			AND T.COMPANY_CODE = #{demandOrderModel.companyCode}
		</if>
		<if
			test="demandOrderModel.capprovalstate != null and demandOrderModel.capprovalstate != ''">
			AND T.CAPPROVALSTATE = #{demandOrderModel.capprovalstate} 
		</if>
		<if
			test="demandOrderModel.orderStatus != null and demandOrderModel.orderStatus != ''">
			AND T.ORDER_STATUS = #{demandOrderModel.orderStatus} 
		</if>
		<if
			test="demandOrderModel.draft != null and demandOrderModel.draft != ''">
			AND T.DRAFT = #{demandOrderModel.draft} 
		</if>
		<if
			test="demandOrderModel.applyDepartmentCode != null and demandOrderModel.applyDepartmentCode != ''">
			AND T.APPLY_DEPARTMENT_CODE = #{demandOrderModel.applyDepartmentCode} 
		</if>
		<if
			test="demandOrderModel.budgetDepartmentCode != null and demandOrderModel.budgetDepartmentCode != ''">
			AND T.BUDGET_DEPARTMENT_CODE = #{demandOrderModel.budgetDepartmentCode} 
		</if>
			AND T.STATUS = 'Y'
			AND ( 
				T.APPLY_USER_CODE = #{demandOrderModel.loginUserCode}  
				OR T.APPLY_USER_CODE IN (SELECT CAUTHORIZERCODE FROM T_APPROVALEMPOWER
										WHERE CUSERCODE = #{demandOrderModel.loginUserCode}  AND SYSDATE BETWEEN CBEGINTIME AND CENDTIME 
										AND CSTATUS='Y' AND CAPPROVALEND='Y')
				or
					(T.CDOCUMENT,#{demandOrderModel.loginUserCode} ) in (SELECT A.CBILLCODE,A.CUSERCODE
					FROM T_WF_BILL_STEP_ALL A
					WHERE
					A.TYPEID = '77001'
					UNION ALL
					SELECT C.CBILLCODE,B.CUSERCODE
					FROM T_APPROVALEMPOWER B
					INNER JOIN T_WF_BILL_STEP_ALL C
					ON B.CAUTHORIZERCODE = C.CUSERCODE

					AND C.TYPEID = '77001'
					WHERE SYSDATE BETWEEN B.CBEGINTIME AND B.CENDTIME
					AND B.CSTATUS = 'Y'
					AND B.CAPPROVALEND = 'Y')
				OR 
				EXISTS(SELECT 1 FROM t_Sys_Userrole TR WHERE TR.CROLECODE=#{demandOrderModel.assetAdminId} 
				AND TR.CUSERCODE=#{demandOrderModel.loginUserCode}  AND tr.cstatus='Y')
			) 
			
			ORDER BY T.CDOCUMENT DESC
	</sql>
	
	<select id="searchDemandOrder" resultMap="demandOrderMap">
		<include refid="pagination_Head" />
		<include refid="search_demand_order" />
		<include refid="pagination_Tail" />
		ORDER BY CDOCUMENT DESC
	</select>

	<select id="searchDemandOrderCount" resultType="long">
		<include refid="count_Start_Head" />
		<include refid="search_demand_order" />
		<include refid="count_Start_Tail" />
	</select>
	
	
	<select id="searchDemandOrderByOrderId" resultMap="demandOrderMap">
		SELECT *
		FROM BCC.TB_FA_DEMAND_ORDER
		WHERE 1=1
		<if
			test="demandOrderModel.cdocument != null and demandOrderModel.cdocument != ''">
			AND CDOCUMENT LIKE '%' || #{demandOrderModel.cdocument} || '%'
		</if>
		AND STATUS = 'Y'
	</select>
	
	<select id="searchDemandOrderModelByOrderId" resultMap="demandOrderModelMap">
		SELECT *
		FROM BCC.TB_FA_DEMAND_ORDER
		WHERE 1=1
		<if
			test="demandOrderModel.cdocument != null and demandOrderModel.cdocument != ''">
			AND CDOCUMENT LIKE '%' || #{demandOrderModel.cdocument} || '%'
		</if>
		AND STATUS = 'Y'
	</select>
	
	<select id="save">
		INSERT INTO TB_FA_DEMAND_ORDER
		  (	CDOCUMENT,
			APPLY_USER,
			APPLY_DATE,
			CAPPROVALSTATE,
			ORDER_STATUS,
			DRAFT,
			CREATE_BY,
			CREATE_DATE,
			UPDATE_BY,
			UPDATE_DATE,
			APPLY_USER_CODE,
			APPLY_DEPARTMENT,
			APPLY_DEPARTMENT_CODE,
			ASSET_TYPE,
			ORIGINAL_CURRENCY,
			LOCAL_CURRENCY,
			EXCHANGE_RATE,
			CREATE_BY_CODE,
			UPDATE_BY_CODE,
			COMPANY_CODE,
			COMPANY_NAME,
			OFFICE_LOCATION,
			PLATFORM,
			COST_CENTER,
			COST_CENTER_CODE,
			REGION,
			BUILDING,
			ASSEMBLE,
			WORK_SHOP_TYPE,
			PROJECT_PROPOSAL,
			ENTRY_NAME,
			PROJECT_MONEY,
			PROJECT_BACKGROUND,
			INCOME_ACCOUNTING_METHOD,
			ANNUAL_INCOME_AMOUNT,
			PAYBACK_PERIOD_OF_INVESTMENT,
			PROJECT_TYPE,
			CURRENCY_CODE,
			CAPPROVALEND,
			CAUSERCODE,
			CAUSERNAME,
			DLASTADATE,
			CNEXTHANDLERCODE,
			CNEXTHANDLERNAME,
			BUDGET_DEPARTMENT_NAME,
			BUDGET_DEPARTMENT_CODE,
			APPLY_BUDGET_MONEY,
			PRINT,
			IAMONEY,
			ATTACH_DEPART_MANAGER_NAME,
			ATTACH_DEPART_MANAGER_CODE,
			ATTACH_DEPART_NAME,
			ATTACH_DEPART_CODE,
			ATTACH_DEPART_ADMIN_NAME,
			ATTACH_DEPART_ADMIN_CODE,
			ATTACH_DEPART_MAJORDOMO_CODE,
			ATTACH_DEPART_MAJORDOMO_NAME,
			ATTACH_DEPART_VPRESIDENT_CODE,
			ATTACH_DEPART_VPRESIDENT_NAME,
			PURCHASING_MANAGER_NAME,
			PURCHASING_MANAGER_CODE,
			STATUS
			)
		VALUES
		  ( 
			#{cdocument},
			#{applyUser},
			#{applyDate},
			#{capprovalstate},
			#{orderStatus},
			#{draft},
			#{createBy},
			#{createDate},
			#{updateBy},
			#{updateDate},
			#{applyUserCode},
			#{applyDepartment},
			#{applyDepartmentCode},
			#{assetType},
			#{originalCurrency},
			#{localCurrency},
			#{exchangeRate},
			#{createByCode},
			#{updateByCode},
			#{companyCode},
			#{companyName},
			#{officeLocation},
			#{platform},
			#{costCenter},
			#{costCenterCode},
			#{region},
			#{building},
			#{assemble},
			#{workShopType},
			#{projectProposal},
			#{entryName},
			#{projectMoney},
			#{projectBackground},
			#{incomeAccountingMethod},
			#{annualIncomeAmount},
			#{paybackPeriodOfInvestment},
			#{projectType},
			#{currencyCode},
			#{capprovalend},
			#{causercode},
			#{causername},
			#{dlastadate},
			#{cnexthandlercode},
			#{cnexthandlername},
			#{budgetDepartmentName},
			#{budgetDepartmentCode},
			#{applyBudgetMoney},
			#{print},
			#{iamoney},
			#{attachDepartManagerName},
			#{attachDepartManagerCode},
			#{attachDepartName},
			#{attachDepartCode},
			#{attachDepartAdminName},
			#{attachDepartAdminCode},
			#{attachDepartMajordomoCode},
			#{attachDepartMajordomoName},
			#{attachDepartVpresidentCode},
			#{attachDepartVpresidentName},
			#{purchasingManagerName},
			#{purchasingManagerCode},
			'Y'
			)
	</select>

	<select id="saveDelete">
		INSERT INTO TB_FA_DEMAND_ORDER_BACK
		(	CDOCUMENT,
		APPLY_USER,
		APPLY_DATE,
		CAPPROVALSTATE,
		ORDER_STATUS,
		DRAFT,
		CREATE_BY,
		CREATE_DATE,
		UPDATE_BY,
		UPDATE_DATE,
		APPLY_USER_CODE,
		APPLY_DEPARTMENT,
		APPLY_DEPARTMENT_CODE,
		ASSET_TYPE,
		ORIGINAL_CURRENCY,
		LOCAL_CURRENCY,
		EXCHANGE_RATE,
		CREATE_BY_CODE,
		UPDATE_BY_CODE,
		COMPANY_CODE,
		COMPANY_NAME,
		OFFICE_LOCATION,
		PLATFORM,
		COST_CENTER,
		COST_CENTER_CODE,
		REGION,
		BUILDING,
		ASSEMBLE,
		WORK_SHOP_TYPE,
		PROJECT_PROPOSAL,
		ENTRY_NAME,
		PROJECT_MONEY,
		PROJECT_BACKGROUND,
		INCOME_ACCOUNTING_METHOD,
		ANNUAL_INCOME_AMOUNT,
		PAYBACK_PERIOD_OF_INVESTMENT,
		PROJECT_TYPE,
		CURRENCY_CODE,
		CAPPROVALEND,
		CAUSERCODE,
		CAUSERNAME,
		DLASTADATE,
		CNEXTHANDLERCODE,
		CNEXTHANDLERNAME,
		BUDGET_DEPARTMENT_NAME,
		BUDGET_DEPARTMENT_CODE,
		APPLY_BUDGET_MONEY,
		PRINT,
		IAMONEY,
		ATTACH_DEPART_MANAGER_NAME,
		ATTACH_DEPART_MANAGER_CODE,
		ATTACH_DEPART_NAME,
		ATTACH_DEPART_CODE,
		ATTACH_DEPART_ADMIN_NAME,
		ATTACH_DEPART_ADMIN_CODE,
		ATTACH_DEPART_MAJORDOMO_CODE,
		ATTACH_DEPART_MAJORDOMO_NAME,
		ATTACH_DEPART_VPRESIDENT_CODE,
		ATTACH_DEPART_VPRESIDENT_NAME,
		PURCHASING_MANAGER_NAME,
		PURCHASING_MANAGER_CODE,
		STATUS
		)
		VALUES
		(
		#{cdocument},
		#{applyUser},
		#{applyDate},
		#{capprovalstate},
		#{orderStatus},
		#{draft},
		#{createBy},
		#{createDate},
		#{updateBy},
		sysdate,
		#{applyUserCode},
		#{applyDepartment},
		#{applyDepartmentCode},
		#{assetType},
		#{originalCurrency},
		#{localCurrency},
		#{exchangeRate},
		#{createByCode},
		#{updateByCode},
		#{companyCode},
		#{companyName},
		#{officeLocation},
		#{platform},
		#{costCenter},
		#{costCenterCode},
		#{region},
		#{building},
		#{assemble},
		#{workShopType},
		#{projectProposal},
		#{entryName},
		#{projectMoney},
		#{projectBackground},
		#{incomeAccountingMethod},
		#{annualIncomeAmount},
		#{paybackPeriodOfInvestment},
		#{projectType},
		#{currencyCode},
		#{capprovalend},
		#{causercode},
		#{causername},
		#{dlastadate},
		#{cnexthandlercode},
		#{cnexthandlername},
		#{budgetDepartmentName},
		#{budgetDepartmentCode},
		#{applyBudgetMoney},
		#{print},
		#{iamoney},
		#{attachDepartManagerName},
		#{attachDepartManagerCode},
		#{attachDepartName},
		#{attachDepartCode},
		#{attachDepartAdminName},
		#{attachDepartAdminCode},
		#{attachDepartMajordomoCode},
		#{attachDepartMajordomoName},
		#{attachDepartVpresidentCode},
		#{attachDepartVpresidentName},
		#{purchasingManagerName},
		#{purchasingManagerCode},
		'Y'
		)
	</select>

	<select id="update">
		UPDATE TB_FA_DEMAND_ORDER
		  SET	
			APPLY_USER = #{applyUser},
            <!-- APPLY_DATE = #{applyDate}, -->
            CAPPROVALSTATE = #{capprovalstate},
            ORDER_STATUS = #{orderStatus},
            DRAFT = #{draft},
            <!-- CREATE_BY = #{createBy}, -->
            <!-- CREATE_DATE = #{createDate}, -->
            UPDATE_BY = #{updateBy},
            UPDATE_DATE = #{updateDate},
            APPLY_USER_CODE = #{applyUserCode},
            APPLY_DEPARTMENT = #{applyDepartment},
            APPLY_DEPARTMENT_CODE = #{applyDepartmentCode},
            ASSET_TYPE = #{assetType},
            ORIGINAL_CURRENCY = #{originalCurrency},
            LOCAL_CURRENCY = #{localCurrency},
            EXCHANGE_RATE = #{exchangeRate},
            <!-- CREATE_BY_CODE = #{createByCode}, -->
            UPDATE_BY_CODE = #{updateByCode},
            COMPANY_CODE = #{companyCode},
            COMPANY_NAME = #{companyName},
            OFFICE_LOCATION = #{officeLocation},
            PLATFORM = #{platform},
            COST_CENTER = #{costCenter},
            COST_CENTER_CODE = #{costCenterCode},
            REGION = #{region},
            BUILDING = #{building},
            ASSEMBLE = #{assemble},
            WORK_SHOP_TYPE = #{workShopType},
            PROJECT_PROPOSAL = #{projectProposal},
            ENTRY_NAME = #{entryName},
            PROJECT_MONEY = #{projectMoney},
            PROJECT_BACKGROUND = #{projectBackground},
            INCOME_ACCOUNTING_METHOD = #{incomeAccountingMethod},
            ANNUAL_INCOME_AMOUNT = #{annualIncomeAmount},
            PAYBACK_PERIOD_OF_INVESTMENT = #{paybackPeriodOfInvestment},
            PROJECT_TYPE = #{projectType},
            CURRENCY_CODE = #{currencyCode},
            CAPPROVALEND = #{capprovalend},
            CAUSERCODE = #{causercode},
            CAUSERNAME = #{causername},
            DLASTADATE = #{dlastadate},
            CNEXTHANDLERCODE = #{cnexthandlercode},
            CNEXTHANDLERNAME = #{cnexthandlername},
            BUDGET_DEPARTMENT_NAME = #{budgetDepartmentName},
            BUDGET_DEPARTMENT_CODE = #{budgetDepartmentCode},
			APPLY_BUDGET_MONEY = #{applyBudgetMoney},
			IAMONEY = #{iamoney},
			ATTACH_DEPART_MANAGER_NAME = #{attachDepartManagerName},
			ATTACH_DEPART_MANAGER_CODE = #{attachDepartManagerCode},
			ATTACH_DEPART_NAME = #{attachDepartName},
			ATTACH_DEPART_CODE = #{attachDepartCode},
			ATTACH_DEPART_ADMIN_NAME = #{attachDepartAdminName},
			ATTACH_DEPART_ADMIN_CODE = #{attachDepartAdminCode}
            WHERE  CDOCUMENT = #{cdocument}
	</select>
	<!-- 保存修改订单(审批) -->
	<update id="updateExamine">
		UPDATE TB_FA_DEMAND_ORDER 	
		  SET 
			IAMONEY = #{iamoney}
		  WHERE CDOCUMENT = #{cdocument}
	</update>
	<select id="searchNextSequence" resultType="int">
		SELECT SEQ_DEMAND_ORDER.NEXTVAL FROM DUAL
	</select>
	
	<select id="delDemandOrderByCdocument">
		DELETE FROM TB_FA_DEMAND_ORDER WHERE CDOCUMENT = #{cdocument}  	
	</select>
	
	<!-- 导出数据 -->
	<select id="exportDemandOrder" resultMap="demandOrderMap">
		<include refid="search_demand_order"></include>
	</select>
	<!-- 根据需求订单查询归口部门及经理 -->
	<select id="searchAttachDepartByOrder" resultMap="demandOrderMap">
		SELECT T.ATTACH_DEPART_MANAGER_NAME,T.ATTACH_DEPART_MANAGER_CODE,T.ATTACH_DEPART_CODE,T.ATTACH_DEPART_NAME
		  FROM TB_FA_ASSETS_ATTACHMENT T
		 WHERE ROWNUM <![CDATA[<]]> = 1
		   AND T.COMPANY_CODE = #{companyCode} 
		   AND T.ASSETS_TYPE = #{assetType} 
		   <if
			test="workShopType == '机器设备'">
		   		AND T.DEPART_TYPE = #{workShopType} 
		   </if>
	</select>
	<update id="updateOrderStatus" >
		UPDATE TB_FA_DEMAND_ORDER 	
		  SET 
			ORDER_STATUS = #{orderStatus}
		  WHERE CDOCUMENT = #{cdocument}
	</update>
	<!-- 弃审时查询采购申请使用需求单的数量 -->
	<select id="searchNextApplyCount" resultType="long">
		SELECT COUNT(*)
		  FROM TB_FA_APPLY_DEMAND_MAPPING TM
		  LEFT JOIN TB_FA_DEMAND_ORDER_DETAIL TD
		    ON TM.DEMAND_DETAIL_ID = TD.ID
		 WHERE TD.DEMAND_ORDER_ID = #{cdocument}
	</select>
	
	<!-- 根据申请单号查询该单据对应的所有需求单号 -->
	<select id="searchDemandByApplyId" resultMap="demandOrderMap">
		SELECT TDD.DEMAND_ORDER_ID CDOCUMENT
		  FROM TB_FA_APPLY_DEMAND_MAPPING T
		  LEFT JOIN TB_FA_DEMAND_ORDER_DETAIL TDD
		    ON T.DEMAND_DETAIL_ID = TDD.ID
		 WHERE T.APPLY_ID = #{cdocument}
	</select>
	<!-- 根据需求单查询该单据存在未下申请单的数量 -->
	<select id="searchNotApplyCountByDemandId" resultType="long">
		<!--  SELECT COUNT(*)
		  FROM TB_FA_DEMAND_ORDER_DETAIL TD
		  LEFT JOIN (SELECT TADM.DEMAND_DETAIL_ID, SUM(TAD.DEMAND_COUNT) SUMDEMAND
		               FROM TB_FA_APPLY_ORDER_DETAIL TAD
		               LEFT JOIN TB_FA_APPLY_ORDER TA
		                 ON TAD.APPLY_ORDER_ID = TA.CDOCUMENT
		               LEFT JOIN TB_FA_APPLY_DEMAND_MAPPING TADM
		                 ON TAD.APPLY_ORDER_ID = TADM.APPLY_ID
		                AND TAD.MERGE_NUMBER = TADM.MERGE_NUMBER
		              WHERE TA.CAPPROVALSTATE = '已完成'
		              GROUP BY TADM.DEMAND_DETAIL_ID) TEMP
		    ON TD.ID = TEMP.DEMAND_DETAIL_ID
		 WHERE TD.DEMAND_ORDER_ID = #{cdocument}
		   AND TD.DEMAND_COUNT > TEMP.SUMDEMAND -->
	select count(*) from TB_FA_DEMAND_ORDER_DETAIL TD
		where TD.DEMAND_ORDER_ID = #{cdocument}
		and TD.DEMAND_COUNT > TD.APPLY_COUNT

	</select>
	
	<update id="updateSearchCloseDemand" >
		 UPDATE TB_FA_DEMAND_ORDER TT
		    SET TT.ORDER_STATUS = '已关闭'
		  WHERE TT.CDOCUMENT = #{cdocument}
		    AND TT.CDOCUMENT NOT IN
		        (SELECT T.CDOCUMENT
		           FROM TB_FA_DEMAND_ORDER T, TB_FA_DEMAND_ORDER_DETAIL TD
		          WHERE T.CDOCUMENT = #{cdocument}
		            AND T.CDOCUMENT = TD.DEMAND_ORDER_ID
		            AND TD.NOT_APPLY_COUNT > 0)
	</update>
	<!-- 修改打印状态-->
    <update id="updatePrint">
        update TB_FA_DEMAND_ORDER A
        set A.print = 'Y'
        where A.CDOCUMENT = #{cdocument}
    </update>
</mapper>