<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.opple.fa.purchase.dao.DemandOrderDetailDAO">
	<!-- oracle 分页头 -->
	<sql id="pagination_Head">
	<![CDATA[select * from ( select row_.*, rownum rownum_ from ( ]]>
	</sql>
	<!-- oracle 分页尾 -->
	<sql id="pagination_Tail">
	<![CDATA[) row_ where rownum <= #{pager.pageSize}* #{pager.offset} ) where rownum_ >= #{pager.firstResult} + 1]]>
	</sql>
	<!-- count * from -->
	<sql id="count_Start_Head">
	<![CDATA[select count(*) from ( ]]>
	</sql>
	<sql id="count_Start_Tail">
	<![CDATA[) countObj ]]>
	</sql>
	<resultMap id="demandOrderDetailMap" type="com.opple.fa.purchase.model.DemandOrderDetailModel">
		<result property="id" column="ID" />
		<result property="demandOrderId" column="DEMAND_ORDER_ID" />
		<result property="assetsName" column="ASSETS_NAME" />
		<result property="applyUser" column="APPLY_USER" />
		<result property="demandCount" column="DEMAND_COUNT" />
		<result property="applyCount" column="APPLY_COUNT" />
		<result property="notApplyCount" column="NOT_APPLY_COUNT" />
		<result property="allocationCount" column="ALLOCATION_COUNT" />
		<result property="createBy" column="CREATE_BY" />
		<result property="createDate" column="CREATE_DATE" />
		<result property="updateBy" column="UPDATE_BY" />
		<result property="updateDate" column="UPDATE_DATE" />
		<result property="createByCode" column="CREATE_BY_CODE" />
		<result property="updateByCode" column="UPDATE_BY_CODE" />
		<result property="projectCode" column="PROJECT_CODE" />
		<result property="specificationParameter" column="SPECIFICATION_PARAMETER" />
		<result property="functions" column="FUNCTIONS" />
		<result property="optionalAccessories" column="OPTIONAL_ACCESSORIES" />
		<result property="acceptanceCriteria" column="ACCEPTANCE_CRITERIA" />
		<result property="standardComputer" column="STANDARD_COMPUTER" />
		<result property="referenceUnitPrice" column="REFERENCE_UNIT_PRICE" />
		<result property="referencePrice" column="REFERENCE_PRICE" />
		<result property="referencePriceLocal" column="REFERENCE_PRICE_LOCAL" />
		<result property="inquiryUnitPrice" column="INQUIRY_UNIT_PRICE" />
		<result property="inquiryPrice" column="INQUIRY_PRICE" />
		<result property="requirementsDate" column="REQUIREMENTS_DATE" />
		<result property="costCenter" column="COST_CENTER" />
		<result property="costCenterCode" column="COST_CENTER_CODE" />
		<result property="useDescription" column="USE_DESCRIPTION" />
		<result property="units" column="UNITS" />
		<result property="applyUserCode" column="APPLY_USER_CODE" />
		<result property="applyDepartment" column="APPLY_DEPARTMENT" />
		<result property="applyDepartmentCode" column="APPLY_DEPARTMENT_CODE" />
		<result property="assetType" column="ASSET_TYPE" />
		<result property="avaliableSumMoney" column="AVALIABLE_SUM_MONEY" />
        <result property="budgetYear" column="BUDGET_YEAR"/>
        <result property="budgetAssetsName" column="BUDGET_ASSETS_NAME"/>
		
		<result property="assetClassification" column="ASSET_CLASSIFICATION" />
		<result property="depreciation" column="DEPRECIATION" />
		<result property="netSalvage" column="NET_SALVAGE" />
		<result property="ledgerAccount" column="LEDGER_ACCOUNT" />
        <result property="avaliableSumMoneyOld" column="AVALIABLE_SUM_MONEY_OLD"/>
	</resultMap>


	
	<select id="searchDemandOrderDetailByOrderId" resultMap="demandOrderDetailMap">
		SELECT t.ID,
			t.DEMAND_ORDER_ID,
			t.ASSETS_NAME,
			t.APPLY_USER,
			t.DEMAND_COUNT,
			t.APPLY_COUNT,
			t.NOT_APPLY_COUNT,
			t.ALLOCATION_COUNT,
			t.CREATE_BY,
			t.CREATE_DATE,
			t.UPDATE_BY,
			t.UPDATE_DATE,
			t.CREATE_BY_CODE,
			t.UPDATE_BY_CODE,
			t.PROJECT_CODE,
			t.BUDGET_YEAR,
			t.SPECIFICATION_PARAMETER,
			t.FUNCTIONS,
			t.OPTIONAL_ACCESSORIES,
			t.ACCEPTANCE_CRITERIA,
			t.STANDARD_COMPUTER,
			t.REFERENCE_UNIT_PRICE,
			t.REFERENCE_PRICE,
			t.REFERENCE_PRICE_LOCAL,
			t.INQUIRY_UNIT_PRICE,
			t.INQUIRY_PRICE,
			t.REQUIREMENTS_DATE,
			t.COST_CENTER,
			t.COST_CENTER_CODE,
			t.USE_DESCRIPTION,
			t.UNITS,
			t.APPLY_USER_CODE,
			t.APPLY_DEPARTMENT,
			t.APPLY_DEPARTMENT_CODE,
			t.ASSET_TYPE,
			t.ASSET_CLASSIFICATION,
			t.DEPRECIATION,
			t.NET_SALVAGE,
			t.LEDGER_ACCOUNT,
			t.BUDGET_ASSETS_NAME,
		    ab.AVALIABLE_SUM_MONEY
		FROM TB_FA_DEMAND_ORDER_DETAIL t, TB_FA_ASSETS_BUDGET ab
		WHERE t.PROJECT_CODE = ab.PROJECT_CODE
		and t.budget_year =ab.budget_year
		<if
			test="demandOrder.cdocument != null and demandOrder.cdocument != ''">
			AND DEMAND_ORDER_ID = #{demandOrder.cdocument}
		</if>
	</select>
	
	<select id="searchDemandOrderDetail" resultMap="demandOrderDetailMap">
		SELECT td.ID,
		td.DEMAND_ORDER_ID,
		td.ASSETS_NAME,
		td.APPLY_USER,
		td.DEMAND_COUNT,
		nvl(td.APPLY_COUNT,0) APPLY_COUNT,
		td.NOT_APPLY_COUNT,
		nvl(td.ALLOCATION_COUNT,0) ALLOCATION_COUNT,
		td.CREATE_BY,
		td.CREATE_DATE,
		td.UPDATE_BY,
		td.UPDATE_DATE,
		td.CREATE_BY_CODE,
		td.UPDATE_BY_CODE,
		td.PROJECT_CODE,
		td.BUDGET_YEAR,
		td.SPECIFICATION_PARAMETER,
		td.FUNCTIONS,
		td.OPTIONAL_ACCESSORIES,
		td.ACCEPTANCE_CRITERIA,
		td.STANDARD_COMPUTER,
		td.REFERENCE_UNIT_PRICE,
		td.REFERENCE_PRICE,
		td.REFERENCE_PRICE_LOCAL,
		td.INQUIRY_UNIT_PRICE,
		td.INQUIRY_PRICE,
		td.REQUIREMENTS_DATE,
		td.COST_CENTER,
		td.COST_CENTER_CODE,
		td.USE_DESCRIPTION,
		td.UNITS,
		td.APPLY_USER_CODE,
		td.APPLY_DEPARTMENT,
		td.APPLY_DEPARTMENT_CODE,
		td.ASSET_TYPE,
		td.ASSET_CLASSIFICATION,
		td.DEPRECIATION,
		td.NET_SALVAGE,
		td.LEDGER_ACCOUNT
		FROM TB_FA_DEMAND_ORDER_DETAIL td , TB_FA_DEMAND_ORDER t
		WHERE td.DEMAND_ORDER_ID = t.CDOCUMENT 
		<if
			test="assetsName != null and assetsName != ''">
			AND td.ASSETS_NAME LIKE '%' || #{assetsName} || '%' 
		</if>
		<if
			test="applyDateStart != null and applyDateStart != ''">
			AND td.UPDATE_DATE <![CDATA[>]]> #{applyDateStart} 
		</if>
		<if
			test="applyDateEnd != null and applyDateEnd != ''">
			AND td.UPDATE_DATE <![CDATA[<]]> #{applyDateEnd} 
		</if>
		<if
			test="applyUser != null and applyUser != ''">
			AND td.APPLY_USER LIKE '%' || #{applyUser} || '%'
		</if>
		<if
			test="budgetDepartmentCode != null and budgetDepartmentCode != '' and assetType != 'IT资产'">
		   	AND t.BUDGET_DEPARTMENT_CODE = #{budgetDepartmentCode}   
	   	</if>
	   	<if
			test="companyCode != null and companyCode != '' ">
		   	AND t.COMPANY_CODE = #{companyCode}
	   	</if>
		<if
			test="assetType != null and assetType != ''">
		   	AND t.ASSET_TYPE = #{assetType}   
	   	</if>
   			AND ( 
   				t.ATTACH_DEPART_ADMIN_CODE = #{applyUserCode}   
   				OR t.ATTACH_DEPART_ADMIN_CODE IN (SELECT CAUTHORIZERCODE FROM T_APPROVALEMPOWER 
										WHERE CUSERCODE = #{applyUserCode}    AND SYSDATE BETWEEN CBEGINTIME AND CENDTIME 
										AND CSTATUS='Y' AND CAPPROVALEND='Y')
   			)
   			
			AND T.STATUS = 'Y'                      
		    AND T.DRAFT = 'N'                      
		    AND T.ORDER_STATUS = '未关闭'                      
		   	AND T.CAPPROVALSTATE = '已完成'      
		<if
			test="ids != null and ids != ''">    
			AND ( td.NOT_APPLY_COUNT <![CDATA[>]]> 0  
		    OR td.ID in (${ids})) 
		</if>
		<if
			test="ids == null or ids == ''">  
			AND  td.NOT_APPLY_COUNT <![CDATA[>]]> 0  	
		</if>
			ORDER BY ASSETS_NAME DESC
		
	</select>
	
	<select id="save">
		INSERT INTO TB_FA_DEMAND_ORDER_DETAIL 
		  (	ID,
			DEMAND_ORDER_ID,
			ASSETS_NAME,
			APPLY_USER,
			DEMAND_COUNT,
			APPLY_COUNT,
			NOT_APPLY_COUNT,
			ALLOCATION_COUNT,
			CREATE_BY,
			CREATE_DATE,
			UPDATE_BY,
			UPDATE_DATE,
			CREATE_BY_CODE,
			UPDATE_BY_CODE,
			PROJECT_CODE,
			SPECIFICATION_PARAMETER,
			FUNCTIONS,
			OPTIONAL_ACCESSORIES,
			ACCEPTANCE_CRITERIA,
			STANDARD_COMPUTER,
			REFERENCE_UNIT_PRICE,
			REFERENCE_PRICE,
			REFERENCE_PRICE_LOCAL,
			INQUIRY_UNIT_PRICE,
			INQUIRY_PRICE,
			REQUIREMENTS_DATE,
			COST_CENTER,
			COST_CENTER_CODE,
			USE_DESCRIPTION,
			UNITS,
			APPLY_USER_CODE,
			APPLY_DEPARTMENT,
			APPLY_DEPARTMENT_CODE,
			ASSET_TYPE,
			BUDGET_YEAR,
			BUDGET_ASSETS_NAME,
			AVALIABLE_SUM_MONEY_OLD
			)   
	     VALUES
	      ( seq_demand_order_detail.nextval,  
	        #{demandOrderId},   
 	        #{assetsName},     
 	        #{applyUser},   
	        #{demandCount},   
	        #{applyCount},   
	        #{notApplyCount},   
	        #{allocationCount},   
	        #{createBy},   
	        #{createDate},   
	        #{updateBy},   
	        #{updateDate},   
	        #{createByCode},   
	        #{updateByCode},   
	        #{projectCode},   
	        #{specificationParameter},   
	        #{functions},   
	        #{optionalAccessories},   
	        #{acceptanceCriteria},   
	        #{standardComputer},   
	        #{referenceUnitPrice},   
	        #{referencePrice},  
	        #{referencePriceLocal},    
	        #{inquiryUnitPrice},   
	        #{inquiryPrice},   
	        #{requirementsDate},   
	        #{costCenter},   
	        #{costCenterCode},   
	        #{useDescription},   
	        #{units},    
	        #{applyUserCode},
	        #{applyDepartment},   
	        #{applyDepartmentCode},    
	        #{assetType},    
	        #{budgetYear},    
	        #{budgetAssetsName},    
	        #{avaliableSumMoneyOld}
	        )
	        
	</select>

	<select id="saveDelete">
		INSERT INTO TB_FA_DEMAND_ORDER_DETAIL_BACK
		(	ID,
		DEMAND_ORDER_ID,
		ASSETS_NAME,
		APPLY_USER,
		DEMAND_COUNT,
		APPLY_COUNT,
		NOT_APPLY_COUNT,
		ALLOCATION_COUNT,
		CREATE_BY,
		CREATE_DATE,
		UPDATE_BY,
		UPDATE_DATE,
		CREATE_BY_CODE,
		UPDATE_BY_CODE,
		PROJECT_CODE,
		SPECIFICATION_PARAMETER,
		FUNCTIONS,
		OPTIONAL_ACCESSORIES,
		ACCEPTANCE_CRITERIA,
		STANDARD_COMPUTER,
		REFERENCE_UNIT_PRICE,
		REFERENCE_PRICE,
		REFERENCE_PRICE_LOCAL,
		INQUIRY_UNIT_PRICE,
		INQUIRY_PRICE,
		REQUIREMENTS_DATE,
		COST_CENTER,
		COST_CENTER_CODE,
		USE_DESCRIPTION,
		UNITS,
		APPLY_USER_CODE,
		APPLY_DEPARTMENT,
		APPLY_DEPARTMENT_CODE,
		ASSET_TYPE,
		BUDGET_YEAR,
		BUDGET_ASSETS_NAME,
		AVALIABLE_SUM_MONEY_OLD
		)
		VALUES
		( seq_demand_order_detail.nextval,
		#{demandOrderId},
		#{assetsName},
		#{applyUser},
		#{demandCount},
		#{applyCount},
		#{notApplyCount},
		#{allocationCount},
		#{createBy},
		#{createDate},
		#{updateBy},
		sysdate,
		#{createByCode},
		#{updateByCode},
		#{projectCode},
		#{specificationParameter},
		#{functions},
		#{optionalAccessories},
		#{acceptanceCriteria},
		#{standardComputer},
		#{referenceUnitPrice},
		#{referencePrice},
		#{referencePriceLocal},
		#{inquiryUnitPrice},
		#{inquiryPrice},
		#{requirementsDate},
		#{costCenter},
		#{costCenterCode},
		#{useDescription},
		#{units},
		#{applyUserCode},
		#{applyDepartment},
		#{applyDepartmentCode},
		#{assetType},
		#{budgetYear},
		#{budgetAssetsName},
		#{avaliableSumMoneyOld}
		)

	</select>
	
	<update id="updateExamine">
		UPDATE TB_FA_DEMAND_ORDER_DETAIL 	
		  SET 
			<if
				test="specificationParameter != null and specificationParameter != ''">
				SPECIFICATION_PARAMETER = #{specificationParameter},   
			</if>
			<if
				test="optionalAccessories != null and optionalAccessories != ''">
				OPTIONAL_ACCESSORIES = #{optionalAccessories},  
			</if>
			<!-- 修改挑拨数量后 要修改需求数量、未申请数量、参考总价、询价总价 -->
			<if
				test="allocationCount != null and allocationCount != ''">
				ALLOCATION_COUNT = #{allocationCount},   
				NOT_APPLY_COUNT = DEMAND_COUNT - #{allocationCount},   
				<!-- REFERENCE_PRICE = #{referencePrice},
				INQUIRY_PRICE = #{inquiryPrice}, -->
			</if>
			<!-- 修改询价单价后 还要修改询价总价 -->
			<if
				test="inquiryUnitPrice != null and inquiryUnitPrice != ''">
				INQUIRY_UNIT_PRICE = #{inquiryUnitPrice},  
			</if>
			<if
				test="inquiryPrice != null and inquiryPrice != ''">
				INQUIRY_PRICE = #{inquiryPrice},  
			</if>
			<if
				test="referencePrice != null and referencePrice != ''">
				REFERENCE_PRICE = #{referencePrice},  
			</if>
			<if
				test="assetClassification != null and assetClassification != ''">
				ASSET_CLASSIFICATION = #{assetClassification},  
			</if>
			id =  #{id}  	
		  WHERE ID = #{id}  	
	</update>
	<update id="updateExamine1">
		UPDATE TB_FA_DEMAND_ORDER_DETAIL
		  SET
			<if
				test="specificationParameter != null and specificationParameter != ''">
				SPECIFICATION_PARAMETER = #{specificationParameter},
			</if>
			<if
				test="optionalAccessories != null and optionalAccessories != ''">
				OPTIONAL_ACCESSORIES = #{optionalAccessories},
			</if>
			<!-- 修改挑拨数量后 要修改需求数量、未申请数量、参考总价、询价总价 -->
			<if
				test="allocationCount != null and allocationCount != ''">
				ALLOCATION_COUNT = #{allocationCount},
				NOT_APPLY_COUNT = DEMAND_COUNT - #{allocationCount},
				<!-- REFERENCE_PRICE = #{referencePrice},
				INQUIRY_PRICE = #{inquiryPrice}, -->
			</if>
			<!-- 修改询价单价后 还要修改询价总价 -->
			<if
				test="inquiryUnitPrice != null and inquiryUnitPrice != ''">
				INQUIRY_UNIT_PRICE = #{inquiryUnitPrice},
			</if>
			<if
				test="inquiryPrice != null and inquiryPrice != ''">
				INQUIRY_PRICE = #{inquiryPrice},
			</if>





		<if
				test="inquiryUnitPrice != null and inquiryUnitPrice != ''">
			REFERENCE_UNIT_PRICE = #{inquiryUnitPrice},
		</if>
		<if
				test="inquiryPrice != null and inquiryPrice != ''">
			REFERENCE_PRICE = #{inquiryPrice},
		</if>

			<if
				test="referencePrice != null and referencePrice != ''">
				REFERENCE_PRICE = #{referencePrice},
			</if>
			<if
				test="assetClassification != null and assetClassification != ''">
				ASSET_CLASSIFICATION = #{assetClassification},
			</if>
			id =  #{id}
		  WHERE ID = #{id}
	</update>

	<update id="writeBack">
		UPDATE TB_FA_DEMAND_ORDER_DETAIL 	
		  SET APPLY_COUNT = APPLY_COUNT+#{thisApplyCount},  	
		  NOT_APPLY_COUNT = NOT_APPLY_COUNT-#{thisApplyCount}  	
		  WHERE ID = #{id}  	
	</update>
	
	<select id="deleteOrderDetailById">
		DELETE FROM TB_FA_DEMAND_ORDER_DETAIL WHERE ID = #{id}  	
	</select>
	
	<select id="searchDemandOrderDetailById" resultMap="demandOrderDetailMap">
		SELECT t.ID,
			t.DEMAND_ORDER_ID,
			t.ASSETS_NAME,
			t.APPLY_USER,
			t.DEMAND_COUNT,
			t.APPLY_COUNT,
			t.NOT_APPLY_COUNT,
			t.ALLOCATION_COUNT,
			t.CREATE_BY,
			t.CREATE_DATE,
			t.UPDATE_BY,
			t.UPDATE_DATE,
			t.CREATE_BY_CODE,
			t.UPDATE_BY_CODE,
			t.PROJECT_CODE,
			t.BUDGET_YEAR,
			t.SPECIFICATION_PARAMETER,
			t.FUNCTIONS,
			t.OPTIONAL_ACCESSORIES,
			t.ACCEPTANCE_CRITERIA,
			t.STANDARD_COMPUTER,
			t.REFERENCE_UNIT_PRICE,
			t.REFERENCE_PRICE,
			t.REFERENCE_PRICE_LOCAL,
			t.INQUIRY_UNIT_PRICE,
			t.INQUIRY_PRICE,
			t.REQUIREMENTS_DATE,
			t.COST_CENTER,
			t.COST_CENTER_CODE,
			t.USE_DESCRIPTION,
			t.UNITS,
			t.APPLY_USER_CODE,
			t.APPLY_DEPARTMENT,
			t.APPLY_DEPARTMENT_CODE,
			t.ASSET_TYPE,
			t.BUDGET_ASSETS_NAME
		FROM 
			TB_FA_DEMAND_ORDER_DETAIL t
		WHERE  
			t.ID = #{id}
	</select>
	
	<select id="searchDemandOrderDetailSumReferencePrice" resultMap="demandOrderDetailMap">
		SELECT T.PROJECT_CODE, SUM(T.REFERENCE_PRICE) AVALIABLE_SUM_MONEY
		  FROM TB_FA_DEMAND_ORDER_DETAIL T
		 WHERE T.DEMAND_ORDER_ID = #{cdocument}
		 GROUP BY T.PROJECT_CODE
	</select>
	<select id="searchDemandOrderIdByDetailId" parameterType="long" resultType="string">
		select t.demand_order_id from tb_fa_demand_order_detail t where t.id=#{id}
	</select>
</mapper>