<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.opple.fa.purchase.dao.PurchaseApplyMappingDAO">
    <!-- oracle 分页头 -->
    <sql id="pagination_Head">
        <![CDATA[select * from ( select row_.*, rownum rownum_ from ( ]]>
    </sql>
    <!-- oracle 分页尾 -->
    <sql id="pagination_Tail">
        <![CDATA[) row_ where rownum <= #{pager.pageSize}* #{pager.offset} ) where rownum_ >= #{pager.firstResult} + 1]]>
    </sql>
    <!-- count * from -->
    <sql id="count_Start_Head">
        <![CDATA[select count(*) from ( ]]>
    </sql>
    <sql id="count_Start_Tail">
        <![CDATA[) countObj ]]>
    </sql>
    <resultMap id="purchaseApplyMappingModelMap" type="com.opple.fa.purchase.model.PurchaseApplyMappingModel">
        <result property="id" column="ID" />
        <result property="assetsName" column="ASSETS_NAME" />
        <result property="applyDetailId" column="APPLY_DETAIL_ID" />
        <result property="purchaseId" column="PURCHASE_ID" />
        <result property="applyCount" column="APPLY_COUNT" />
        <result property="createBy" column="CREATE_BY" />
        <result property="createDate" column="CREATE_DATE" />
        <result property="updateBy" column="UPDATE_BY" />
        <result property="updateDate" column="UPDATE_DATE" />
        <result property="mergeNumber" column="MERGE_NUMBER" />
        <result property="demandDetailId" column="DEMAND_DETAIL_ID" />
        <result property="applyDemandId" column="APPLY_DEMAND_ID" />
        <result property="projectCode" column="PROJECT_CODE" />
        <result property="budgetYear" column="BUDGET_YEAR"/>
        
        <result property="specificationParameter" column="SPECIFICATION_PARAMETER" />
		<result property="functions" column="FUNCTIONS" />
		<result property="optionalAccessories" column="OPTIONAL_ACCESSORIES" />
		<result property="acceptanceCriteria" column="ACCEPTANCE_CRITERIA" />
		<result property="budgetDepartmentName" column="BUDGET_DEPARTMENT_NAME" />
		<result property="budgetDepartmentCode" column="BUDGET_DEPARTMENT_CODE" />
		<result property="units" column="UNITS" />
		<result property="inquiryUnitPrice" column="INQUIRY_UNIT_PRICE" />
		<result property="requirementsDate" column="REQUIREMENTS_DATE" />
		<result property="costCenter" column="COST_CENTER" />
		<result property="costCenterCode" column="COST_CENTER_CODE" />
		<result property="useDescription" column="USE_DESCRIPTION" />
		<result property="goodsCount" column="GOODS_COUNT" />
		<result property="checkCount" column="CHECK_COUNT" />
    </resultMap>
	<select id="searchPurchaseApplyMappingByOrderId1" resultMap="purchaseApplyMappingModelMap">
		SELECT * from TB_FA_PURCHASE_APPLY_MAPPING
		where PURCHASE_ID = #{cdocument}
	</select>
	<select id="searchPurchaseApplyMappingByOrderId" resultMap="purchaseApplyMappingModelMap">
		SELECT TM.*,
	       TDD.SPECIFICATION_PARAMETER,
	       TDD.FUNCTIONS,
	       TDD.OPTIONAL_ACCESSORIES,
	       TDD.ACCEPTANCE_CRITERIA,
	       TD.BUDGET_DEPARTMENT_NAME,
	       TD.BUDGET_DEPARTMENT_CODE,
	       TDD.UNITS,
	       TD.COST_CENTER,
	       TD.COST_CENTER_CODE,
	       TDD.USE_DESCRIPTION,
	       TDD.REQUIREMENTS_DATE,
	       TD.CDOCUMENT demandOrderId
		FROM BCC.TB_FA_PURCHASE_APPLY_MAPPING TM,
	       BCC.TB_FA_DEMAND_ORDER_DETAIL TDD,
	       BCC.TB_FA_DEMAND_ORDER TD
		WHERE TM.DEMAND_DETAIL_ID = TDD.ID
		AND TDD.DEMAND_ORDER_ID = TD.CDOCUMENT
		<if
			test="cdocument != null and cdocument != ''">
			AND TM.PURCHASE_ID LIKE '%' || #{cdocument} || '%' 
		</if>
	</select>

    <insert id="save">
        insert into TB_FA_PURCHASE_APPLY_MAPPING 
          ( ID,
        	ASSETS_NAME,
        	APPLY_DETAIL_ID,
        	PURCHASE_ID,
        	APPLY_COUNT,
        	CREATE_BY,
        	CREATE_DATE,
        	UPDATE_BY,
        	UPDATE_DATE,
        	MERGE_NUMBER,
        	DEMAND_DETAIL_ID,
        	APPLY_DEMAND_ID,
        	PROJECT_CODE,
        	BUDGET_YEAR
        	)   
         values
          ( seq_purchase_apply_mapping.nextval,  
            #{assetsName},   
            #{applyDetailId},   
            #{purchaseId},   
            #{applyCount},   
            #{createBy},   
            #{createDate},   
            #{updateBy},   
            #{updateDate},   
            #{mergeNumber}, 
            #{demandDetailId}, 
            #{applyDemandId}, 
            #{projectCode}, 
            #{budgetYear})
    </insert>

	<insert id="saveDeleteBranch" >
		insert into TB_FA_PURCHASE_APPLY_BK
          ( ID,
        	ASSETS_NAME,
        	APPLY_DETAIL_ID,
        	PURCHASE_ID,
        	APPLY_COUNT,
        	CREATE_BY,
        	CREATE_DATE,
        	UPDATE_BY,
        	UPDATE_DATE,
        	MERGE_NUMBER,
        	DEMAND_DETAIL_ID,
        	APPLY_DEMAND_ID,
        	PROJECT_CODE,
        	BUDGET_YEAR
        	)
         values
          ( #{id},
            #{assetsName},
            #{applyDetailId},
            #{purchaseId},
            #{applyCount},
            #{createBy},
            #{createDate},
            #{updateBy},
            sysdate,
            #{mergeNumber},
            #{demandDetailId},
            #{applyDemandId},
            #{projectCode},
            #{budgetYear})
	</insert>
   <delete id="deletePurchaseApplyMappingByPurchaseId">
		DELETE FROM TB_FA_PURCHASE_APPLY_MAPPING WHERE PURCHASE_ID = #{cdocument}  	
	</delete>
</mapper>