<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.opple.fa.purchase.dao.PurchaseCommonDAO">
       <!-- oracle 分页头 -->
    <sql id="pagination_Head" >
        <![CDATA[select * from ( select row_.*, rownum rownum_ from ( ]]>
    </sql>
    <!-- oracle 分页尾 -->
    <sql id="pagination_Tail">
        <![CDATA[) row_ where rownum <= #{pager.pageSize}* #{pager.offset} ) where rownum_ >= #{pager.firstResult} + 1]]>
    </sql>
    <!-- count * from -->
	<sql id="count_Start_Head">
		<![CDATA[select count(*) from ( ]]>
	</sql>
	<sql id="count_Start_Tail">
		<![CDATA[) countObj ]]>
	</sql>
	
	<resultMap id="purchaseCommonResultMap" type="com.opple.fa.purchase.entity.PurchaseCommon">
		<result property="id" column="ID"/>
		<result property="cdocument" column="CDOCUMENT"/><!-- 收货单编码 -->
		<result property="receiveGoodsId" column="RECEIVE_GOODS_ID"/><!-- 收货单编码 -->
		<result property="receiveGoodsDetailId" column="RECEIVE_GOODS_DETAIL_ID"/><!-- 收货单行编码 -->
		<result property="receiveStatus" column="RECEIVE_STATUS"/><!-- 收货状态 -->
		
		<result property="checkAcceptId" column="CHECK_ACCEPT_ID"/>
		<result property="checkAcceptDetailId" column="CHECK_ACCEPT_DETAIL_ID"/>
		<result property="checkStatus" column="CHECK_STATUS"/>
		
		<result property="thisGoodsCount" column="THIS_GOODS_COUNT"/><!-- 回写订单明细的收货数量 goods_count -->
		<result property="assetsName" column="ASSETS_NAME"/><!-- 资产名称 -->
		<result property="assetsType" column="ASSETS_TYPE"/><!-- 资产类型 -->
		<result property="applyCountDemand" column="APPLY_COUNT_DEMAND"/><!-- 订单需求数量（对应tb_fa_purchase_apply_mapping.apply_count） -->
		<result property="goodsCountDemand" column="GOODS_COUNT_DEMAND"/><!-- 订单需求收货数量（对应tb_fa_purchase_apply_mapping.goods_count） -->
		<result property="thisGoodsCountDemand" column="THIS_GOODS_COUNT_DEMAND"/><!-- 订单需求收货数量（对应tb_fa_purchase_apply_mapping.goods_count） -->
		<result property="projectCode" column="PROJECT_CODE"/><!-- 项目编码(tb_fa_purchase_apply_mapping) -->
		<result property="brand" column="BRAND"/><!-- 规格参数（订单明细）  -->
		<result property="functions" column="FUNCTIONS"/><!-- 规格参数（订单明细）  -->
		<result property="purchaseId" column="PURCHASE_ID" /><!-- 订单编码 -->
        <result property="purchaseDetailId" column="PURCHASE_DETAIL_ID"/><!-- 订单明细id -->
		<result property="applyDetailId" column="APPLY_DETAIL_ID"/>
		<result property="sapAssetsCode" column="SAP_ASSETS_CODE"/><!-- sap主编码-->
		<result property="sapMainAssetCode" column="SAP_MAIN_ASSET_CODE"/><!-- sap主编码-->
		<result property="sapSecAssetCode" column="SAP_SEC_ASSET_CODE"/><!-- sap次编码-->
		<result property="demandCount" column="DEMAND_COUNT"/><!-- 和sap次级编码的范围一致 (申请行，下申请的需求数量)-->
		<result property="demandId" column="DEMAND_ID"/><!-- 需求单明细编码 -->
		<result property="demandDetailId" column="DEMAND_DETAIL_ID"/><!-- 需求单明细编码 -->
		
		<result property="thisCheckCountDemand" column="THIS_CHECK_COUNT_DEMAND"/>
		<result property="checkApplyUser" column="CHECK_APPLY_USER"/>
		<result property="checkApplyCode" column="CHECK_APPLY_CODE"/>
		
		<result property="epMaterialDocument" column="EPMATERIALDOCUMENT"/>
		<result property="eBelnr" column="EBELNR"/>
		<result property="epMatDocumentYear" column="EPMATDOCUMENTYEAR"/>
		<result property="invoiceCheck" column="INVOICE_CHECK"/>										
		
		<!-- 创建人 创建时间 更新人 更新时间 -->
		<result property="createByCode" column="CREATE_BY_CODE" />
		<result property="createBy" column="CREATE_BY" />
		<result property="createDate" column="CREATE_DATE" />
		<result property="updateBy" column="UPDATE_BY" />
		<result property="updateDate" column="UPDATE_DATE" />
		<result property="companyCode" column="COMPANY_CODE" />
		<result property="orderNetMoney" column="ORDER_NET_MONEY" />
		<result property="orderMoney" column="ORDER_MONEY" />
		<result property="purchaseOrderSapNo" column="PURCHASE_ORDER_SAP_NO" />
		<result property="itemNo" column="ITEM_NO" />
		<result property="cardId" column="CARD_ID" />
		<result property="storageLocation" column="STORAGE_LOCATION" />
		<result property="recWarrantyPeriod" column="REC_WARRANTY_PERIOD" />
		<result property="checkAcceptDetailId" column="CHECK_ACCEPT_DETAIL_ID" />
		<result property="costCenterCode" column="COST_CENTER_CODE" />
		<result property="costCenter" column="COST_CENTER" />
		<result property="budgetDepartmentCode" column="BUDGET_DEPARTMENT_CODE" />
		<result property="budgetDepartmentName" column="BUDGET_DEPARTMENT_NAME" />
		<result property="systeManagementCode" column="SYSTE_MANAGEMENT_CODE" />
	</resultMap>
<!-- (收货单,保存) 回写tb_fa_purchase_order_detail.goods_count -->	
	<update id="updatePurchaseOrderDetailByPurchaseDetailId">
	UPDATE TB_FA_PURCHASE_ORDER_DETAIL POD
	SET
	POD.GOODS_COUNT = NVL(POD.GOODS_COUNT,0) + #{thisGoodsCount }
	WHERE 1=1
	AND POD.PURCHASE_ORDER_ID = #{purchaseId }
	AND POD.Apply_Detail_Id = #{applyDetailId }
	</update>
<!-- 	AND POD.ID = #{purchaseDetailId } -->
<!-- (收货单,修改) 回写tb_fa_purchase_order_detail.goods_count -->	
	<update id="updatePurchaseOrderDetailByApplyDetailId">
	UPDATE TB_FA_PURCHASE_ORDER_DETAIL POD
	SET
	POD.GOODS_COUNT = NVL(POD.GOODS_COUNT,0) + #{goodsCount}
	WHERE 1=1
	AND POD.PURCHASE_ORDER_ID = #{purchaseId }
	AND POD.Apply_Detail_Id = #{applyDetailId }
	</update>
<!--(收货单,保存) 回写tb_fa_purchase_apply_mapping的数量goods_count -->
	<update id="updatePurchaseApplyMappingByDemandDetailId">
     UPDATE TB_FA_PURCHASE_APPLY_MAPPING M
        SET M.GOODS_COUNT = NVL(M.GOODS_COUNT, 0) + #{thisGoodsCountDemand }
      WHERE 1 = 1
        AND M.PURCHASE_ID = #{purchaseId }
        AND M.APPLY_DETAIL_ID = #{applyDetailId }
        AND M.DEMAND_DETAIL_ID = #{demandDetailId }
	</update>
<!--(收货单,修改) 回写tb_fa_purchase_apply_mapping的数量goods_count -->
	<update id="updatePurchaseApplyMappingByDemandDetailIdChange">
     UPDATE TB_FA_PURCHASE_APPLY_MAPPING M
        SET M.GOODS_COUNT = nvl(M.GOODS_COUNT,0)+#{goodsCountDemand }
      WHERE 1 = 1
        AND M.PURCHASE_ID = #{purchaseId }
        AND M.APPLY_DETAIL_ID = #{applyDetailId }
        AND M.DEMAND_DETAIL_ID = #{demandDetailId }
	</update>
		
	<delete id="delPurchaseCommonBeforeSap">
	DELETE FROM TB_FA_PURCHASE_COMMON PC WHERE PC.PURCHASE_ID = #{purchaseId} AND PC.PURCHASE_DETAIL_ID = #{purchaseDetailId} 
	AND PC.SAP_ASSETS_CODE = #{sapAssetsCode} AND PC.COMPANY_CODE = #{companyCode}
	</delete>
	
		
<!--(收货单)  保存sap资产公共表 -->
	<insert id="savePurchaseCommon" keyProperty="id" useGeneratedKeys="true">
		
		<selectKey keyProperty="id" order="BEFORE" resultType="long">
			SELECT SEQ_FA_PURCHASE_COMMON_ID.NEXTVAL FROM DUAL
		</selectKey>
		INSERT INTO TB_FA_PURCHASE_COMMON PC
		  (
		   PC.ID,
	       PC.RECEIVE_GOODS_ID,
	       PC.PURCHASE_ID,
	       PC.PURCHASE_DETAIL_ID,
	       PC.APPLY_DETAIL_ID,
		   PC.DEMAND_ID,
		   PC.DEMAND_DETAIL_ID,
	       PC.SAP_ASSETS_CODE,
	       PC.SAP_MAIN_ASSET_CODE,
	       PC.SAP_SEC_ASSET_CODE,
	       PC.ASSETS_NAME,
	       PC.ASSETS_TYPE,
	       PC.PROJECT_CODE,
	       PC.BRAND,
	       PC.FUNCTIONS,
	       PC.CHECK_APPLY_USER,
	       PC.CHECK_APPLY_CODE,
		   PC.CARD_ID,
		   PC.ORDER_MONEY,
		   PC.ORDER_NET_MONEY,
		   PC.COMPANY_CODE,
		   PC.PURCHASE_ORDER_SAP_NO,
		   PC.ITEM_NO,
		   PC.CREATE_DATE
		   
		  )
		VALUES
		  (
		  #{id},
	      #{receiveGoodsId},
	      #{purchaseId},
	      #{purchaseDetailId},
	      #{applyDetailId},
	      #{demandId},
	      #{demandDetailId},
	      #{sapAssetsCode},
	      #{sapMainAssetCode},
	      #{sapSecAssetCode},
	      #{assetsName},
	      #{assetsType},
	      #{projectCode},
	      #{brand},
	      #{functions},
	      #{checkApplyUser},
	      #{checkApplyCode},
		  #{cardId},
		  #{orderMoney},
		  #{orderNetMoney},
		  #{companyCode},
		  #{purchaseOrderSapNo},
		  #{itemNo},
		  SYSDATE     
	      )
	</insert>
	<!-- 替换原来的新增方法，订单时新增数据，收货时更新数据，此方法为收货时调用-->
	<update id="updatePurchaseCommonAddCardId" >
		update TB_FA_PURCHASE_COMMON
		set
		RECEIVE_STATUS='Y'
		<if test="purchaseCommon.costCenterCode != null and purchaseCommon.costCenterCode !='' ">
			,COST_CENTER_CODE=#{purchaseCommon.costCenterCode}
		</if>
		<if test="purchaseCommon.costCenter != null and purchaseCommon.costCenter !='' ">
			,COST_CENTER=#{purchaseCommon.costCenter}
		</if>
		<if test="purchaseCommon.receiveGoodsId != null and purchaseCommon.receiveGoodsId !='' ">
			,RECEIVE_GOODS_ID=#{purchaseCommon.receiveGoodsId}
		</if>
		<if test="purchaseCommon.receiveGoodsDetailId != null and purchaseCommon.receiveGoodsDetailId !='' ">
			,RECEIVE_GOODS_DETAIL_ID=#{purchaseCommon.receiveGoodsDetailId}
		</if>
		<if test="purchaseCommon.purchaseId != null and purchaseCommon.purchaseId !='' ">
			,PURCHASE_ID=#{purchaseCommon.purchaseId}
		</if>
		<if test="purchaseCommon.purchaseDetailId != null and purchaseCommon.purchaseDetailId !='' ">
			,PURCHASE_DETAIL_ID=#{purchaseCommon.purchaseDetailId}
		</if>
		<if test="purchaseCommon.applyDetailId != null and purchaseCommon.applyDetailId !='' ">
			,APPLY_DETAIL_ID=#{purchaseCommon.applyDetailId}
		</if>
		<if test="purchaseCommon.demandId != null and purchaseCommon.demandId !='' ">
			,DEMAND_ID=#{purchaseCommon.demandId}
		</if>
		<if test="purchaseCommon.demandDetailId != null and purchaseCommon.demandDetailId !='' ">
			,DEMAND_DETAIL_ID=#{purchaseCommon.demandDetailId}
		</if>
		<if test="purchaseCommon.assetsName != null and purchaseCommon.assetsName !='' ">
			,ASSETS_NAME=#{purchaseCommon.assetsName}
		</if>
		<if test="purchaseCommon.projectCode != null and purchaseCommon.projectCode !='' ">
			,PROJECT_CODE=#{purchaseCommon.projectCode}
		</if>
		<if test="purchaseCommon.brand != null and purchaseCommon.brand !='' ">
			,BRAND=#{purchaseCommon.brand}
		</if>
		<if test="purchaseCommon.functions != null and purchaseCommon.functions !='' ">
			,FUNCTIONS=#{purchaseCommon.functions}
		</if>
		<if test="purchaseCommon.checkApplyUser != null and purchaseCommon.checkApplyUser !='' ">
			,CHECK_APPLY_USER=#{purchaseCommon.checkApplyUser}
		</if>
		<if test="purchaseCommon.checkApplyCode != null and purchaseCommon.checkApplyCode !='' ">
			,CHECK_APPLY_CODE=#{purchaseCommon.checkApplyCode}
		</if>
		<if test="purchaseCommon.cardId != null and purchaseCommon.cardId !='' ">
			,CARD_ID=#{purchaseCommon.cardId}
		</if>
		<if test="purchaseCommon.recWarrantyPeriod != null and purchaseCommon.recWarrantyPeriod !='' ">
			,REC_WARRANTY_PERIOD=#{purchaseCommon.recWarrantyPeriod}
		</if>
		<if test="purchaseCommon.budgetDepartmentCode != null and purchaseCommon.budgetDepartmentCode !='' ">
			,BUDGET_DEPARTMENT_CODE=#{purchaseCommon.budgetDepartmentCode}
		</if>
		<if test="purchaseCommon.budgetDepartmentName != null and purchaseCommon.budgetDepartmentName !='' ">
			,BUDGET_DEPARTMENT_NAME=#{purchaseCommon.budgetDepartmentName}
		</if>
		<if test="purchaseCommon.storageLocation != null and purchaseCommon.storageLocation !='' ">
			,STORAGE_LOCATION=#{purchaseCommon.storageLocation}
		</if>
		where SAP_ASSETS_CODE=#{purchaseCommon.sapAssetsCode}
		and COMPANY_CODE=#{purchaseCommon.companyCode}
		and PURCHASE_ID = #{purchaseCommon.purchaseId}


	</update>
	<!-- 根据收货单查询purchaseCommon，并用来回写-->
	<select id="getCountsByReceivedId" parameterType="string" resultMap="purchaseCommonResultMap" >
		select count(*) GOODS_COUNT_DEMAND,PURCHASE_ID,APPLY_DETAIL_ID,DEMAND_DETAIL_ID FROM TB_FA_PURCHASE_COMMON
		where RECEIVE_GOODS_ID = #{receiveGoodsId}
		GROUP BY PURCHASE_ID,APPLY_DETAIL_ID,DEMAND_DETAIL_ID
	</select>
	<!-- 保存草稿时 更新purchasecommon表 -->
	<update id="updatePurchaseCommonDraft" >
		update TB_FA_PURCHASE_COMMON
		set
			CARD_ID=#{purchaseCommon.cardId}
		<if test="purchaseCommon.costCenterCode != null and purchaseCommon.costCenterCode !='' ">
			,COST_CENTER_CODE=#{purchaseCommon.costCenterCode}
		</if>
		<if test="purchaseCommon.costCenter != null and purchaseCommon.costCenter !='' ">
			,COST_CENTER=#{purchaseCommon.costCenter}
		</if>
		<if test="purchaseCommon.budgetDepartmentCode != null and purchaseCommon.budgetDepartmentCode !='' ">
			,BUDGET_DEPARTMENT_CODE=#{purchaseCommon.budgetDepartmentCode}
		</if>
		<if test="purchaseCommon.budgetDepartmentName != null and purchaseCommon.budgetDepartmentName !='' ">
			,BUDGET_DEPARTMENT_NAME=#{purchaseCommon.budgetDepartmentName}
		</if>
		<if test="purchaseCommon.receiveGoodsId != null and purchaseCommon.receiveGoodsId !='' ">
			,RECEIVE_GOODS_ID=#{purchaseCommon.receiveGoodsId}
		</if>
		<if test="purchaseCommon.purchaseId != null and purchaseCommon.purchaseId !='' ">
			,PURCHASE_ID=#{purchaseCommon.purchaseId}
		</if>
		<if test="purchaseCommon.purchaseDetailId != null and purchaseCommon.purchaseDetailId !='' ">
			,PURCHASE_DETAIL_ID=#{purchaseCommon.purchaseDetailId}
		</if>
		<if test="purchaseCommon.applyDetailId != null and purchaseCommon.applyDetailId !='' ">
			,APPLY_DETAIL_ID=#{purchaseCommon.applyDetailId}
		</if>
		<if test="purchaseCommon.demandId != null and purchaseCommon.demandId !='' ">
			,DEMAND_ID=#{purchaseCommon.demandId}
		</if>
		<if test="purchaseCommon.demandDetailId != null and purchaseCommon.demandDetailId !='' ">
			,DEMAND_DETAIL_ID=#{purchaseCommon.demandDetailId}
		</if>
		<if test="purchaseCommon.assetsName != null and purchaseCommon.assetsName !='' ">
			,ASSETS_NAME=#{purchaseCommon.assetsName}
		</if>
		<if test="purchaseCommon.projectCode != null and purchaseCommon.projectCode !='' ">
			,PROJECT_CODE=#{purchaseCommon.projectCode}
		</if>
		<if test="purchaseCommon.brand != null and purchaseCommon.brand !='' ">
			,BRAND=#{purchaseCommon.brand}
		</if>
		<if test="purchaseCommon.functions != null and purchaseCommon.functions !='' ">
			,FUNCTIONS=#{purchaseCommon.functions}
		</if>
		<if test="purchaseCommon.checkApplyUser != null and purchaseCommon.checkApplyUser !='' ">
			,CHECK_APPLY_USER=#{purchaseCommon.checkApplyUser}
		</if>
		<if test="purchaseCommon.checkApplyCode != null and purchaseCommon.checkApplyCode !='' ">
			,CHECK_APPLY_CODE=#{purchaseCommon.checkApplyCode}
		</if>

		<if test="purchaseCommon.recWarrantyPeriod != null and purchaseCommon.recWarrantyPeriod !='' ">
			,REC_WARRANTY_PERIOD=#{purchaseCommon.recWarrantyPeriod}
		</if>
		<if test="purchaseCommon.storageLocation != null and purchaseCommon.storageLocation !='' ">
			,STORAGE_LOCATION=#{purchaseCommon.storageLocation}
		</if>
		where SAP_ASSETS_CODE=#{purchaseCommon.sapAssetsCode}
		and COMPANY_CODE=#{purchaseCommon.companyCode}
		and PURCHASE_ID = #{purchaseCommon.purchaseId}

	</update>
<!-- (收货单) 根据receiveGoodsId 删除TB_FA_PURCHASE_COMMON-->
	<delete id="delPurchaseCommonByReceiveGoodsId">
	DELETE TB_FA_PURCHASE_COMMON PC
	 WHERE 1 = 1
	   AND PC.RECEIVE_GOODS_ID = #{receiveGoodsId}
	</delete>
	
	
	<!--(验收单  保存) 回写验收数量  tb_fa_purchase_order_detail.check_count -->
	<update id="updatePurchaseOrderDetailCheckCountByPurchaseDetailId">
	UPDATE TB_FA_PURCHASE_ORDER_DETAIL POD
		SET 
		POD.CHECK_COUNT = nvl(POD.CHECK_COUNT,0) + #{thisCheckCount }
	WHERE 1=1
	AND  POD.ID = #{purchaseDetailId }
	AND  POD.PURCHASE_ORDER_ID = #{purchaseId}
	</update>
	<!--(验收单  修改) 回写验收数量  tb_fa_purchase_order_detail.check_count -->
	<update id="updatePurchaseOrderDetailCheckCountByPurchaseDetailIdChange">
	UPDATE TB_FA_PURCHASE_ORDER_DETAIL POD
		SET 
		POD.CHECK_COUNT = #{checkCount }
	WHERE 1=1
	AND  POD.ID = #{purchaseDetailId }
	AND  POD.PURCHASE_ORDER_ID = #{purchaseId}
	</update>
	
	
	
	<!--(验收单 保存) 回写订单申请映射表 的验收数量  （回写tb_fa_purchase_apply_mapping.check_count -->
	<update id="updatePurchaseApplyMappingCheckCountByDemandDetailId">
		UPDATE TB_FA_PURCHASE_APPLY_MAPPING  M
			SET 
	          M.CHECK_COUNT = nvl(M.CHECK_COUNT,0) + #{thisCheckCountDemand }
		WHERE 1=1 
			AND   M.PURCHASE_ID = #{purchaseId }
			AND   M.APPLY_DETAIL_ID = #{applyDetailId }
			AND   M.DEMAND_DETAIL_ID = #{demandDetailId }
	</update>
	<!--(验收单 修改) 回写订单申请映射表 的验收数量  （回写tb_fa_purchase_apply_mapping.check_count -->
	<update id="updatePurchaseApplyMappingCheckCountByDemandDetailIdChange">
		UPDATE TB_FA_PURCHASE_APPLY_MAPPING  M
			SET 
	          M.CHECK_COUNT =  #{checkCountDemand }
		WHERE 1=1 
			AND   M.PURCHASE_ID = #{purchaseId }
			AND   M.APPLY_DETAIL_ID = #{applyDetailId }
			AND   M.DEMAND_DETAIL_ID = #{demandDetailId }
	</update>
	
	<!-- (验收单 保存) 回写sap资产公共表(tb_fa_purchase_common.check_status),验收后更改验收状态 -->
	<update id="updatePurchaseCommonBySapAssetsCode">
	   UPDATE TB_FA_PURCHASE_COMMON PC
       SET PC.CHECK_ACCEPT_DETAIL_ID=#{checkAcceptDetailId},
	       PC.CHECK_STATUS = 'Y', --默认空
	      -- PC.RECEIVE_STATUS = 'N', --默认Y
			PC.CHECK_ACCEPT_ID=#{checkAcceptId},
			PC.STORAGE_LOCATION=#{storageLocation}

     WHERE 1 = 1
       AND PC.RECEIVE_GOODS_ID = #{receiveGoodsId }
       AND PC.APPLY_DETAIL_ID = #{applyDetailId }
       AND PC.DEMAND_DETAIL_ID = #{demandDetailId }
       AND PC.SAP_ASSETS_CODE = #{sapAssetsCode }
       AND PC.RECEIVE_STATUS = 'Y'
       AND PC.CARD_ID = #{cardId}
	</update>
	<update id="updatePurchaseCommonBySapAssetsCode1">
		UPDATE TB_FA_PURCHASE_COMMON PC
		SET
		PC.CHECK_STATUS = '', --默认空
		--PC.RECEIVE_STATUS = 'Y', --默认Y
		PC.CHECK_ACCEPT_ID=''
		WHERE 1 = 1
		AND PC.RECEIVE_GOODS_ID = #{receiveGoodsId }
		AND PC.APPLY_DETAIL_ID = #{applyDetailId }
		AND PC.DEMAND_DETAIL_ID = #{demandDetailId }
		AND PC.SAP_ASSETS_CODE = #{sapAssetsCode }
		--AND PC.RECEIVE_STATUS = 'N'
	</update>
	<!-- (验收单 修改) 回写sap资产公共表(tb_fa_purchase_common.check_status),更改为原来的状态 -->
	<update id="updatePurchaseCommonByReceiveGoodsId">
	   UPDATE TB_FA_PURCHASE_COMMON PC
       SET 
	       PC.CHECK_STATUS = '', 
	       PC.RECEIVE_STATUS = 'Y'
     WHERE 1 = 1
       AND PC.RECEIVE_GOODS_ID = #{receiveGoodsId }
	</update>
	<!-- (验收单 修改) 回写sap资产公共表(tb_fa_purchase_common.check_status),验收后更改验收状态 -->
	<update id="updatePurchaseCommonBySapAssetsCodeChange">
	   UPDATE TB_FA_PURCHASE_COMMON PC
       SET 
	       PC.CHECK_STATUS = 'Y',
	       PC.STORAGE_LOCATION=#{storageLocation}
	  --     PC.RECEIVE_STATUS = 'N'
     WHERE 1 = 1
       AND PC.RECEIVE_GOODS_ID = #{receiveGoodsId }
       AND PC.APPLY_DETAIL_ID = #{applyDetailId }
       AND PC.DEMAND_DETAIL_ID = #{demandDetailId }
       AND PC.SAP_ASSETS_CODE = #{sapAssetsCode }
        AND PC.CARD_ID = #{cardId}
      -- AND PC.RECEIVE_STATUS = 'Y'
	</update>
	
	<!-- 查询sap资产明细 -->
	<select id="searchPurchaseCommonByReceiveGoodsId" resultMap="purchaseCommonResultMap">
	   SELECT *
	     FROM TB_FA_PURCHASE_COMMON PC
	    WHERE 1 = 1
	      AND PC.RECEIVE_GOODS_ID =#{receiveGoodsId } 
	</select>

	<select id="getPurchaseCommonbyPurchaseId" resultMap="purchaseCommonResultMap" parameterType="com.opple.fa.purchase.entity.PaymentOrder">
	   select p.*,d.ep_matdocumentyear as epMatDocumentYear,d.ep_materialdocument as epMaterialDocument,d.e_belnr as eBelnr from
			TB_FA_PURCHASE_COMMON p 
		left join tb_fa_check_acceptance t on t.cdocument = p.check_accept_id 
	    left join tb_fa_check_acceptance_detail d on T.CDOCUMENT = D.CHECK_ACCEPT_ID AND P.CHECK_ACCEPT_DETAIL_ID = D.ID
		where p.purchase_id = #{purchaseOrderId} and t.capprovalstate = '已完成' and p.INVOICE_CHECK = '0'
	</select>
	<select id="getPurchaseCommonOnly" resultMap="purchaseCommonResultMap">
		SELECT * from TB_FA_PURCHASE_COMMON
		where 1 = 1
		AND CARD_ID = #{cardId}
	</select>
	<select id="getPurchaseCommonById" resultMap="purchaseCommonResultMap">
		SELECT * from TB_FA_PURCHASE_COMMON
		where 1 = 1
		AND ID = #{id}
	</select>
	<select id="getPurchaseCommonByReceiveId" resultMap="purchaseCommonResultMap">
		select * from TB_FA_PURCHASE_COMMON where RECEIVE_GOODS_ID=#{receiveGoodsId}
	</select>
	<delete id="deletePuchaseComon" parameterType="com.opple.fa.purchase.entity.PurchaseCommon">
		delete from TB_FA_PURCHASE_COMMON where id =#{id}
	</delete>
	<update id="updatePurchaseCommonLocation">
		update TB_FA_PURCHASE_COMMON t SET
		<if test="null != recWarrantyPeriod and '' != recWarrantyPeriod">
			t.REC_WARRANTY_PERIOD=#{recWarrantyPeriod},
		</if>
        <if test="null != cardId and '' != cardId">
            t.CARD_ID=#{cardId},
        </if>
		<if test="null != receiveGoodsDetailId and '' != receiveGoodsDetailId">
        t.RECEIVE_GOODS_DETAIL_ID=#{receiveGoodsDetailId},
		</if>
		<if test="null != systeManagementCode and '' != systeManagementCode">
        t.SYSTE_MANAGEMENT_CODE=#{systeManagementCode},
		</if>

		t.CHECK_APPLY_USER = #{checkApplyUser},
        t.CHECK_APPLY_CODE = #{checkApplyCode},
		t.STORAGE_LOCATION=#{storageLocation},
		t.RECEIVE_STATUS = 'Y'
		where ID = #{id}
	</update>
	<update id="updatePurchaseCommon">
		update TB_FA_PURCHASE_COMMON t SET
		t.INVOICE_CHECK = '1'
		where ID = #{purchaseCommon.id}
	</update>
	<update id="updateDelPurchaseCommon" parameterType="com.opple.fa.purchase.entity.PurchaseCommon">
		update TB_FA_PURCHASE_COMMON t SET
		RECEIVE_GOODS_ID='',
		APPLY_DETAIL_ID='',
		DEMAND_DETAIL_ID='',
		DEMAND_ID='',
		PROJECT_CODE='',
		BRAND='',
		FUNCTIONS='',
		CHECK_APPLY_USER='',
		CHECK_APPLY_CODE='',
		RECEIVE_STATUS='',
		CARD_ID='',
		STORAGE_LOCATION='',
		COST_CENTER_CODE='',
		COST_CENTER='',
		BUDGET_DEPARTMENT_NAME='',
		BUDGET_DEPARTMENT_CODE=''
		where ID = #{id}
	</update>
	<resultMap id="receiveGoodsMappingResultMap" type="com.opple.fa.purchase.entity.ReceiveGoodsMapping">
		<!-- 申请部门：取 申请单的部门 -->
		<!-- 预算所属部门：取 申请单的预算所属部门 -->
		<result property="cdocument" column="CDOCUMENT"/><!-- 收货单编码 -->
		<result property="receiveGoodsId" column="RECEIVE_GOODS_ID"/><!-- 收货单编码 -->
		<result property="applyCountAll" column="APPLY_COUNT_ALL"/><!-- 订单数量（订单行加和） -->
		<result property="goodsCountAll" column="GOODS_COUNT_ALL"/><!-- 收货数量（订单行加和）  -->
		<result property="applyDate" column="APPLY_DATE" /><!-- -->
		<result property="receiveDate" column="RECEIVE_DATE" /><!-- -->
		<result property="applyDateStart" column="APPLY_DATE_START" /><!-- 申请日期（订单的日期）-->
		<result property="applyDateEnd" column="APPLY_DATE_END" /><!-- 收货单创建的日期-->
		<result property="doProcess" column="DO_PROCESS" /><!-- 代办（默认为：代办，完成就不显示了，1:是，0:否）-->
		<result property="capprovalstate" column="CAPPROVALSTATE" /><!-- 审批状态 -->
		<result property="draft" column="DRAFT" />
		<result property="orderStatus" column="ORDER_STATUS" />
		<result property="purchaseOrderSapId" column="PURCHASE_ORDER_SAP_ID" /><!-- 采购订单号（sap） -->
		<result property="buyerName" column="BUYER_NAME" /><!-- 采购员名称（订单行） -->
		<result property="buyerCode" column="BUYER_CODE" /><!-- 采购员CODE（订单行） -->
		<result property="supplierCode" column="SUPPLIER_CODE" />
		<result property="supplierName" column="SUPPLIER_NAME" />
		<result property="companyCode" column="COMPANY_CODE" />
		<result property="companyName" column="COMPANY_NAME" />
		<result property="costCenter" column="COST_CENTER"/>
		<result property="costCenterCode" column="COST_CENTER_CODE"/><!-- 成本中心 -->
		<result property="assetsType" column="ASSETS_TYPE"/><!-- 资产类型 -->
		<result property="platform" column="PLATFORM"/><!-- 申请部门所属平台 （订单头）-->
		<result property="buyerRemark" column="BUYER_REMARK"/><!-- 采购员备注 -->
		<result property="headerTextDescription" column="HEADER_TEXT_DESCRIPTION"/><!-- 抬头文本说明 （订单头）-->
		<result property="contractNo" column="CONTRACT_NO" /><!-- 合同号（手填） -->
		<result property="applyOrderId" column="APPLY_ORDER_ID" /><!-- 合同号（手填） -->
		<result property="demandOrderId" column="DEMAND_ORDER_ID" /><!-- 合同号（手填） -->

		<result property="applyDepartment" column="APPLY_DEPARTMENT" /><!-- 申请部门(采购申请的部门)-->
		<result property="applyDepartmentCode" column="APPLY_DEPARTMENT_CODE" /><!-- 申请部门code(采购申请的部门)-->
		<result property="budgetDepartmentName" column="BUDGET_DEPARTMENT_NAME" /><!-- 需求部门code(采购申请的预算所属部门)-->
		<result property="budgetDepartmentCode" column="BUDGET_DEPARTMENT_CODE" /><!-- 需求部门(采购申请的预算所属部门)-->
		<result property="officeLocation" column="OFFICE_LOCATION" /><!-- 办公地点(采购申请的办公地点)-->

		<result property="purchaseId" column="PURCHASE_ID" /><!-- 订单编码 -->
		<result property="assetsName" column="ASSETS_NAME"/><!-- 资产名称 -->
		<result property="brand" column="BRAND"/><!-- 规格型号 -->
		<result property="units" column="UNITS"/><!-- 单位（申请单的行） -->
		<result property="applyCount" column="APPLY_COUNT"/><!-- 订单数量（订单行） -->
		<result property="goodsCount" column="GOODS_COUNT"/><!-- 已收货数量（订单行） 然后保存到收货的行里 -->
		<result property="thisGoodsCount" column="THIS_GOODS_COUNT"/><!-- 本次收货数量（手填） -->
		<result property="tax" column="TAX"/><!-- 税率 -->
		<result property="purchaseUnitPrice" column="PURCHASE_UNIT_PRICE"/><!-- 单价（含税） -->
		<result property="purchasePrice" column="PURCHASE_PRICE"/><!-- 总价（含税） -->
		<result property="ledgerAccount" column="LEDGER_ACCOUNT"/><!-- 总账科目 -->
		<result property="deliveryDate" column="DELIVERY_DATE"/><!-- 交货日期 -->
		<result property="requireCheckDate" column="REQUIRE_CHECK_DATE" /><!-- 验收日期(手填) -->
		<result property="recWarrantyPeriod" column="REC_WARRANTY_PERIOD"/><!-- 保固期，手填 -->
		<result property="storageLocation" column="STORAGE_LOCATION" /><!-- 存放位置（手填） -->
		<result property="applyDetailId" column="APPLY_DETAIL_ID" /><!-- 关联字段（隐藏）-->
		<result property="purchaseDetailId" column="PURCHASE_DETAIL_ID"/><!-- 订单明细id -->
		<result property="demandId" column="DEMAND_ID"/><!-- 需求单编码 -->
		<result property="demandDetailId" column="DEMAND_DETAIL_ID"/><!-- 需求单明细编码 -->
		<result property="applyCountDemand" column="APPLY_COUNT_DEMAND"/><!-- 订单需求数量（对应tb_fa_purchase_apply_mapping.apply_count） -->
		<result property="goodsCountDemand" column="GOODS_COUNT_DEMAND"/><!-- 订单需求收货数量（对应tb_fa_purchase_apply_mapping.goods_count） -->
		<result property="checkCountDemand" column="CHECK_COUNT_DEMAND"/><!-- 订单需求收货数量（对应tb_fa_purchase_apply_mapping.goods_count） -->
		<result property="thisGoodsCountDemand" column="THIS_GOODS_COUNT_DEMAND"/><!-- 订单需求收货数量（对应tb_fa_purchase_apply_mapping.goods_count） -->
		<result property="projectCode" column="PROJECT_CODE"/><!-- 项目编码(tb_fa_purchase_apply_mapping) -->
		<result property="functions" column="FUNCTIONS" /><!-- 功能 -->
		<result property="applyDetailId" column="APPLY_DETAIL_ID" /><!-- applyDetailId关联字段（隐藏）-->
		<result property="demandCount" column="DEMAND_COUNT" /><!-- applyDetailId关联字段（隐藏）和sap次级编码的范围一致-->
		<result property="sapMainAssetCode" column="SAP_MAIN_ASSET_CODE"/><!-- sap主编码-->
		<result property="sapSecAssetCode" column="SAP_SEC_ASSET_CODE"/><!-- sap次编码-->
		<result property="sapAssetsCode" column="SAP_ASSETS_CODE"/><!-- sap编码-->
		<result property="checkApplyUser" column="CHECK_APPLY_USER" /><!-- 验收人(默认带出需求单头的申请人) -->
		<result property="checkApplyCode" column="CHECK_APPLY_CODE" /><!-- 验收人(默认带出需求单头的申请人) -->
		<result property="loginUserName" column="LOGIN_USER_NAME"/>
		<result property="loginUserCode" column="LOGIN_USER_CODE"/>
		<result property="specificationParameter" column="SPECIFICATION_PARAMETER"/>
		<result property="periodOfDepreciation" column="DEPRECIATION"/>
		<result property="netSalvage" column="NET_SALVAGE"/>
		<!-- 创建人 创建时间 更新人 更新时间 -->
		<result property="status" column="STATUS" />
		<result property="createBy" column="CREATE_BY" />
		<result property="createDate" column="CREATE_DATE" />
		<result property="updateBy" column="UPDATE_BY" />
		<result property="updateDate" column="UPDATE_DATE" />
		<result property="attachDepartAdminName" column="ATTACH_DEPART_ADMIN_NAME" />
		<result property="attachDepartAdminCode" column="ATTACH_DEPART_ADMIN_CODE" />
		<!-- 	SEQ_FA_RECEIVE_CHECK_ID -->
	</resultMap>
	<select id="selectReceiveCheckMapping" parameterType="string" resultMap="receiveGoodsMappingResultMap" >
		select m.*,t1.apply_count apply_count_demand from (select
			   receive_goods_id,
			   t.demand_id,
			   t.demand_detail_id,
			   t.purchase_id,

			   t.purchase_detail_id,
			   t.apply_detail_id,
			   t.assets_name,
			   t.assets_type,
			   count(*) goods_count_demand,
			   t.brand,
			   t.functions
		  from tb_fa_purchase_common t
		 where t.receive_goods_id = #{receiveGoodsId}
		 group by receive_goods_id,
			  t.demand_id,
			  t.demand_count,
			  t.purchase_id,
			  t.demand_detail_id,
			  t.purchase_detail_id,
			  t.apply_detail_id,
			  t.assets_name,
			  t.assets_type,
			  t.brand,
			  t.functions)m,tb_fa_apply_order_detail t1
          where m.apply_detail_id =t1.id
	</select>


	<select id="getPurchaseCommonByCheckAcceptanceDetailId" resultMap="purchaseCommonResultMap">
		select * from TB_FA_PURCHASE_COMMON
		where CHECK_ACCEPT_DETAIL_ID IN
		<foreach collection="list" item="id" separator="," open="(" close=")">
			#{id}
		</foreach>
	</select>

	<update id="updatePurchaseOrderStatus">
		update TB_FA_PURCHASE_ORDER A
        set A.ORDER_STATUS = '未关闭'
        where A.CDOCUMENT = #{purchaseId}
	</update>
</mapper>

